doctype html
html(lang="ru-RU")
	include ../common/head.pug
	body
		<!--[if lt IE 10 ]>
		<p class="browserupgrade">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/?locale=ru">Обновите ваш браузер</a> чтобы воспользоваться всеми возможностями сайта.</p>
		<![endif]-->
		.wrapper
			//- Variable content
			block content
		include ../common/footer.pug