section.contact
	.contact__inner
		.contact__title.
			Остались вопросы?<br> Свяжитесь с нами!
		ul.contact__list
			li.contact__item
				h4 Звоните
				.contact__item-info +7 (812) 555-66-66
			li.contact__item
				h4 Пишите:
				.contact__item-info mail@htmlacademy.ru
			li.contact__item
			li.contact__item
				h4 Приезжайте в гости
				.contact__item-info ул. Большая <br>Конюшенная, 19/8

