section.descr
	.descr__slogan
		.descr__slogan-text.
			Устали от серости мегаполиса?
		.descr__slogan-text.
			Нам есть, что вам <br> предложить!
	.descr__content
		.descr__content-inner
			ul.descr__screen-list
				li.descr__screen-item
					picture
						source(media="(min-width:940px)", srcset="img/iphone-screen-3-1@1x.png 1x, img/iphone-screen-3-1@2x.png 2x")
						source(media="(min-width:700px)", srcset="img/iphone-screen-2-3@1x.png 1x, img/iphone-screen-2-3@2x.png 2x")
						img(src="img/img-iphone.png" srcset="img/iphone-screen-1-3@2x.png 2x, img/iphone-screen-1-3@3x.png 3x", alt="Download App")
				li.descr__screen-item
					picture
						source(media="(min-width:940px)", srcset="img/iphone-screen-3-2@1x.png 1x, img/iphone-screen-3-2@2x.png 2x")
						source(media="(min-width:700px)", srcset="img/iphone-screen-2-3@1x.png 1x, img/iphone-screen-2-3@2x.png 2x")
						img(src="img/img-iphone.png" srcset="img/iphone-screen-1-3@2x.png 2x, img/iphone-screen-1-3@3x.png 3x", alt="Download App")
				li.descr__screen-item
					picture
						source(media="(min-width:940px)", srcset="img/iphone-screen-3-3@1x.png 1x, img/iphone-screen-3-3@2x.png 2x")
						source(media="(min-width:700px)", srcset="img/iphone-screen-2-3@1x.png 1x, img/iphone-screen-2-3@2x.png 2x")
						img(src="img/img-iphone.png" srcset="img/iphone-screen-1-3@2x.png 2x, img/iphone-screen-1-3@3x.png 3x", alt="Download App")
			ul.descr__content-list
				li.descr__content-item.mood
					h3.descr__item-title Поднимает настроение
					.descr__item-text.
						Приложение позволит вам победить осеннюю хандру и депрессию буквально в несколько кликов!
				li.descr__content-item.change
					h3.descr__item-title Меняет мир вокруг
					.descr__item-text.
						Сделайте снимок и украсьте его смайликом или текстовой подписью, чтобы усилить эффект
				li.descr__content-item.new-friends
					h3.descr__item-title Заводит новых друзей
					.descr__item-text.
						Ставьте лайки, комментируте, делитесь фотографиями с друзьями и заводите новых