section.experiment
	.experiment__inner
		.experiment__image
			picture
				source(media="(min-width:940px)", srcset="img/img-24-desktop.png")
				source(media="(min-width:700px)", srcset="img/img-24.png")
				img(src="img/img-24.png", alt="Logo")
		.experiment__content
			h3.experiment__title Эффект<br> на 24 часа!
			.experiment__text.
				Британские ученые провели исследования
				и доказали, что положительный эффект
				от использования приложения длится 
				целые сутки!
			a.experiment__link(href="", title="More About") Узнать больше об исследовании