footer.page-footer
	a.page-footer__logo(href="#")
		picture
			source(media="(min-width:940px)", srcset="img/Pink-logo-footer-3@1x.png 1x, img/Pink-logo-footer-3@2x.png 2x")
			img(src="img/Pink-logo-footer-2@2x.png", alt="Boottom Logo", width="147", height="40")
	.page-footer__social
		ul.page-footer__social-list
			li.page-footer__social-item
				a.page-footer__social-link.tw(href="") Twitter
			li.page-footer__social-item
				a.page-footer__social-link.fb(href="") Facebook
			li.page-footer__social-item
				a.page-footer__social-link.yt(href="") Youtube
	.page-footer__developer
		.page-footer__developer-content Разработано