header.page-header
	.page-header__top-inner
		.page-header__logo-nav-wrapper.main-nav--nojs
			a.page-header__logo(href="", alt="Pink")
				picture
					source(media="(min-width:940px)", srcset="img/logotype-white-desktop.svg")
					source(media="(min-width:700px)", srcset="img/logotype-white-tablet.svg")
					img(src="img/logotype-white-mobile.svg", alt="Logo")
			a.toggle-menu(href="#") Toggle Menu
			nav.main-nav
				ul.main-nav__list
					li.main-nav__item.main-nav__item--active: a.main-nav__link() Главная
					li.main-nav__item: a.main-nav__link(href="") Фотографии
					li.main-nav__item: a.main-nav__link(href="") Конкурс
					li.main-nav__item: a.main-nav__link(href="") О нас
					li.main-nav__item: a.main-nav__link(href="") Контакты
	.download__wrapper
		.download__content
			h1 Взгляните<br> на жизнь<br> иначе!
			a.btn(href="", title="Download our App") Скачать приложение
			.download-text__appst-links-wrapper
				a.appstore(href="", title="Download our App") Download from Appstore
				a.playmarket(href="", title="Download our App") Download from Play Market
				a.marketplace(href="", title="Download our App") Download from Marketplace
			.download__text.
				Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 9
		.download__img
			picture
				source(media="(min-width:940px)", srcset="img/iphone-hand-3@1x.png 1x, img/iphone-hand-3@2x.png 2x")
				source(media="(min-width:700px)", srcset="img/iphone-hand-2@1x.png 1x, img/iphone-hand-2@2x.png 2x")
				img(src="img/iphone-hand-1.png" srcset="img/iphone-hand-1@2x.png 2x, img/iphone-hand-1@3x.png 3x", alt="Download App")
.download__content--mobile
	h1 Взгляните на жизнь иначе!
	a.btn(href="", title="Download our App") Скачать приложение
	.download-text__appst-links-wrapper
		a.appstore(href="", title="Download our App") Download from Appstore
		a.playmarket(href="", title="Download our App") Download from Play Market
		a.marketplace(href="", title="Download our App") Download from Marketplace
	.download__text.
		Доступно для iPhone, iPad, Android, Windows Phone, OS X, Windows 9
