section.reviews
	.reviews__list
		.reviews__item
			.reviews__text.
				«Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!»
			.reviews__author Николай Петров
			.reviews__position 25 лет, водитель трамвая