//
// Scaffolding
// --------------------------------------------------

//Adjustment vars

$footer-height: 27px;
$body-bg: #fff;


// Reset the box-sizing
// 
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing

* {
	box-sizing:border-box;
}

*:before,
*:after {
	box-sizing:border-box;
}

// Body reset
html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	font-family: $ff-regular;
	font-size: $font-size-base;
	//font-size: 62.5%;
	line-height: $line-height-base;
	-webkit-font-smoothing: antialiased;
	color: $text-color;
	background-color: $body-bg;
	min-width: 320px;
}

.wrapper {
	display: flex;
	max-width: 1341px;
	margin: 0 auto;
}

.main-content {
	width: auto;
	min-height: 100%;
	position: relative;
	overflow: hidden;
	z-index: 1;
	//min-width: 320px;
	@media (min-width:768px) {
		width: auto;
		width: 718px;
	}

	@media (min-width:1024px) {
		max-width: 1341px;
	}
}

.main-content:after {
	content: "";
	display: none;
	//height: $footer-height;
	min-height: $footer-height;
	overflow: hidden;

	@media #{$tablet-widths} {
		display: block;
		min-height: $footer-height;
	}
}


// .wrapper {
// 	min-height: 100%;
// 	position: relative;
// 	overflow: hidden;
// 	//min-width: 320px;
// }

// .wrapper:after {
// 	content: "";
// 	display: none;
// 	//height: $footer-height;
// 	min-height: $footer-height;
// 	overflow: hidden;

// 	@media #{$tablet-widths} {
// 		display: block;
// 		min-height: $footer-height;
// 	}
// }

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	clip: rect(0 0 0 0);
	overflow: hidden;
}


footer.page-footer {
	min-height: $footer-height;
	width: 100%;
	margin-top: -$footer-height!important;
	position: relative;
	//min-width: $container-width + 20px;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


img {
	max-width: 100%;
	height: auto;
	display: block;
}

i {
	font-style: normal;
}


// Links

a {
	font-family: $ff-regular;
	color: $link-color;
	text-decoration: none;
	transition: all .3s;

	&:hover,
	&:focus {
		//color: @link-hover-color;
		//text-decoration: @link-hover-decoration;
	}

	&:focus {
		//.tab-focus();
	}
}

// Figures
//
// We reset this here because previously Normalize had no `figure` margins. This
// ensures we don't break anyone's use of the element.

figure {
	margin: 0;
}

button {
	bottom: 0;
	border: none;
}


// iOS "clickable elements" fix for role="button"
//
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

[role="button"] {
	cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

