extends ../layouts/main-layout

block title
	title Бренды

block content
	.brands-page
		.brands-page__inner
			.main-content
				h1.brands-page__title Бренды
				.brands-page__content
					.brands-page__content-list
						a.brands-page__content-item(href="")
							.brands-page__item-image
								img(src="img/img-logo-cube.jpg", alt="Logo image")
							.brands-page__item-name Cube
						a.brands-page__content-item(href="")
							.brands-page__item-image
								img(src="img/logo-scot.jpg", alt="Logo image")
							.brands-page__item-name Scott
						a.brands-page__content-item(href="")
							.brands-page__item-image
								img(src="img/img-logo-merida.jpg", alt="Logo image")
							.brands-page__item-name Merida
						a.brands-page__content-item(href="")
							.brands-page__item-image
								img(src="img/img-logo-giant.jpg", alt="Logo image")
							.brands-page__item-name Giant
						a.brands-page__content-item(href="")
							.brands-page__item-image
								img(src="img/img-logo-cube.jpg", alt="Logo image")
							.brands-page__item-name Cube
						a.brands-page__content-item(href="")
							.brands-page__item-image
								img(src="img/logo-scot.jpg", alt="Logo image")
							.brands-page__item-name Scott
						a.brands-page__content-item(href="")
							.brands-page__item-image
								img(src="img/img-logo-merida.jpg", alt="Logo image")
							.brands-page__item-name Merida
						a.brands-page__content-item(href="")
							.brands-page__item-image
								img(src="img/img-logo-giant.jpg", alt="Logo image")
							.brands-page__item-name Giant
						a.brands-page__content-item(href="")
							.brands-page__item-image
								img(src="img/img-logo-cube.jpg", alt="Logo image")
							.brands-page__item-name Cube
						a.brands-page__content-item(href="")
							.brands-page__item-image
								img(src="img/logo-scot.jpg", alt="Logo image")
							.brands-page__item-name Scott
						a.brands-page__content-item(href="")
							.brands-page__item-image
								img(src="img/img-logo-merida.jpg", alt="Logo image")
							.brands-page__item-name Merida
						a.brands-page__content-item(href="")
							.brands-page__item-image
								img(src="img/img-logo-giant.jpg", alt="Logo image")
							.brands-page__item-name Giant
						a.brands-page__content-item(href="")
							.brands-page__item-image
								img(src="img/img-logo-cube.jpg", alt="Logo image")
							.brands-page__item-name Cube
						a.brands-page__content-item(href="")
							.brands-page__item-image
								img(src="img/logo-scot.jpg", alt="Logo image")
							.brands-page__item-name Scott
						a.brands-page__content-item(href="")
							.brands-page__item-image
								img(src="img/img-logo-merida.jpg", alt="Logo image")
							.brands-page__item-name Merida
						a.brands-page__content-item(href="")
							.brands-page__item-image
								img(src="img/img-logo-giant.jpg", alt="Logo image")
							.brands-page__item-name Giant