extends ../layouts/main-layout--checkout

block title
	title cart-view1

block content
	.cart-wrapper
		include ../common/cart-top
		.cart-main
			include ../common/cart-view-left
			include ../common/cart-view-right