extends ../layouts/main-layout

block title
	title Каталог

block content
	include ../common/catalog-top
	include ../common/catalog-menu
	include ../common/catalog-descr
	include ../common/catalog-list
	//- include ../common/catalog-bottom