extends ../layouts/main-layout--tablet-no-config

block title
	title Каталог пуст

block content
	include ../common/catalog-top-empty
	.catalog-empty
		.main-content
			.catalog-menu__header
				h2.catalog-menu__title велосипеды
			.catalog-empty__content
				h1.catalog-empty__title В этой категории нет ни одного товара
				.catalog-empty__image
					img(src="img/il-cat-empty.jpg", alt="Empty Catalog image")
			.cat-information
				p.
					Вес хардтейла начального уровня колеблется от 14 до 17 кг. Профессиональные велосипеды весят 8-12 кг. Такая разница обусловлена применением легких материалов (сплавы алюминия, углепласик) и высокотехнологичного навесного оборудования, которое зачастую стоит как поддержанная иномарка.

				p.
					На данный момент, все чаще вместо стандартного размера колес 26” в горных велосипедах стали использовать новые стандарты 27.5” или 29”. Такие колеса имеют великолепный накат при незначительной потере маневренности. Ободные тормоза сейчас тоже все реже и реже появляются на горных моделях. Их почти полностью вытеснили <a href="">дисковые механические</a> (передача усилия через трос) или гидравлические (использующие тормозную жидкость) тормоза. Такие тормоза имеют ряд преимуществ, работают независимо от погодных условий и состояния обода, но весят на порядок выше ободных.