extends ../layouts/main-layout--tablet-no-config

block title
	title Сравнение товара

block content
	section.compare
		.compare__label.
			сравнить выбранные товары(<i>12</i>)
		.compare__inner
			.compare-content
				.compare-title
					.compare-title__header.compare-slide-header
						ul.compare-title__menu
							li: a.compare-title__link(href="") <span> Все характеристики</span>
							li: a.compare-title__link.compare-title__link--bottom(href="")  <span>Различные <span>
					ul.compare-title__tech-list
						li.compare-title__tech-item.tech-item--row-1 Тип тормозов
						li.compare-title__tech-item.tech-item--row-2 Диаметр колеса
						li.compare-title__tech-item.tech-item--row-3 Тип рамы
						li.compare-title__tech-item.tech-item--row-4 Уровень оборудования
						li.compare-title__tech-item.tech-item--row-5 Материал рамы
						li.compare-title__tech-item.tech-item--row-6 Тип амортизированной вилки
						li.compare-title__tech-item.tech-item--row-7 Длина хода вилки
						li.compare-title__tech-item.tech-item--row-8 Тип заднего амортизатора
						li.compare-title__tech-item.tech-item--row-9 Количество скоростей
						li.compare-title__tech-item.tech-item--row-10 Блокировка амортизатора
						li.compare-title__tech-item.tech-item--row-11 Мощность двигателя
						li.compare-title__tech-item.tech-item--row-12 Запас хода
						li.compare-title__tech-item.tech-item--row-13 Рулевая колонка
						li.compare-title__tech-item.tech-item--row-14 Вынос
						li.compare-title__tech-item.tech-item--row-15 Руль
						li.compare-title__tech-item.tech-item--row-16 Грипсы
						li.compare-title__tech-item.tech-item--row-17 Передний тормоз
						li.compare-title__tech-item.tech-item--row-18 Цвет
				.compare-slider
					.compare-slider__js-container
						.compare-slider__item
							.compare-slider__item-main.compare-slide-header
								a.compare-item__main-pic(href="#")
									img(src="img/img-item-1.jpg", alt="Compare image")
								a.compare-item__main-title(href="").
									Велосипед Bulls Sharptail 3 Disc 27,5 (2016)
								.compare-item__main-price
									.price <span>20990</span> <i>руб.</i>
									//- .price.new <span>20990</span> <i>руб.</i>
								.compare-item__main-bottom
									a.compare-item__main-btn(href="") Добавить в корзину
									a.compare-item__main-remove(href="") Удалить из сравнений
							ul.compare-slider__item-chars-ul
								li.compare-slider__item-chars-li.tech-item--row-1 дисковый гидравлический
								li.compare-slider__item-chars-li.tech-item--row-2 27.5
								li.compare-slider__item-chars-li.tech-item--row-3 двухподвес
								li.compare-slider__item-chars-li.tech-item--row-4 профессиональный
								li.compare-slider__item-chars-li.tech-item--row-5 алюминий
								li.compare-slider__item-chars-li.tech-item--row-6 воздушно-масляная
								li.compare-slider__item-chars-li.tech-item--row-7 более 150 мм
								li.compare-slider__item-chars-li.tech-item--row-8 воздушно-масляный
								li.compare-slider__item-chars-li.tech-item--row-9 10
								li.compare-slider__item-chars-li.tech-item--row-10 250W-350W
								li.compare-slider__item-chars-li.tech-item--row-11 30 - 50км
								li.compare-slider__item-chars-li.tech-item--row-12 A-Head Alloy Tapered
								li.compare-slider__item-chars-li.tech-item--row-13 Haibike Components TheStem ++, A-Head, Bar bore 31.8 мм, 6 градусов
								li.compare-slider__item-chars-li.tech-item--row-14 Haibike Components TheBar ++
								li.compare-slider__item-chars-li.tech-item--row-15 XLC lock on, Sport
								li.compare-slider__item-chars-li.tech-item--row-16 Tektro HD-M285, алюминиевые
								li.compare-slider__item-chars-li.tech-item--row-17 Tektro HD-M285, алюминиевые
								li.compare-slider__item-chars-li.colors.tech-item--row-18
									ul.item-chars-color__list
										li.item-chars-li__color
											i(style="background-color: #dfdc00;")
											span золотой
										li.item-chars-li__color
											i(style="background-color: #e5e5e5;")
											span серебристый
										li.item-chars-li__color
											i(style="background-color: #818181;")
											span серый космос
										li.item-chars-li__color
											i(style="background-color: #f6e5ed;")
											span розовое золото
						.compare-slider__item
							.compare-slider__item-main.compare-slide-header
								a.compare-item__main-pic(href="#")
									img(src="img/img-item-2.jpg", alt="Compare image")
								a.compare-item__main-title(href="").
									Двухподвесный велосипед Scott Spark 700 Ultimate D
								.compare-item__main-price
									.price <span>20990</span> <i>руб.</i>
									//- .price.new <span>20990</span> <i>руб.</i>
								.compare-item__main-bottom
									a.compare-item__main-btn(href="") Добавить в корзину
									a.compare-item__main-remove(href="") Удалить из сравнений
							ul.compare-slider__item-chars-ul
								li.compare-slider__item-chars-li.tech-item--row-1 дисковый гидравлический
								li.compare-slider__item-chars-li.tech-item--row-2 29
								li.compare-slider__item-chars-li.tech-item--row-3 двухподвес
								li.compare-slider__item-chars-li.tech-item--row-4 продвинутый
								li.compare-slider__item-chars-li.tech-item--row-5 алюминий
								li.compare-slider__item-chars-li.tech-item--row-6 пружинно-масляная
								li.compare-slider__item-chars-li.tech-item--row-7 от 100 до 150 мм
								li.compare-slider__item-chars-li.tech-item--row-8 —
								li.compare-slider__item-chars-li.tech-item--row-9 20
								li.compare-slider__item-chars-li.tech-item--row-10 250W-350W
								li.compare-slider__item-chars-li.tech-item--row-11 до 30км
								li.compare-slider__item-chars-li.tech-item--row-12 Head Tapered
								li.compare-slider__item-chars-li.tech-item--row-13 Haibike Components TheStem ++, A-Head, Bar bore 31.8 мм, 12 градусов
								li.compare-slider__item-chars-li.tech-item--row-14 Haibike Components TheBar ++
								li.compare-slider__item-chars-li.tech-item--row-15 XLC Schraubgriffe Sport
								li.compare-slider__item-chars-li.tech-item--row-16 Tektro HD-M285, алюминиевые
								li.compare-slider__item-chars-li.tech-item--row-17 Tektro HD-M285, алюминиевые
								li.compare-slider__item-chars-li.colors.tech-item--row-18
									ul.item-chars-color__list
										li.item-chars-li__color
											i(style="background-color: #000;")
											span черный
						.compare-slider__item
							.compare-slider__item-main.compare-slide-header
								a.compare-item__main-pic(href="#")
									img(src="img/img-item-5.jpg", alt="Compare image")
								a.compare-item__main-title(href="").
									Велосипед складной Tern Link D7i
								.compare-item__main-price
									.price.new <span>18890</span> <i>руб.</i>
									.price.old <span>21000</span> <i>руб.</i>
								.compare-item__main-bottom
									a.compare-item__main-btn(href="") Добавить в корзину
									a.compare-item__main-remove(href="") Удалить из сравнений
							ul.compare-slider__item-chars-ul
								li.compare-slider__item-chars-li.tech-item--row-1 ободной
								li.compare-slider__item-chars-li.tech-item--row-2 26
								li.compare-slider__item-chars-li.tech-item--row-3 хардтейл
								li.compare-slider__item-chars-li.tech-item--row-4 любительский
								li.compare-slider__item-chars-li.tech-item--row-5 —
								li.compare-slider__item-chars-li.tech-item--row-6 —
								li.compare-slider__item-chars-li.tech-item--row-7 от 100 до 150 мм
								li.compare-slider__item-chars-li.tech-item--row-8 без амортизатора
								li.compare-slider__item-chars-li.tech-item--row-9 24
								li.compare-slider__item-chars-li.tech-item--row-10 Neco, полуинтегрированная
								li.compare-slider__item-chars-li.tech-item--row-11 Zoom, алюминиевый сплав, 31,8
								li.compare-slider__item-chars-li.tech-item--row-12 x 90 мм
								li.compare-slider__item-chars-li.tech-item--row-13 Zoom, алюминиевый сплав, ширина 660 мм, 31,8 мм
								li.compare-slider__item-chars-li.tech-item--row-14 Promax
								li.compare-slider__item-chars-li.tech-item--row-15 Promax
								li.compare-slider__item-chars-li.tech-item--row-16 Алюминиевый сплав
								li.compare-slider__item-chars-li.tech-item--row-17 Suntour, 42/34/24T, 175 мм
								li.compare-slider__item-chars-li.colors.tech-item--row-18
									ul.item-chars-color__list
										li.item-chars-li__color
											i(style="background-color: #ed0000;")
											span Красный
										li.item-chars-li__color
											i(style="background-color: #00c6ff;")
											span синий
										li.item-chars-li__color
											i(style="background-color: #fff;")
											span белый
						.compare-slider__item
							.compare-slider__item-main.compare-slide-header
								a.compare-item__main-pic(href="#")
									img(src="img/img-item-4.jpg", alt="Compare image")
								a.compare-item__main-title(href="").
									2Двухподвесный велосипед Scott Spark 700 Ultimate D
									Двухподвесный велосипед Scott Spark 700 Ultimate D
								.compare-item__main-price
									.price <span>20990</span> <i>руб.</i>
									//- .price.new <span>20990</span> <i>руб.</i>
								.compare-item__main-bottom
									a.compare-item__main-btn(href="") Добавить в корзину
									a.compare-item__main-remove(href="") Удалить из сравнений
							ul.compare-slider__item-chars-ul
								li.compare-slider__item-chars-li.tech-item--row-1 дисковый гидравлический
								li.compare-slider__item-chars-li.tech-item--row-2 29
								li.compare-slider__item-chars-li.tech-item--row-3 двухподвес
								li.compare-slider__item-chars-li.tech-item--row-4 профессиональный
								li.compare-slider__item-chars-li.tech-item--row-5 алюминий
								li.compare-slider__item-chars-li.tech-item--row-6 воздушно-масляная
								li.compare-slider__item-chars-li.tech-item--row-7 от 100 до 150 мм
								li.compare-slider__item-chars-li.tech-item--row-8 воздушно-масляный
								li.compare-slider__item-chars-li.tech-item--row-9 —
								li.compare-slider__item-chars-li.tech-item--row-10 20
								li.compare-slider__item-chars-li.tech-item--row-11 Specialized XC
								li.compare-slider__item-chars-li.tech-item--row-12 Specialized XC, прямой
								li.compare-slider__item-chars-li.tech-item--row-13 Specialized Sip Grip
								li.compare-slider__item-chars-li.tech-item--row-14 Magura MTS
								li.compare-slider__item-chars-li.tech-item--row-15
								li.compare-slider__item-chars-li.tech-item--row-16 Magura MTS
								li.compare-slider__item-chars-li.tech-item--row-17 SRAM S-1250
								li.compare-slider__item-chars-li.colors.tech-item--row-18
									ul.item-chars-color__list
										li.item-chars-li__color
											i(style="background-color: #fff;")
											span белый
						.compare-slider__item
							.compare-slider__item-main.compare-slide-header
								a.compare-item__main-pic(href="#")
									img(src="img/img-item-1.jpg", alt="Compare image")
								a.compare-item__main-title(href="").
									Двухподвесный велосипед Scott Spark 700 Ultimate D
								.compare-item__main-price
									.price <span>20990</span> <i>руб.</i>
									//- .price.new <span>20990</span> <i>руб.</i>
								.compare-item__main-bottom
									a.compare-item__main-btn(href="") Добавить в корзину
									a.compare-item__main-remove(href="") Удалить из сравнений
							ul.compare-slider__item-chars-ul
								li.compare-slider__item-chars-li.tech-item--row-1 дисковый гидравлический
								li.compare-slider__item-chars-li.tech-item--row-2 27.5
								li.compare-slider__item-chars-li.tech-item--row-3 двухподвес
								li.compare-slider__item-chars-li.tech-item--row-4 профессиональный
								li.compare-slider__item-chars-li.tech-item--row-5 алюминий
								li.compare-slider__item-chars-li.tech-item--row-6 воздушно-масляная
								li.compare-slider__item-chars-li.tech-item--row-7 более 150 мм
								li.compare-slider__item-chars-li.tech-item--row-8 воздушно-масляный
								li.compare-slider__item-chars-li.tech-item--row-9 10
								li.compare-slider__item-chars-li.tech-item--row-10 250W-350W
								li.compare-slider__item-chars-li.tech-item--row-11 30 - 50км
								li.compare-slider__item-chars-li.tech-item--row-12 A-Head Alloy Tapered
								li.compare-slider__item-chars-li.tech-item--row-13 Haibike Components TheStem ++, A-Head, Bar bore 31.8 мм, 6 градусов
								li.compare-slider__item-chars-li.tech-item--row-14 Haibike Components TheBar ++
								li.compare-slider__item-chars-li.tech-item--row-15 XLC lock on, Sport
								li.compare-slider__item-chars-li.tech-item--row-16 Tektro HD-M285, алюминиевые
								li.compare-slider__item-chars-li.tech-item--row-17 Tektro HD-M285, алюминиевые
								li.compare-slider__item-chars-li.colors.tech-item--row-18
									ul.item-chars-color__list
										li.item-chars-li__color
											i(style="background-color: #6699cc;")
											span синий
						.compare-slider__item
							.compare-slider__item-main.compare-slide-header
								a.compare-item__main-pic(href="#")
									img(src="img/img-item-1.jpg", alt="Compare image")
								a.compare-item__main-title(href="").
									Двухподвесный велосипед Scott Spark 700 Ultimate D
								.compare-item__main-price
									.price <span>20990</span> <i>руб.</i>
									//- .price.new <span>20990</span> <i>руб.</i>
								.compare-item__main-bottom
									a.compare-item__main-btn(href="") Добавить в корзину
									a.compare-item__main-remove(href="") Удалить из сравнений
							ul.compare-slider__item-chars-ul
								li.compare-slider__item-chars-li.tech-item--row-1 дисковый гидравлический
								li.compare-slider__item-chars-li.tech-item--row-2 29
								li.compare-slider__item-chars-li.tech-item--row-3 двухподвес
								li.compare-slider__item-chars-li.tech-item--row-4 профессиональный
								li.compare-slider__item-chars-li.tech-item--row-5 алюминий
								li.compare-slider__item-chars-li.tech-item--row-6 воздушно-масляная
								li.compare-slider__item-chars-li.tech-item--row-7 от 100 до 150 мм
								li.compare-slider__item-chars-li.tech-item--row-8 воздушно-масляный
								li.compare-slider__item-chars-li.tech-item--row-9 —
								li.compare-slider__item-chars-li.tech-item--row-10 20
								li.compare-slider__item-chars-li.tech-item--row-11 Specialized XC
								li.compare-slider__item-chars-li.tech-item--row-12 Specialized XC, прямой
								li.compare-slider__item-chars-li.tech-item--row-13 Specialized Sip Grip
								li.compare-slider__item-chars-li.tech-item--row-14 Magura MTS
								li.compare-slider__item-chars-li.tech-item--row-15
								li.compare-slider__item-chars-li.tech-item--row-16 Magura MTS
								li.compare-slider__item-chars-li.tech-item--row-17 SRAM S-1250
								li.compare-slider__item-chars-li.colors.tech-item--row-18
									ul.item-chars-color__list
										li.item-chars-li__color
											i(style="background-color: #fff;")
											span белый





