extends ../layouts/main-layout--tablet-no-config

block title
	title Сравнение товара

block content
	section.compare
		.compare__inner
			.compare-content
				.compare-title
					.compare-title__header.compare-slide-header
						ul.compare-title__menu
							li: a.compare-title__link(href="") Все характеристики
							li: a.compare-title__link.compare-title__link--bottom(href="") Различные
					ul.compare-title__tech-list
						li.compare-title__tech-item.tech-item--row-1 Тип тормозов
						li.compare-title__tech-item.tech-item--row-2 Диаметр колеса
						li.compare-title__tech-item.tech-item--row-3 Тип рамы
						li.compare-title__tech-item.tech-item--row-4 Уровень оборудования
						li.compare-title__tech-item.tech-item--row-5 Материал рамы
						li.compare-title__tech-item.tech-item--row-6 Тип амортизированной вилки
						li.compare-title__tech-item.tech-item--row-7 Длина хода вилки
						li.compare-title__tech-item.tech-item--row-8 Тип заднего амортизатора
						li.compare-title__tech-item.tech-item--row-9 Количество скоростей
						li.compare-title__tech-item.tech-item--row-10 Блокировка амортизатора
						li.compare-title__tech-item.tech-item--row-11 Мощность двигателя
						li.compare-title__tech-item.tech-item--row-12 Запас хода
						li.compare-title__tech-item.tech-item--row-13 Рулевая колонка
						li.compare-title__tech-item.tech-item--row-14 Вынос
						li.compare-title__tech-item.tech-item--row-15 Руль
						li.compare-title__tech-item.tech-item--row-16 Грипсы
						li.compare-title__tech-item.tech-item--row-17 Передний тормоз
						li.compare-title__tech-item.tech-item--row-18 Цвет
				.compare-slider
					.compare-slider__js-container
						.compare-slider__item
							.compare-slider__item-main.compare-slide-header
						.compare-slider__item
							.compare-slider__item-main.compare-slide-header
						.compare-slider__item
							.compare-slider__item-main.compare-slide-header
						.compare-slider__item
							.compare-slider__item-main.compare-slide-header
						.compare-slider__item
							.compare-slider__item-main.compare-slide-header
						.compare-slider__item
							.compare-slider__item-main.compare-slide-header
						.compare-slider__item
							.compare-slider__item-main.compare-slide-header
						.compare-slider__item
							.compare-slider__item-main.compare-slide-header





