extends ../layouts/main-layout-search-winter

block title
	title Отзывы

block content
	.feedback-page__wrapper
		.main-content
			include ../common/feedback-breadcrumb
			include ../common/feedback-main