extends ../layouts/main-layout

block title
	title Страница товара 2

block content
	.item-page__wrapper
		.main-content
			include ../common/item-breadcrumb
			include ../common/item-top-v2
			.item-page__main
				include ../common/item-main-left-v3
				include ../common/item-main-right-v3
				include ../common/item-main-bottom
			.item-page__descr
				include ../common/item-descr-v2
				include ../common/item-tech-info-v2
				include ../common/item-feedback-v2