extends ../layouts/main-layout--tablet-no-config

block title
	title 404

block content
	.mistake
		.mistake__inner
			.mistake__text
				span Ничего не найдено
				span Пожалуйста, воспользуйтесь поиском или меню.
			.mistake__image
				img(src="img/ill-mistake.png", alt="Illustration")