extends ../layouts/main-layout--tablet-no-config

block title
	title Восстановление пароля

block content
	.pin.password-recovery
		.pin__inner
			h1.pin__title Восстановление пароля
			.pin__content-wrapper
				form
					.pin__content-text.
						Ввдите E-mail указанный при регистрации
					.pin__content-input-wrapper
						input(type="tel", value="7532")
						.pin__content-btn
							button(type="submit") сбросить пароль
				a.password-recovery__link(href="").
					<span>Я вспомнил пароль!</span>
			.pin__content-wrapper
				form
					.password-recovery__notif.
						Инструкция по восстановление пароля
						отправлен на E-mail<br>
						<span>hi@designmyshop.ru</span>
					.pin__content-text.
						Ввдите E-mail указанный при регистрации
					.pin__content-input-wrapper
						input(type="tel", value="7532")
						.pin__content-btn
							button(type="submit") сбросить пароль
				a.password-recovery__link(href="").
					<span>Я вспомнил пароль!</span>



