extends main-template

block title
	title PINK
block header
	include pug/_pug_inc/header
block content
	include pug/_pug_inc/description
	include pug/_pug_inc/experiment
	include pug/_pug_inc/reviews
	include pug/_pug_inc/price
	include pug/_pug_inc/contact
	include pug/_pug_inc/map
	//- все pug блоки инклюдить сюда
block footer
	include pug/_pug_inc/footer
