/*Buttons*/
.btn {
		display: inline-block;
		font-family: $ff-regular;
		font-weight: 900;
		font-size: 12px;
		padding-top: 14px;
		padding-bottom: 15px;
		padding-left: 15px;
		padding-right: 15px;
		border-radius: 3px;
		transition: all .3s;
		text-align: center;
		text-transform: uppercase;
		

		.btn--red {
			color: #fff;
			background-color: #ed0000;
			&:hover {
				background-color: #ff552d;
			}
		}

		&.btn--round {
			border-radius: 50px;
		}

		.btn--red-round {
			color: #fff;
			background-color: #ed0000;
			border-radius: 50px;
		}

		&.btn--transparent {
			border: 2px solid #e5e5e5;
			color: #7b7b7b;
		}

		&.btn--transparent-round {
			border: 2px solid #e5e5e5;
			color: #7b7b7b;
			border-radius: 50px;

			&:hover {
				border-color: #ed0000;
				color: #ed0000;
			}
		}

	}
