/*Buttons*/
@media (min-width: 1024px) {
	.btn {
		display: inline-block;
		color: #fff;
		font-family: $ff-regular;
		font-weight: 900;
		font-size: 12px;
		padding-top: 16px;
		padding-bottom: 16px;
		padding-left: 15px;
		padding-right: 15px;
		background-color: #ed0000;
		//border: 3px solid #fff;
		border-radius: 3px;
		//border-radius: 50px;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-ms-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
		text-align: center;
		&:hover {
			background-color: #ff552d;
		}

		&.btn--round {
			border-radius: 50px;
		}
	}
}