/* forms Styles */
label {
	display: block;
	font-size: 14px;
	//margin-bottom: 10px;
}

select {
	display: block;
	width: 100%;
	border: none;
	border: 0;

}

// .styled {
// 	background-image: url("../img/icon-select.svg");
// 	background-position: 96% 0;
// 	background-repeat: no-repeat;
// 	background-size: 8px 5px;
// 	height: 35px;
// 	overflow: hidden;
// 	//width: 240px;
// 	border: 1px solid $bd-grey;
	
	

// 	select {
// 		display: inline-block;
// 		background-image:none;
// 		border: none;
// 		font-size: 14px;
// 		padding-left: 10px;
// 		padding-right: 10px;
// 		padding-top: 7px;
// 		padding-bottom: 5px;
// 	}
// }



.input-wrapper {
	input, textarea {
		margin-top: 10px;
	}
}
input {
	display: block;
	padding-left: 6px;
	padding-top: 11px;
	padding-bottom: 9px;
	padding-right: 6px;
	font-weight: 700;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 3px;
	
	&::-webkit-input-placeholder {
		color: #999;
		font-family: $ff-regular;
		font-weight: 400;
		font-size: 14px;
	}

	&::-moz-placeholder {
		color: #999;
		font-family: $ff-regular;
		font-weight: 400;
		font-size: 14px;
	}

	&:-ms-input-placeholder {
		color: #999;
		font-family: $ff-regular;
		font-weight: 400;
		font-size: 14px;
	}

	&:focus {

		&::-webkit-input-placeholder {
			color: transparent;
		}

		&::-moz-placeholder {
			color: transparent;
		}

		&:-ms-input-placeholder {
			color: transparent;
		}
	}
} //velomatrix


textarea {
	width: 100%;
	border: none;
	border: 0;
	resize: vertical;
	min-height: 175px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 10px;
	&:focus {
		&::-webkit-input-placeholder {
			color: transparent;
		}

		&::-moz-placeholder {
			color: transparent;
		}

		&:-ms-input-placeholder {
			color: transparent;
		}
	}
}

.input-wrapper {
	margin-bottom: 20px;

}

.input-wrapper label {
	width: 100%;
}

.input-wrapper input {
	width: 100%;
}


/* ==============Only Mobile Styles * 767 * ==============
*******************************************************/
@media (max-width: 767px) {

}


/* ============== Only Mobile&Tablet styles * 1023 * ======
*******************************************************/
@media (max-width: 1023px) {

}//@media (max-width: 1023px) 


/* ==============Only Tablet Styles !!! 768 < || 1023======
*******************************************************/
@media (min-width: 768px) and (max-width: 1023px) {

}


/* ==============Tablet Media queries============
*******************************************************/
@media (min-width: 768px) {

} //(min-width: 768px)


/* ==============Desktop Media queries============
*******************************************************/
@media (min-width: 1024px) {

}


/* forms  End*/



