/* forms Styles */
label {
	display: block;
	font-size: 14px;
	//margin-bottom: 10px;
}

select {
	display: block;
	width: 100%;
	border: none;
	border: 0;

}

// .styled {
// 	background-image: url("../img/icon-select.svg");
// 	background-position: 96% 0;
// 	background-repeat: no-repeat;
// 	background-size: 8px 5px;
// 	height: 35px;
// 	overflow: hidden;
// 	//width: 240px;
// 	border: 1px solid $bd-grey;
	
	

// 	select {
// 		display: inline-block;
// 		background-image:none;
// 		border: none;
// 		font-size: 14px;
// 		padding-left: 10px;
// 		padding-right: 10px;
// 		padding-top: 7px;
// 		padding-bottom: 5px;
// 	}
// }



.input-wrapper {
	input, textarea {
		margin-top: 10px;
	}
}
input {
	display: block;
	padding-left: 6px;
	padding-top: 11px;
	padding-bottom: 9px;
	padding-right: 6px;
	font-weight: 700;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 3px;
	
	&::-webkit-input-placeholder {
		color: #999;
		font-family: $ff-regular;
		font-weight: 400;
		font-size: 14px;
	}

	&::-moz-placeholder {
		color: #999;
		font-family: $ff-regular;
		font-weight: 400;
		font-size: 14px;
	}

	&:-ms-input-placeholder {
		color: #999;
		font-family: $ff-regular;
		font-weight: 400;
		font-size: 14px;
	}

	&:focus {

		&::-webkit-input-placeholder {
			color: transparent;
		}

		&::-moz-placeholder {
			color: transparent;
		}

		&:-ms-input-placeholder {
			color: transparent;
		}

		outline: none;
	}
} //velomatrix


textarea {
	width: 100%;
	border: none;
	border: 0;
	resize: vertical;
	min-height: 175px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 10px;
	&:focus {
		&::-webkit-input-placeholder {
			color: transparent;
		}

		&::-moz-placeholder {
			color: transparent;
		}

		&:-ms-input-placeholder {
			color: transparent;
		}

		outline: none;
	}
}

.input-wrapper {
	margin-bottom: 20px;
	&.mistake {
		position: relative;
		margin-bottom: 30px;
		input {
			border-color: $red-base;
		}

		.mistake-test {
			position: absolute;
			color: $red-base;
		}
	}
}

.input-wrapper label {
	width: 100%;
}

.input-wrapper input {
	width: 100%;
}

// input[type=checkbox], input[type=radio] {
// 	display: inline-block;
// }

// Custom checkboxes and radio

input[type="checkbox"],
input[type="radio"] {
		display:none;
}
input[type="checkbox"] + label, 
input[type="radio"] + label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 30px;
}
input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
		content: "";
		display: inline-block;

		height: 20px;
		width: 20px;

		position: absolute;

		left: 0;
		//top: 1px;
		
		top: 50%;
		margin-top: -10px;

		//background-image: url("../img/custom-chr.png");
		//background-repeat: no-repeat;

		background-color: white;
		//border: 1px solid #ccc;
		box-shadow: inset 0 0 0 1px #ccc;
}

input[type="checkbox"] + label::before{
		border-radius: 2px;
}

input[type="radio"] + label::before{
		border-radius: 10px;
}

//Checkboxes

input[type="checkbox"] + label::before {
		
}

input[type="checkbox"] + label:hover::before {
	box-shadow: inset 0 0 0 2px #ed0000;
}

input[type="checkbox"]:checked + label::before {
	font-family: 'icomoon';
	content: "\e900";
	color: #000;
	font-size: 16px;
	text-align: center;
	line-height: 20px;
	box-shadow: inset 0 0 0 2px #ed0000;
}

input[type="checkbox"]:checked + label:hover::before {
	font-family: 'icomoon';
	content: "\e900";
	color: #000;
	font-size: 16px;
	text-align: center;
	line-height: 20px;
	box-shadow: inset 0 0 0 2px #ed0000;
}

input[type="checkbox"]:disabled + label::before {
	content: "";
	color: #999;
	background-color: #e5e5e5;
	box-shadow: inset 0 0 0 1px #ccc;
}

input[type="checkbox"]:checked:disabled + label::before {
	font-family: 'icomoon';
	content: "\e900";
	color: #999;
	font-size: 16px;
	text-align: center;
	line-height: 20px;
	background-color: #e5e5e5;
	box-shadow: inset 0 0 0 1px #ccc;
}

input[type="checkbox"]:checked:disabled + label:hover::before {
	font-family: 'icomoon';
	content: "\e900";
	color: #999;
	font-size: 16px;
	text-align: center;
	line-height: 20px;
	background-color: #e5e5e5;
	box-shadow: inset 0 0 0 1px #ccc;
}

// Radio

input[type="radio"] + label::before {
	
}

input[type="radio"]:checked + label::before {
	content: "\2022";
	color: #000;
	font-size: 30px;
	text-align: center;
	line-height: 25px;
	box-shadow: inset 0 0 0 2px #ed0000;
}

input[type="radio"]:checked + label:hover::before {
	content: "\2022";
	color: #000;
	font-size: 30px;
	text-align: center;
	line-height: 25px;
	box-shadow: inset 0 0 0 2px #ed0000;
}

input[type="radio"] + label:hover::before {
	box-shadow: inset 0 0 0 2px #ed0000;
}

input[type="radio"]:disabled + label::before {
	color: #999;
	background-color: #e5e5e5;
}

input[type="radio"]:disabled + label:hover::before {
	color: #999;
	background-color: #e5e5e5;
	box-shadow: inset 0 0 0 1px #ccc;
}

input[type="radio"]:checked:disabled + label::before {
	content: "\2022";
	color: #000;
	font-size: 30px;
	text-align: center;
	line-height: 25px;
	color: #999;
	background-color: #e5e5e5;
	box-shadow: inset 0 0 0 1px #ccc;
}

input[type="radio"]:checked:disabled + label:hover::before {
	content: "\2022";
	color: #000;
	font-size: 30px;
	text-align: center;
	line-height: 25px;
	color: #999;
	background-color: #e5e5e5;
	box-shadow: inset 0 0 0 1px #ccc;
}




/* ==============Only Mobile Styles * 767 * ==============
*******************************************************/
@media (max-width: 767px) {

}


/* ============== Only Mobile&Tablet styles * 1023 * ======
*******************************************************/
@media (max-width: 1023px) {

}//@media (max-width: 1023px) 


/* ==============Only Tablet Styles !!! 768 < || 1023======
*******************************************************/
@media (min-width: 768px) and (max-width: 1023px) {

}


/* ==============Tablet Media queries============
*******************************************************/
@media (min-width: 768px) {

} //(min-width: 768px)


/* ==============Desktop Media queries============
*******************************************************/
@media (min-width: 1024px) {

}


/* forms  End*/



