section.advantages
	ul.advantages__list
		li.advantages__item
			.advantages__item-icon.shipping
				img(src="img/icon-truck.svg", width="60", height="35", alt="Advantages icon")
			.advantages__item-content
				h5.advantages__item-title Доставка по все России
				.advantages__item-text Доставляем любой заказ по теретория Россиской Федерации
		li.advantages__item
			.advantages__item-icon.econom
				img(src="img/icon-pig.svg", width="60", height="35", alt="Advantages icon")
			.advantages__item-content
				h5.advantages__item-title Есть кредит и рассрочка
				.advantages__item-text Вы можете купить унас товары в рассрочку и в кредит. Оформим все документы
		li.advantages__item
			.advantages__item-icon.guarantee
				img(src="img/icon-secure.svg", width="60", height="35", alt="Advantages icon")
			.advantages__item-content
				h5.advantages__item-title Гарантия от магазина
				.advantages__item-text Все товары имеет гарантию и при первом проблема вы заменим ваш товар
		li.advantages__item
			.advantages__item-icon.service
				img(src="img/icon-screw.svg", width="60", height="35", alt="Advantages icon")
			.advantages__item-content
				h5.advantages__item-title Тех. обслуживание
				.advantages__item-text БЕСПЛАТНО тех обслуживание течение 1 года







