.also-buyed.item-carousel
	h5.also-buyed__title.
		Покупатели, которые приобрели Велосипед едвухподвесный Giant Anthem Advanced 27.5 1 (2016), также купили
	.also-buyed__carousel
		ul.also-buyed__carousel-wrap
			li.slick-slide
				.catalog-item
					.catalog-item__inner
						a.catalog-item__images(href="#")
							img(src="img/img-item-5.jpg", alt="Item Pic")
							.sales-leader__badge
								i
									img(src="img/icon-flame.svg", width="14", height="19", alt="sales leader icon")
								span Лидер <br>продаж
						.catalog-item__descr
							a.catalog-item__title(href="#") Велосипед Bulls Sharptail 3 Disc 27,5 (2016)
							.catalog-item__price-wrapper
								.catalog-item__price.regular <span>16 800 </span> руб.
							.catalog-item__advantage-badge(style="background-color: #6cbf00;") экономия <span>10%</span>
							.catalog-item__marking Артикул: VL-2927AB
							.catalog-item__stock.stock Есть в наличии
							a.catalog-item__arrow(href="#")
								i
									<svg xmlns="http://www.w3.org/2000/svg" width="209" height="284" viewBox="0 0 209 284"><style>.st0{fill:#C6C6C6;}</style><path class="st0" d="M171.1 140c-4.4 4.8-8.3 9.3-12.4 13.7-13 13.6-26.2 27-39.2 40.6-8.2 8.5-16.1 17.2-24.1 26-3.1 3.5-6.6 5-11.4 4.9-11-.3-22-.1-34.5-.1 27.5-28.8 54.2-56.6 81.4-85.1-26.9-28.3-53.5-56.2-80.1-84.1 1-1.6 2.5-.8 3.6-.8 10.7-.1 21.3.1 32 0 2.9 0 5.1.8 7.1 2.9 22 23.1 44.1 46.2 66.1 69.4 3.8 3.8 7.5 8.1 11.5 12.6z"/></svg>
							span.visually-hidden Посмотреть товар
						.catalog-item__conficons
							ul.catalog-item__conficons-list
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="whom")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="whom")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="height")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="diametr")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="frame")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="rear")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
			li.slick-slide
				.catalog-item
					.catalog-item__inner
						a.catalog-item__images(href="#")
							img(src="img/img-item-5.jpg", alt="Item Pic")
							.sales-leader__badge
								i
									img(src="img/icon-flame.svg", width="14", height="19", alt="sales leader icon")
								span Лидер <br>продаж
						.catalog-item__descr
							a.catalog-item__title(href="#") Двухподвесный велосипед Scott Spark 700 Ultimate D
							.catalog-item__price-wrapper
								.catalog-item__price.regular <span>16 800</span> руб.
							.catalog-item__advantage-badge(style="background-color: #6cbf00;") экономия <span>10%</span>
							.catalog-item__marking Артикул: VL-2927AB
							.catalog-item__stock.stock Есть в наличии
							a.catalog-item__arrow(href="#")
								i
									<svg xmlns="http://www.w3.org/2000/svg" width="209" height="284" viewBox="0 0 209 284"><style>.st0{fill:#C6C6C6;}</style><path class="st0" d="M171.1 140c-4.4 4.8-8.3 9.3-12.4 13.7-13 13.6-26.2 27-39.2 40.6-8.2 8.5-16.1 17.2-24.1 26-3.1 3.5-6.6 5-11.4 4.9-11-.3-22-.1-34.5-.1 27.5-28.8 54.2-56.6 81.4-85.1-26.9-28.3-53.5-56.2-80.1-84.1 1-1.6 2.5-.8 3.6-.8 10.7-.1 21.3.1 32 0 2.9 0 5.1.8 7.1 2.9 22 23.1 44.1 46.2 66.1 69.4 3.8 3.8 7.5 8.1 11.5 12.6z"/></svg>
							span.visually-hidden Посмотреть товар
						.catalog-item__conficons
							ul.catalog-item__conficons-list
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="whom")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="whom")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="height")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="diametr")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="frame")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="rear")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
			li.slick-slide
				.catalog-item
					.catalog-item__inner
						a.catalog-item__images(href="#")
							img(src="img/img-item-5.jpg", alt="Item Pic")
							.sales-leader__badge
								i
									img(src="img/icon-flame.svg", width="14", height="19", alt="sales leader icon")
								span Лидер <br>продаж
							ul.catalog-item__badges
								li.badge(style="background-color: #ed0000;") скидка
								<br>
								li.badge(style="background-color: #1891e5;") новинка
								<br>
						.catalog-item__descr
							a.catalog-item__title(href="#") Велосипед складной Tern Link D7i
							.catalog-item__price-wrapper
								.catalog-item__price <span>16 800</span> руб.
								.catalog-item__price.catalog-item__price--old
									<span>20 800</span> руб.
							.catalog-item__advantage-badge(style="background-color: #6cbf00;") экономия <span>10%</span>
							.catalog-item__marking Артикул: VL-2927AB
							.catalog-item__stock.stock Есть в наличии
							a.catalog-item__arrow(href="#")
								i
									<svg xmlns="http://www.w3.org/2000/svg" width="209" height="284" viewBox="0 0 209 284"><style>.st0{fill:#C6C6C6;}</style><path class="st0" d="M171.1 140c-4.4 4.8-8.3 9.3-12.4 13.7-13 13.6-26.2 27-39.2 40.6-8.2 8.5-16.1 17.2-24.1 26-3.1 3.5-6.6 5-11.4 4.9-11-.3-22-.1-34.5-.1 27.5-28.8 54.2-56.6 81.4-85.1-26.9-28.3-53.5-56.2-80.1-84.1 1-1.6 2.5-.8 3.6-.8 10.7-.1 21.3.1 32 0 2.9 0 5.1.8 7.1 2.9 22 23.1 44.1 46.2 66.1 69.4 3.8 3.8 7.5 8.1 11.5 12.6z"/></svg>
							span.visually-hidden Посмотреть товар
						.catalog-item__conficons
							ul.catalog-item__conficons-list
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="whom")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="whom")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="height")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="diametr")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="frame")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="rear")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
			li.slick-slide
				.catalog-item
					.catalog-item__inner
						a.catalog-item__images(href="#")
							img(src="img/img-item-5.jpg", alt="Item Pic")
							.sales-leader__badge
								i
									img(src="img/icon-flame.svg", width="14", height="19", alt="sales leader icon")
								span Лидер <br>продаж
							ul.catalog-item__badges
								li.badge(style="background-color: #ed0000;") скидка
								<br>
								li.badge(style="background-color: #1891e5;") новинка
								<br>
						.catalog-item__descr
							a.catalog-item__title(href="#") Велосипед горный женский Stern Vega
							.catalog-item__price-wrapper
								.catalog-item__price <span>16 800</span> руб.
								.catalog-item__price.catalog-item__price--old
									<span>20 800</span> руб.
							.catalog-item__advantage-badge(style="background-color: #6cbf00;") экономия <span>10%</span>
							.catalog-item__marking Артикул: VL-2927AB
							.catalog-item__stock.stock Есть в наличии
							a.catalog-item__arrow(href="#")
								i
									<svg xmlns="http://www.w3.org/2000/svg" width="209" height="284" viewBox="0 0 209 284"><style>.st0{fill:#C6C6C6;}</style><path class="st0" d="M171.1 140c-4.4 4.8-8.3 9.3-12.4 13.7-13 13.6-26.2 27-39.2 40.6-8.2 8.5-16.1 17.2-24.1 26-3.1 3.5-6.6 5-11.4 4.9-11-.3-22-.1-34.5-.1 27.5-28.8 54.2-56.6 81.4-85.1-26.9-28.3-53.5-56.2-80.1-84.1 1-1.6 2.5-.8 3.6-.8 10.7-.1 21.3.1 32 0 2.9 0 5.1.8 7.1 2.9 22 23.1 44.1 46.2 66.1 69.4 3.8 3.8 7.5 8.1 11.5 12.6z"/></svg>
							span.visually-hidden Посмотреть товар
						.catalog-item__conficons
							ul.catalog-item__conficons-list
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="whom")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="whom")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="height")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="diametr")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="frame")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="rear")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
			li.slick-slide
				.catalog-item
					.catalog-item__inner
						a.catalog-item__images(href="#")
							img(src="img/img-item-5.jpg", alt="Item Pic")
						.catalog-item__descr
							a.catalog-item__title(href="#") Велосипед подростковый для мальчиков Stern Rocket 20
							.catalog-item__price-wrapper
								.catalog-item__price <span>16 800</span> руб.
								.catalog-item__price.catalog-item__price--old
									<span>20 800</span> руб.
							.catalog-item__advantage-badge(style="background-color: #6cbf00;") экономия <span>10%</span>
							.catalog-item__marking Артикул: VL-2927AB
							.catalog-item__stock.stock Есть в наличии
							a.catalog-item__arrow(href="#")
								i
									<svg xmlns="http://www.w3.org/2000/svg" width="209" height="284" viewBox="0 0 209 284"><style>.st0{fill:#C6C6C6;}</style><path class="st0" d="M171.1 140c-4.4 4.8-8.3 9.3-12.4 13.7-13 13.6-26.2 27-39.2 40.6-8.2 8.5-16.1 17.2-24.1 26-3.1 3.5-6.6 5-11.4 4.9-11-.3-22-.1-34.5-.1 27.5-28.8 54.2-56.6 81.4-85.1-26.9-28.3-53.5-56.2-80.1-84.1 1-1.6 2.5-.8 3.6-.8 10.7-.1 21.3.1 32 0 2.9 0 5.1.8 7.1 2.9 22 23.1 44.1 46.2 66.1 69.4 3.8 3.8 7.5 8.1 11.5 12.6z"/></svg>
							span.visually-hidden Посмотреть товар
						.catalog-item__conficons
							ul.catalog-item__conficons-list
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="whom")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="whom")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="height")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="diametr")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="frame")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="rear")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
			li.slick-slide
				.catalog-item
					.catalog-item__inner
						a.catalog-item__images(href="#")
							img(src="img/img-item-5.jpg", alt="Item Pic")
							.sales-leader__badge
								i
									img(src="img/icon-flame.svg", width="14", height="19", alt="sales leader icon")
								span Лидер <br>продаж
						.catalog-item__descr
							a.catalog-item__title(href="#") Велосипед подростковый для девочек Stern Leeloo 24
							.catalog-item__price-wrapper
								.catalog-item__price.regular <span>16 800</span> руб.
							.catalog-item__marking Артикул: VL-2927AB
							.catalog-item__stock.stock Есть в наличии
							a.catalog-item__arrow(href="#")
								i
									<svg xmlns="http://www.w3.org/2000/svg" width="209" height="284" viewBox="0 0 209 284"><style>.st0{fill:#C6C6C6;}</style><path class="st0" d="M171.1 140c-4.4 4.8-8.3 9.3-12.4 13.7-13 13.6-26.2 27-39.2 40.6-8.2 8.5-16.1 17.2-24.1 26-3.1 3.5-6.6 5-11.4 4.9-11-.3-22-.1-34.5-.1 27.5-28.8 54.2-56.6 81.4-85.1-26.9-28.3-53.5-56.2-80.1-84.1 1-1.6 2.5-.8 3.6-.8 10.7-.1 21.3.1 32 0 2.9 0 5.1.8 7.1 2.9 22 23.1 44.1 46.2 66.1 69.4 3.8 3.8 7.5 8.1 11.5 12.6z"/></svg>
							span.visually-hidden Посмотреть товар
						.catalog-item__conficons
							ul.catalog-item__conficons-list
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="whom")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="whom")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="height")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="diametr")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="frame")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="rear")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
			li.slick-slide
				.catalog-item
					.catalog-item__inner
						a.catalog-item__images(href="#")
							img(src="img/img-item-5.jpg", alt="Item Pic")
							.sales-leader__badge
								i
									img(src="img/icon-flame.svg", width="14", height="19", alt="sales leader icon")
								span Лидер <br>продаж
						.catalog-item__descr
							a.catalog-item__title(href="#") Stark Grinder

							.catalog-item__price-wrapper
								.catalog-item__price.regular <span>16 800</span> руб.
							.catalog-item__advantage-badge(style="background-color: #6cbf00;") экономия <span>10%</span>
							.catalog-item__marking Артикул: VL-2927AB
							.catalog-item__stock.stock Есть в наличии
							a.catalog-item__arrow(href="#")
								i
									<svg xmlns="http://www.w3.org/2000/svg" width="209" height="284" viewBox="0 0 209 284"><style>.st0{fill:#C6C6C6;}</style><path class="st0" d="M171.1 140c-4.4 4.8-8.3 9.3-12.4 13.7-13 13.6-26.2 27-39.2 40.6-8.2 8.5-16.1 17.2-24.1 26-3.1 3.5-6.6 5-11.4 4.9-11-.3-22-.1-34.5-.1 27.5-28.8 54.2-56.6 81.4-85.1-26.9-28.3-53.5-56.2-80.1-84.1 1-1.6 2.5-.8 3.6-.8 10.7-.1 21.3.1 32 0 2.9 0 5.1.8 7.1 2.9 22 23.1 44.1 46.2 66.1 69.4 3.8 3.8 7.5 8.1 11.5 12.6z"/></svg>
							span.visually-hidden Посмотреть товар
						.catalog-item__conficons
							ul.catalog-item__conficons-list
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="whom")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="whom")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="type")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="height")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="diametr")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="frame")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно
								li.catalog-item__conficons-item(data-icon="rear")
									a.catalog-item__conficons-link(href="#")
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									.config-icon-tooltip
										.text.
											Двухподвесные велосипеды 451 моделей
											Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
										a(href="#") Прочитать подробно