section.home-articles
	.home-articles__banner(style="background-image: url('img/img-articles-desktop.jpg');")
		h4.home-articles__banner-title Велостол: крути педали, не переставая
		.home-articles__banner-date 18/09/2016
		p.
			Шведские дизайнеры предложили макет огромной паркинга для велосипедов. Он рассчитан на 700 мест и по проекту будет иметь заезд с велодорожки. Как заявил директор агентства Belatchew Architects, которое представило...
		a.home-articles__banner-link(href="#") читать далее →
	.home-articles__content
		h5.home-articles__content-title Другие Обзоры и новинки
		ul.home-articles__content-list
			li.home-articles__content-item
				a.home-articles__content-link(href="#") 
					span.text Стокгольмский велогараж на 700 велосипедов
			li.home-articles__content-item
				a.home-articles__content-link(href="#") 
					span.text Велостол: крути педали, не переставая
			li.home-articles__content-item
				a.home-articles__content-link(href="#") 
					span.text Канадка добралась до Южного полюса на велосипеде!!
			li.home-articles__content-item
				a.home-articles__content-link(href="#") 
					span.text Наперегонки с авто
		a.home-articles__content-all-arts-link(href="#") все статьи
















