section.bic
	.bic-item
		.main-content
			.bic-item__descr-wrapper
				.bic-item__descr-top
					a.bic-item__descr-title-link(href="#")
						h3.bic-item__descr-title Хардтейлы
						.bic-item__descr-title-icon
							
					.bic-item__descr-image
						img(src="img/img-velo-hardtail.png", alt="Bicycle type")
				.bic-item__descr-body
					.bic-item__descr-text
						p Хардтейл - это тип рамы велосипеда, не имеющий задней подвески.
						p.
							На велосипед с данным типом рам можно ставить как жесткие (увеличивая при этом скорость и уменьшая вес велосипеда), так и амортизационные (увеличивая проходимость и комфорт при езде по неровной поверхности) вилки.
						p.
							Данный тип рамы предназначен для спортивной езды в городской местности и легком бездорожье.
					.bic-item__config-links
						ul.config-links__list
							li.config-links__item
								a.config-links__link(href="#", alt="Config link")
									span.config-links__icon
										img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
									span.config-links__text Двухподвес
								.config-icon-tooltip
									.text.
										Двухподвесные велосипеды 451 моделей
										Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
									a(href="#") Прочитать подробно
							li.config-links__item
								a.config-links__link(href="#", alt="Config link")
									span.config-links__icon
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									span.config-links__text Мужской
								.config-icon-tooltip
									.text.
										Двухподвесные велосипеды 451 моделей
										Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
									a(href="#") Прочитать подробно
							li.config-links__item
								a.config-links__link(href="#", alt="Config link")
									span.config-links__icon
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									span.config-links__text Дороги и бездорожье
							li.config-links__item
								a.config-links__link(href="#", alt="Config link")
									span.config-links__icon
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									span.config-links__text Мужской
								.config-icon-tooltip
									.text.
										Двухподвесные велосипеды 451 моделей
										Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
									a(href="#") Прочитать подробно
					a.bic-item__cat-link(href="") Посмотреть все Хардтейлы
			.bic-item__sales-leader
				.bic-item__promo-title Лидер продаж хардтейлы
				.sales-leader__wrapper
					a.sales-leader__img(href="#")
						img(src="img/img-velo-leader1.jpg", alt="Leader image")
					.sales-leader__descr
						ul.sales-leader__cat-links-list(href="#")
							li.sales-leader__cat-links-item: a(href="#") Велосипеды
							li.sales-leader__cat-links-item: a(href="#") фетбайки
						a.sales-leader__title(href="#") Велосипед Bulls Sharptail 3 Disc 27,5 (2016)Велосипед Bulls Sharptail 3 Disc 27,5 (2016)
						.sales-leader__price-wrapper
							.sales-leader__price <span>16800 <em>руб.</em></span>
						.sales-leader__marking Артикул: VL-2927AB
						.sales-leader__stock.stock Есть в наличии
				a.sales-leader__arrow(href="#") Посмотреть товар
	.bic-item.bic-item--sales-leader-first
		.main-content
			.bic-item__descr-wrapper
				.bic-item__descr-top
					a.bic-item__descr-title-link(href="#")
						h3.bic-item__descr-title Фэт-байки
						.bic-item__descr-title-icon
					.bic-item__descr-image
						img(src="img/img-fatbike.png", alt="Bicycle type")
				.bic-item__descr-body
					.bic-item__descr-text
						p.
							Последние несколько лет фэт-байки (велосипеды на толстых покрышках) стали очень популярны, как и в целом велодвижение. Езда на велобайке по лесу, горной местности может стать отличной альтернативой фитнес-занятиям, к тому же вы получите удовольствие от прогулок на свежем воздухе. В нашем ассортименте представлены и простые фэт-байки, и те модели, которые могут помочь вам завоевать призовые места на различных соревнованиях.
						p.
							Мы поставляем напрямую фэт-байки от ведущих производителей, предлагая полный спектр услуг по обслуживанию и ремонту двухколесного транспорта.
					a.bic-item__cat-link(href="") Посмотреть все Хардтейлы
			.bic-item__sales-leader
				.bic-item__promo-title Лидер продаж хардтейлы
				.sales-leader__wrapper
					a.sales-leader__img(href="#")
						img(src="img/img-fatbike2.jpg", alt="Leader image")
					.sales-leader__descr
						ul.sales-leader__cat-links-list(href="#")
							li.sales-leader__cat-links-item: a(href="#") Велосипеды
							li.sales-leader__cat-links-item: a(href="#") фетбайки
						a.sales-leader__title(href="#") Велосипед Bulls Sharptail 3 Disc 27,5 (2016)
						.sales-leader__price-wrapper
							.sales-leader__price <span>16800 <em>руб.</em></span>
							.sales-leader__price.sales-leader__price--old
								<span><i>20800</i> <em>руб.</em></span>
						.sales-leader__marking Артикул: VL-2927AB
						.sales-leader__stock.stock Есть в наличии
				a.sales-leader__arrow(href="#") Посмотреть товар
	.bic-item
		.main-content
			.bic-item__descr-wrapper
				.bic-item__descr-top
					a.bic-item__descr-title-link(href="#")
						h3.bic-item__descr-title Женские
						.bic-item__descr-title-icon
					.bic-item__descr-image
						img(src="img/img-bike-female.png", alt="Bicycle type")
				.bic-item__descr-body
					.bic-item__descr-text
						p.
							Изящные, легкие и безопасные велосипеды для представительниц прекрасного пола. Горные женские велосипеды отличаются специальной геометрией рамы с учетом женской анатомии, удобным седлом, ярким и стильным дизайном, повышенной безопасностью управления. Ну а их надежность и ходовые качества ничем не отличается от тех же параметров мужских велосипедов. В нашем интернет-магазине ВелоСтрана.Ру представлены как недорогие женские велосипеды, так и профессиональные модели. У нас вы точно найдёте то, что придется вам по душе!
					.bic-item__config-links
						ul.config-links__list
							li.config-links__item
								a.config-links__link(href="#", alt="Config link")
									span.config-links__icon
										img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
									span.config-links__text Двухподвес
							li.config-links__item
								a.config-links__link(href="#", alt="Config link")
									span.config-links__icon
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									span.config-links__text Мужской
							li.config-links__item
								a.config-links__link(href="#", alt="Config link")
									span.config-links__icon
										img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
									span.config-links__text Дороги и бездорожье
							li.config-links__item
								a.config-links__link(href="#", alt="Config link")
									span.config-links__icon
										img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
									span.config-links__text Мужской
					a.bic-item__cat-link(href="") Посмотреть все Хардтейлы
			.bic-item__sales-leader
				.bic-item__promo-title Лидер продаж хардтейлы
				.sales-leader__wrapper
					a.sales-leader__img(href="#")
						img(src="img/img-bike-female2.jpg", alt="Leader image")
					.sales-leader__descr
						ul.sales-leader__cat-links-list(href="#")
							li.sales-leader__cat-links-item: a(href="#") Велосипеды
							li.sales-leader__cat-links-item: a(href="#") фетбайки
						a.sales-leader__title(href="#") Велосипед Bulls Sharptail 3 Disc 27,5 (2016)
						.sales-leader__price-wrapper
							.sales-leader__price <span>16800 <em>руб.</em></span>
						.sales-leader__marking Артикул: VL-2927AB
						.sales-leader__stock.stock Есть в наличии
				a.sales-leader__arrow(href="#") Посмотреть товар
	.bic-item.bic-item--sales-leader-first
		.main-content
			.bic-item__descr-wrapper
				.bic-item__descr-top
					a.bic-item__descr-title-link(href="#")
						h3.bic-item__descr-title Фэт-байки2
						.bic-item__descr-title-icon
					.bic-item__descr-image
						img(src="img/img-velo-hardtail.png", alt="Bicycle type")
				.bic-item__descr-body
					.bic-item__descr-text
						p.
							Последние несколько лет фэт-байки (велосипеды на толстых покрышках) стали очень популярны, как и в целом велодвижение. Езда на велобайке по лесу, горной местности может стать отличной альтернативой фитнес-занятиям, к тому же вы получите удовольствие от прогулок на свежем воздухе. В нашем ассортименте представлены и простые фэт-байки, и те модели, которые могут помочь вам завоевать призовые места на различных соревнованиях.
						p.
							Мы поставляем напрямую фэт-байки от ведущих производителей, предлагая полный спектр услуг по обслуживанию и ремонту двухколесного транспорта.
					a.bic-item__cat-link(href="") Посмотреть все Хардтейлы
			.bic-item__sales-leader
				.bic-item__promo-title Лидер продаж хардтейлы
				.sales-leader__wrapper
					a.sales-leader__img(href="#")
						img(src="img/img-velo-leader1.jpg", alt="Leader image")
					.sales-leader__descr
						ul.sales-leader__cat-links-list(href="#")
							li.sales-leader__cat-links-item: a(href="#") Велосипеды
							li.sales-leader__cat-links-item: a(href="#") фетбайки
						a.sales-leader__title(href="#") Велосипед Bulls Sharptail 3 Disc 27,5 (2016)
						.sales-leader__price-wrapper
							.sales-leader__price <span>16800 <em>руб.</em></span>
							.sales-leader__price.sales-leader__price--old
								<span><i>20800</i> <em>руб.</em></span>
						.sales-leader__marking Артикул: VL-2927AB
						.sales-leader__stock.stock Есть в наличии
				a.sales-leader__arrow(href="#") Посмотреть товар
	.bic-item
		.main-content
			.bic-item__descr-wrapper
				.bic-item__descr-top
					a.bic-item__descr-title-link(href="#")
						h3.bic-item__descr-title Фэт-байки3
						.bic-item__descr-title-icon
					.bic-item__descr-image
						img(src="img/img-velo-hardtail.png", alt="Bicycle type")
				.bic-item__descr-body
					.bic-item__descr-text
						p.
							Последние несколько лет фэт-байки (велосипеды на толстых покрышках) стали очень популярны, как и в целом велодвижение. Езда на велобайке по лесу, горной местности может стать отличной альтернативой фитнес-занятиям, к тому же вы получите удовольствие от прогулок на свежем воздухе. В нашем ассортименте представлены и простые фэт-байки, и те модели, которые могут помочь вам завоевать призовые места на различных соревнованиях.
						p.
							Мы поставляем напрямую фэт-байки от ведущих производителей, предлагая полный спектр услуг по обслуживанию и ремонту двухколесного транспорта.
					a.bic-item__cat-link(href="") Посмотреть все Хардтейлы
			.bic-item__sales-leader
				.bic-item__promo-title Лидер продаж хардтейлы
				.sales-leader__wrapper
					a.sales-leader__img(href="#")
						img(src="img/img-velo-leader1.jpg", alt="Leader image")
					.sales-leader__descr
						ul.sales-leader__cat-links-list(href="#")
							li.sales-leader__cat-links-item: a(href="#") Велосипеды
							li.sales-leader__cat-links-item: a(href="#") фетбайки
						a.sales-leader__title(href="#") Велосипед Bulls Sharptail 3 Disc 27,5 (2016)
						.sales-leader__price-wrapper
							.sales-leader__price <span>16800 <em>руб.</em></span>
							.sales-leader__price.sales-leader__price--old
								<span><i>20800</i> <em>руб.</em></span>
						.sales-leader__marking Артикул: VL-2927AB
						.sales-leader__stock.stock Есть в наличии
				a.sales-leader__arrow(href="#") Посмотреть товар
	.bic-item.bic-item--sales-leader-first
		.main-content
			.bic-item__descr-wrapper
				.bic-item__descr-top
					a.bic-item__descr-title-link(href="#")
						h3.bic-item__descr-title Фэт-байки4
						.bic-item__descr-title-icon
					.bic-item__descr-image
						img(src="img/img-velo-hardtail.png", alt="Bicycle type")
				.bic-item__descr-body
					.bic-item__descr-text
						p.
							Последние несколько лет фэт-байки (велосипеды на толстых покрышках) стали очень популярны, как и в целом велодвижение. Езда на велобайке по лесу, горной местности может стать отличной альтернативой фитнес-занятиям, к тому же вы получите удовольствие от прогулок на свежем воздухе. В нашем ассортименте представлены и простые фэт-байки, и те модели, которые могут помочь вам завоевать призовые места на различных соревнованиях.
						p.
							Мы поставляем напрямую фэт-байки от ведущих производителей, предлагая полный спектр услуг по обслуживанию и ремонту двухколесного транспорта.
					a.bic-item__cat-link(href="") Посмотреть все Хардтейлы
			.bic-item__sales-leader
				.bic-item__promo-title Лидер продаж хардтейлы
				.sales-leader__wrapper
					a.sales-leader__img(href="#")
						img(src="img/img-velo-leader1.jpg", alt="Leader image")
					.sales-leader__descr
						ul.sales-leader__cat-links-list(href="#")
							li.sales-leader__cat-links-item: a(href="#") Велосипеды
							li.sales-leader__cat-links-item: a(href="#") фетбайки
						a.sales-leader__title(href="#") Велосипед Bulls Sharptail 3 Disc 27,5 (2016)
						.sales-leader__price-wrapper
							.sales-leader__price <span>16800 <em>руб.</em></span>
							.sales-leader__price.sales-leader__price--old
								<span><i>20800</i> <em>руб.</em></span>
						.sales-leader__marking Артикул: VL-2927AB
						.sales-leader__stock.stock Есть в наличии
				a.sales-leader__arrow(href="#") Посмотреть товар
	.bic-item
		.main-content
			.bic-item__descr-wrapper
				.bic-item__descr-top
					a.bic-item__descr-title-link(href="#")
						h3.bic-item__descr-title Фэт-байки5
						.bic-item__descr-title-icon
					.bic-item__descr-image
						img(src="img/img-velo-hardtail.png", alt="Bicycle type")
				.bic-item__descr-body
					.bic-item__descr-text
						p.
							Последние несколько лет фэт-байки (велосипеды на толстых покрышках) стали очень популярны, как и в целом велодвижение. Езда на велобайке по лесу, горной местности может стать отличной альтернативой фитнес-занятиям, к тому же вы получите удовольствие от прогулок на свежем воздухе. В нашем ассортименте представлены и простые фэт-байки, и те модели, которые могут помочь вам завоевать призовые места на различных соревнованиях.
						p.
							Мы поставляем напрямую фэт-байки от ведущих производителей, предлагая полный спектр услуг по обслуживанию и ремонту двухколесного транспорта.
					a.bic-item__cat-link(href="") Посмотреть все Хардтейлы
			.bic-item__sales-leader
				.bic-item__promo-title Лидер продаж хардтейлы
				.sales-leader__wrapper
					a.sales-leader__img(href="#")
						img(src="img/img-velo-leader1.jpg", alt="Leader image")
					.sales-leader__descr
						ul.sales-leader__cat-links-list(href="#")
							li.sales-leader__cat-links-item: a(href="#") Велосипеды
							li.sales-leader__cat-links-item: a(href="#") фетбайки
						a.sales-leader__title(href="#") Велосипед Bulls Sharptail 3 Disc 27,5 (2016)
						.sales-leader__price-wrapper
							.sales-leader__price <span>16800 <em>руб.</em></span>
							.sales-leader__price.sales-leader__price--old
								<span><i>20800</i> <em>руб.</em></span>
						.sales-leader__marking Артикул: VL-2927AB
						.sales-leader__stock.stock Есть в наличии
				a.sales-leader__arrow(href="#") Посмотреть товар
	a.show-more-cats.btn.btn--red-round(href="#") показать еще категории



