.cart-top
	.main-content
		.cart-top__header
			a.cart-top__link.cart-top__link--back(href="") Назад к покупкам
			a.cart-top__link.cart-top__link--checkout(href="") Оформить заказ
			h2.cart-top__title Корзина
		.cart-top__notification.
			Этот заказ добавит +1099,9 бонусных баллов, которые вы затем сможете использовать для получения
			дополнительных скидок.