.catalog-menu
	.main-content
		.catalog-menu__header
			h2.catalog-menu__title велосипеды
		ul.catalog-menu__list
			li.catalog-menu__item
				a.catalog-menu__image(href="#")
					img(src="img/img-item-1.jpg", alt="Catalog Menu Image")
				.catalog-menu__content
					a.catalog-menu__name(href="") шоссейные
					.catalog-menu__text
						span 89 
						i моделей на выбор
			li.catalog-menu__item
				a.catalog-menu__image(href="#")
					img(src="img/img-item-2.jpg", alt="Catalog Menu Image")
				.catalog-menu__content
					a.catalog-menu__name(href="") комфортные
					.catalog-menu__text
						span 89 
						i моделей на выбор
			li.catalog-menu__item
				a.catalog-menu__image(href="#")
					img(src="img/img-item-3.jpg", alt="Catalog Menu Image")
				.catalog-menu__content
					a.catalog-menu__name(href="") Детские
					.catalog-menu__text
						span 89 
						i моделей на выбор
			li.catalog-menu__item
				a.catalog-menu__image(href="#")
					img(src="img/img-item-4.jpg", alt="Catalog Menu Image")
				.catalog-menu__content
					a.catalog-menu__name(href="") горные
					.catalog-menu__text
						span 89 
						i моделей на выбор
			li.catalog-menu__item
				a.catalog-menu__image(href="#")
					img(src="img/img-item-5.jpg", alt="Catalog Menu Image")
				.catalog-menu__content
					a.catalog-menu__name(href="") фэт-байк
					.catalog-menu__text
						span 89 
						i моделей на выбор
			li.catalog-menu__item
				a.catalog-menu__image(href="#")
					img(src="img/img-item-6.jpg", alt="Catalog Menu Image")
				.catalog-menu__content
					a.catalog-menu__name(href="") двойные
					.catalog-menu__text
						span 89 
						i моделей на выбор
			li.catalog-menu__item
				a.catalog-menu__image(href="#")
					img(src="img/img-item-7.jpg", alt="Catalog Menu Image")
				.catalog-menu__content
					a.catalog-menu__name(href="") ФИКС
					.catalog-menu__text
						span 89 
						i моделей на выбор
			li.catalog-menu__item
				a.catalog-menu__image(href="#")
					img(src="img/img-item-8.jpg", alt="Catalog Menu Image")
				.catalog-menu__content
					a.catalog-menu__name(href="") Городской
					.catalog-menu__text
						span 89 
						i моделей на выбор
			li.catalog-menu__item
				a.catalog-menu__image(href="#")
					img(src="img/img-item-9.jpg", alt="Catalog Menu Image")
				.catalog-menu__content
					a.catalog-menu__name(href="") BMX
					.catalog-menu__text
						span 89 
						i моделей на выбор