.catalog-top
	.main-content
		.catalog-top__image
			img(src="img/catalog-top-image.jpg",alt="Catalog Image")
.breadcrumb
	.main-content 
		ul.breadcrumb__list
			li.breadcrumb__item: a(href="#") Главная