.catalog-descr
	.catalog-descr__image
		img(src="img/img-item-3.jpg", alt="Catalog description pic")
	h4.catalog-descr__title велосипеды
	.catalog-descr__content
		p.
			<strong>Горные велосипеды</strong> – самый популярный вид двухколесного транспорта в России. И это объяснимо – на таком байке вы можете кататься как в пределах городской черты, так и по бездорожью. Он универсален. Чаще всего по дорогам носятся на хардтейлах, велосипедах с передней амортизацией, усиленной трапециевидной рамой и рельефными спортивными шинами. Такие байки хороши тем, что в каких бы ямах и колдобинах ни был асфальт, шанс доехать до  места назначения имеется всегда. Именно поэтому горные велосипеды подходят для фанатов езды по проезжей части и тротуарам, а также вылазок на природу.
	.catalog-descr__detailed-text.
		Прочитайте подробно о <a href="#">Двухподвесных велосипедах</a> на нашем блоге