.cat-bottom
	.cat-bottom__loading
		span
			img(src="img/icon-loader.png", alt="loading")
		span загрузка...
	a.cat-bottom__loader-btn(href="#") загрузить еще
	.pagination
		ul.pagination__list
			li.pagination__item
				a(href="#") 
					span 1
			li.pagination__item
				a(href="#") 
					span 2
			li.pagination__item
				a(href="#") 
					span 3
		a.pagination__next-page(href="") следующая страница
	.cat-bottom__text
		p.
			Вес хардтейла начального уровня колеблется от 14 до 17 кг. <strong>Профессиональные велосипеды весят 8-12 кг.</strong> Такая разница обусловлена применением легких материалов (сплавы алюминия, углепласик) и высокотехнологичного навесного оборудования, которое зачастую стоит как поддержанная иномарка.

		p.
			На данный момент, все чаще вместо стандартного размера колес 2	6” в горных велосипедах стали использовать новые стандарты 27.5” или 29”. Такие колеса имеют великолепный накат при незначительной потере маневренности. Ободные тормоза сейчас тоже все реже и реже появляются на горных моделях. Их почти полностью вытеснили <a href="#">дисковые механические</a> (передача усилия через трос) или гидравлические (использующие тормозную жидкость) тормоза. Такие тормоза имеют ряд преимуществ, работают независимо от погодных условий и состояния обода, но весят на порядок выше ободных.