.catalog-list
	.catalog-list__filter
		.catalog-list__inner
			.catalog-list__filter-result Найдено <strong>425</strong> товаров в наличии
			.catalog-list__filter-settings
				form
					label(for="catalog-filter") Сначала:
					select
						option Новые и популярные
						option Старые и популярные
						option Новые но не популярные
	.catalog-list__sidebar
		.description
			h4.description__title велосипеды
			.description__img
				img(src="img/img-item-2.jpg", alt="Description text")
			.description__content
				p.
					<strong>Горные велосипеды</strong> – самый популярный вид двухколесного транспорта в России. И это объяснимо – на таком байке вы можете кататься как в пределах городской черты, так и по бездорожью. Он универсален. Чаще всего по дорогам носятся на хардтейлах, велосипедах с передней амортизацией, усиленной трапециевидной рамой и рельефными спортивными шинами. Такие байки хороши тем, что в каких бы ямах и колдобинах ни был асфальт, шанс доехать до  места назначения имеется всегда. Именно поэтому горные велосипеды подходят для фанатов езды по проезжей части и тротуарам, а также вылазок на природу.
			.description__detailed-text.
				Прочитайте подробно о <a href="#">Двухподвесных велосипедах</a> на нашем блоге
		.brands
			h4.brands__title велосипеды
			ul.brands__list
				li.brands__item
					img(src="img/img-logo-cube.jpg", alt="Brands")
				li.brands__item
					img(src="img/img-logo-giant.jpg", alt="Brands")
				li.brands__item
					img(src="img/img-logo-merida.jpg", alt="Brands")
				li.brands__item
					img(src="img/img-logo-trek.jpg", alt="Brands")
			a.brands_link.btn.btn--transparent-round(href="#") Перейти на страницу брендов
		.banner
			img(src="img/banner-catalog.jpg", alt="Catalog Banner")
	.catalog-list__ul
		li.catalog-item
			.catalog-item__inner
				.sales-leader__badge
				ul.catalog-item__badges
						li.badge скидка
				a.catalog-item__images(href="#")
					img(src="img/img-item-5.jpg", alt="Item Pic")
				.catalog-item__descr
					a.catalog-item__title(href="#") Велосипед Bulls Sharptail 3 Disc 27,5 (2016)
					.catalog-item__price-wrapper
						.catalog-item__price <span>16800 руб.</span>
						.catalog-item__price.catalog-item__price--old
							<span><i>20800</i> руб.</span>
					.catalog-item__advantage-badge экономия <span>10%</span>
					.catalog-item__marking Артикул: VL-2927AB
					.catalog-item__stock.stock Есть в наличии
				a.sales-leader__arrow(href="#") Посмотреть товар
			.catalog-item__conficons
				ul.catalog-item__conficons-list
					li.catalog-item__conficons-item
						a.catalog-item__conficons-link(href="#")
							img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
					li.catalog-item__conficons-item
						a.catalog-item__conficons-link(href="#")
							img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
					li.catalog-item__conficons-item
						a.catalog-item__conficons-link(href="#")
							img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")








