section.slide-categories
	h1.visually-hidden Главный слайдер сайта
	.main-slider
		.main-slider--js
			a.main-slider__item(href="#")
				img(src="img/img-slider.jpg", alt="Slider Pic")
			a.main-slider__item(href="#")
				img(src="img/img-slider.jpg", alt="Slider Pic")
			a.main-slider__item(href="#")
				img(src="img/img-slider.jpg", alt="Slider Pic")
	article.category-item.category-item--slider
		header.category-item__header(href="#")
			a.category-item__desc(href="#")
				.category-item__desc-wrapper
					.category-item__title-wrapper 
						h1.category-item__title Велосипеды
						.category-item__title-icon
					.category-item__count 230
					.category-item__price от <span>18 900</span> руб.
				.category-item__label.category-item__label--green Большой выбор
				.category-item__pic
						img(src="img/img-cat-velo.png", alt="Bycycle picture")
		footer.category-item__footer.category-item__footer--brands
			.category-item__brands
				ul.category-item__brands-list
					li.category-item__brands-item
						img(src="img/img-brand.jpg", alt="Brand")
					li.category-item__brands-item
						img(src="img/img-brand.jpg", alt="Brand")
					li.category-item__brands-item
						img(src="img/img-brand.jpg", alt="Brand")
	article.category-item
		header.category-item__header(href="#")
			a.category-item__desc(href="#")
				.category-item__desc-wrapper
					.category-item__title-wrapper 
						h1.category-item__title Аксессуары
						.category-item__title-icon
					.category-item__count 2080
					.category-item__price от <span>100</span> руб.
				.category-item__label.category-item__label--red Скидки прямо сейчас
				.category-item__pic
					img(src="img/img-cat-accessory.png", alt="Bycycle picture")
		footer.category-item__footer
			.category-item__filter
				ul.category-item__filter-list
					li.category-item__filter-item
						a.category-item__filter-link(href="#") Велокомпьютеры
					li.category-item__filter-item
						a.category-item__filter-link(href="#") Шлемы
					li.category-item__filter-item
						a.category-item__filter-link(href="#") Сумки
	article.category-item
		header.category-item__header(href="#")
			a.category-item__desc(href="#")
				.category-item__desc-wrapper
					.category-item__title-wrapper 
						h1.category-item__title Самокаты
						.category-item__title-icon
					.category-item__count 120
					.category-item__price от <span>7900</span> руб.
				.category-item__label.category-item__label--blue От всех брендов
				.category-item__pic
					img(src="img/img-cat-stepper.jpg", alt="Bycycle picture")
		footer.category-item__footer
			.category-item__filter
				ul.category-item__filter-list
					li.category-item__filter-item
						a.category-item__filter-link(href="#") Для детей
					li.category-item__filter-item
						a.category-item__filter-link(href="#") Для взрослых
					li.category-item__filter-item
						a.category-item__filter-link(href="#") Для прыжка
	article.category-item.category-item--narrow
		header.category-item__header(href="#")
			a.category-item__desc(href="#")
				.category-item__desc-wrapper
					.category-item__title-wrapper 
						h1.category-item__title Запчасти
						.category-item__title-icon
					.category-item__count 120
					.category-item__price от <span>100</span> руб.
				.category-item__pic
					img(src="img/img-cat-spares.jpg", alt="Bycycle picture")
	article.category-item.category-item--wide
		header.category-item__header(href="#")
			a.category-item__desc(href="#")
				.category-item__desc-wrapper
					.category-item__title-wrapper 
						h1.category-item__title Скейты
						.category-item__title-icon
					.category-item__count 89
					.category-item__price от <span>7200</span> руб.
				.category-item__label.category-item__label--purple Экстрим для всех
				.category-item__pic
					img(src="img/img-cat-board.jpg", alt="Bycycle picture")
	article.category-item.category-item--wide
		header.category-item__header(href="#")
			a.category-item__desc(href="#")
				.category-item__desc-wrapper
					.category-item__title-wrapper 
						h1.category-item__title Гироскутеры
						.category-item__title-icon
					.category-item__count 89
					.category-item__price от <span>7200</span> руб.
				.category-item__pic
					img(src="img/img-cat-giroscooter.jpg", alt="Bycycle picture")
		footer.category-item__footer
			.category-item__filter
				ul.category-item__filter-list
					li.category-item__filter-item
						a.category-item__filter-link(href="#") Аксессуары
					li.category-item__filter-item
						a.category-item__filter-link(href="#") Запчасти




