.checkout-top
	.main-content
		.checkout-top__inner
			a.checkout-top__cartback(href="") Назад в корзину
			h1.checkout-top__title Оформление заказа
			.checkout-top__order-total Сумма заказа:<span> 65 770</span> Р.