.config__inner
	ul.config-panel
		li.config-panel__item.config-panel__item--toggle
			ul.config-panel__inner-section.inner-section--toggle
				li.config-panel__menu-type.config-panel__menu-type--toggle
					a.config-main-toggle(href="#") Открыть меню конфигурации
						img(src="img/icon-config-toggle.svg", width="26", height="31", alt="icon-toggle")
				li.config-panel__menu-content--toggle
					.config-panel__menu-content-wrap
						.config-panel__top-text
							<span>Подберите себе</span><i>подходящий товар</i>
		li.config-panel__item
			ul.config-panel__inner-section
				li.config-panel__menu-type(title="Кому")
					a.config-panel__menu-type-link(href="#") Koму
						img(src="img/icon-male.svg", width="11", height="20", alt="Config item icon")
				li.config-panel__menu-content
					.config-panel__menu-content-wrap
						.config-panel__menu-title
							span Кому
							i ?
								div.
									Двухподвесные велосипеды 451 моделей
									Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
									<a href="#">Прочитать подробно</a>
						.config-panel__menu-wrapper
							ul.config-panel__menu-list
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-man.svg", width="15", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="for-man") Мужчина
										input.config-panel__checkbox(type="checkbox", id="for-man", disabled)
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-woman.svg", width="19", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="for-woman") Женщина
										input.config-panel__checkbox(type="checkbox", id="for-woman", disabled, checked)
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-boy.svg", width="16", height="19", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="for-boy") Мальчик
										input.config-panel__checkbox(type="checkbox", id="for-boy")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-kid.svg", width="20", height="18", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="for-kid") Девочка
										input.config-panel__checkbox(type="checkbox", id="for-kid")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-kid2.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="for-kid2") Младенцу
										input.config-panel__checkbox(type="checkbox", id="for-kid2")
		li.config-panel__item
			ul.config-panel__inner-section
				li.config-panel__menu-type(title="Где кататься")
					a.config-panel__menu-type-link(href="#") Где кататься
						img(src="img/icon-binocular.svg", width="20", height="15", alt="Config item icon")
				li.config-panel__menu-content
					.config-panel__menu-content-wrap
						.config-panel__menu-title
							span Где кататься
							i ?
								div.
									Двухподвесные велосипеды 451 моделей
									Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
									<a href="#">Прочитать подробно</a>
						.config-panel__menu-wrapper
							ul.config-panel__menu-list
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="smooth") Ровные дороги
										input.config-panel__checkbox(type="checkbox", id="smooth")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="off-road") Бездорожье
										input.config-panel__checkbox(type="checkbox", id="off-road")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="mixed-road") Дороги и бездорожье
										input.config-panel__checkbox(type="checkbox", id="mixed-road")
		li.config-panel__item
			ul.config-panel__inner-section
				li.config-panel__menu-type(title="Цена")
					a.config-panel__menu-type-link(href="#") Цена
						img(src="img/icon-price.svg", width="12", height="21", alt="Config item icon")
				li.config-panel__menu-content
					.config-panel__menu-content-wrap
						.config-panel__menu-title
							span Цена
							i ?
								div.
									Двухподвесные велосипеды 451 моделей
									Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
									<a href="#">Прочитать подробно</a>
						.config-panel__menu-wrapper
							ul.config-panel__menu-list
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="20") До 20 т.р
										input.config-panel__checkbox(type="checkbox", id="20")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="40") 20-40 т.р
										input.config-panel__checkbox(type="checkbox", id="40")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="60") 40-60 т.р
										input.config-panel__checkbox(type="checkbox", id="60")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="100") 60-100 т.р
										input.config-panel__checkbox(type="checkbox", id="100")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="more-100") > 100 т.р
										input.config-panel__checkbox(type="checkbox", id="more-100")
		li.config-panel__item
			ul.config-panel__inner-section
				li.config-panel__menu-type(title="Тип велосипеда")
					a.config-panel__menu-type-link(href="#") Тип велосипеда
						img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config item icon")
				li.config-panel__menu-content
					.config-panel__menu-content-wrap
						.config-panel__menu-title
							span Тип велосипеда
							i ?
								div.
									Двухподвесные велосипеды 451 моделей
									Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
									<a href="#">Прочитать подробно</a>
						.config-panel__menu-wrapper
							ul.config-panel__menu-list
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="20") Хардтейл
										input.config-panel__checkbox(type="checkbox", id="20")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="40") Двухподвес
										input.config-panel__checkbox(type="checkbox", id="40")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="60") Гибрид
										input.config-panel__checkbox(type="checkbox", id="60")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="100") BMX
										input.config-panel__checkbox(type="checkbox", id="100")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="more-100") Дёрт/Стрит
										input.config-panel__checkbox(type="checkbox", id="more-100")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="more-100") Дёрт/Стрит 4
										input.config-panel__checkbox(type="checkbox", id="more-100")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="more-100") Дёрт/Стрит 3
										input.config-panel__checkbox(type="checkbox", id="more-100")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="more-100") Дёрт/Стрит 2
										input.config-panel__checkbox(type="checkbox", id="more-100")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="more-100") Дёрт/Стрит 2
										input.config-panel__checkbox(type="checkbox", id="more-100")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="more-100") Дёрт/Стрит 2
										input.config-panel__checkbox(type="checkbox", id="more-100")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="more-100") Дёрт/Стрит 2
										input.config-panel__checkbox(type="checkbox", id="more-100")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="more-100") Дёрт/Стрит 2
										input.config-panel__checkbox(type="checkbox", id="more-100")
								a.show-more(href="")
									span показать еще
		li.config-panel__item
			ul.config-panel__inner-section
				li.config-panel__menu-type(title="Диаметр колес")
					a.config-panel__menu-type-link(href="#") Диаметр колес
						img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config item icon")
				li.config-panel__menu-content
					.config-panel__menu-content-wrap
						.config-panel__menu-title
							span Диаметр колес
							i ?
								div.
									Двухподвесные велосипеды 451 моделей
									Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
									<a href="#">Прочитать подробно</a>
						.config-panel__menu-wrapper
							ul.config-panel__menu-list
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="20") 12
										input.config-panel__checkbox(type="checkbox", id="20")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="40") 14
										input.config-panel__checkbox(type="checkbox", id="40")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="60") 16
										input.config-panel__checkbox(type="checkbox", id="60")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="100") 18
										input.config-panel__checkbox(type="checkbox", id="100")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="more-100") 20
										input.config-panel__checkbox(type="checkbox", id="more-100")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="20") 24
										input.config-panel__checkbox(type="checkbox", id="20")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="40") 26
										input.config-panel__checkbox(type="checkbox", id="40")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="60") 27.5
										input.config-panel__checkbox(type="checkbox", id="60")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="100") 28
										input.config-panel__checkbox(type="checkbox", id="100")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="more-100") 29
										input.config-panel__checkbox(type="checkbox", id="more-100")
								a.show-more(href="") показать еще
		li.config-panel__item
			ul.config-panel__inner-section
				li.config-panel__menu-type(title="Рост ребенка")
					a.config-panel__menu-type-link(href="#") Рост ребенка
						img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config item icon")
				li.config-panel__menu-content
					.config-panel__menu-content-wrap
						.config-panel__menu-title
							span Рост ребенка
							i ?
								div.
									Двухподвесные велосипеды 451 моделей
									Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
									<a href="#">Прочитать подробно</a>
						.config-panel__menu-wrapper
							ul.config-panel__menu-list
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="20") До 98 см
										input.config-panel__checkbox(type="checkbox", id="20")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="40") До 115 см
										input.config-panel__checkbox(type="checkbox", id="40")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="60") 120-130 см
										input.config-panel__checkbox(type="checkbox", id="60")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="100") 130-150 см
										input.config-panel__checkbox(type="checkbox", id="100")
		li.config-panel__item
			ul.config-panel__inner-section
				li.config-panel__menu-type(title="Тип рамы")
					a.config-panel__menu-type-link(href="#") Тип рамы
						img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config item icon")
				li.config-panel__menu-content
					.config-panel__menu-content-wrap
						.config-panel__menu-title
							span Тип рамы
							i ?
								div.
									Двухподвесные велосипеды 451 моделей
									Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
									<a href="#">Прочитать подробно</a>
						.config-panel__menu-wrapper
							ul.config-panel__menu-list
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="20") До 98 см
										input.config-panel__checkbox(type="checkbox", id="20")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="40") До 115 см
										input.config-panel__checkbox(type="checkbox", id="40")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="60") 120-130 см
										input.config-panel__checkbox(type="checkbox", id="60")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="100") 130-150 см
										input.config-panel__checkbox(type="checkbox", id="100")
		li.config-panel__item
			ul.config-panel__inner-section
				li.config-panel__menu-type(title="Задний переключатель")
					a.config-panel__menu-type-link(href="#") Задний переключатель
						img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config item icon")
				li.config-panel__menu-content
					.config-panel__menu-content-wrap
						.config-panel__menu-title
							span Задний переключатель
							i ?
								div.
									Двухподвесные велосипеды 451 моделей
									Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
									<a href="#">Прочитать подробно</a>
						.config-panel__menu-wrapper
							ul.config-panel__menu-list
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="20") SIS
										input.config-panel__checkbox(type="checkbox", id="20")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="40") Tourney
										input.config-panel__checkbox(type="checkbox", id="40")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="60") Acera
										input.config-panel__checkbox(type="checkbox", id="60")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="100") Altus
										input.config-panel__checkbox(type="checkbox", id="100")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="100") Alivio
										input.config-panel__checkbox(type="checkbox", id="100")
		li.config-panel__item
			ul.config-panel__inner-section
				li.config-panel__menu-type(title="Тип тормоза")
					a.config-panel__menu-type-link(href="#") Тип тормоза
						img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config item icon")
				li.config-panel__menu-content
					.config-panel__menu-content-wrap
						.config-panel__menu-title
							span Тип тормоза
							i ?
								div.
									Двухподвесные велосипеды 451 моделей
									Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
									<a href="#">Прочитать подробно</a>
						.config-panel__menu-wrapper
							ul.config-panel__menu-list
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="20") Ободной v-brake
										input.config-panel__checkbox(type="checkbox", id="20")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="40") Дисковый механический Tektro
										input.config-panel__checkbox(type="checkbox", id="40")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="60") Дисковый механический Promax
										input.config-panel__checkbox(type="checkbox", id="60")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="100") Дисковый гидравлический Shimano
										input.config-panel__checkbox(type="checkbox", id="100")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="100") Дисковый гидравлический Avid
										input.config-panel__checkbox(type="checkbox", id="100")
		li.config-panel__item
			ul.config-panel__inner-section
				li.config-panel__menu-type(title="Вилка")
					a.config-panel__menu-type-link(href="#") Вилка
						img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config item icon")
				li.config-panel__menu-content
					.config-panel__menu-content-wrap
						.config-panel__menu-title
							span Вилка
							i ?
								div.
									Двухподвесные велосипеды 451 моделей
									Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
									<a href="#">Прочитать подробно</a>
						.config-panel__menu-wrapper
							ul.config-panel__menu-list
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="20") Жесткие
										input.config-panel__checkbox(type="checkbox", id="20")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="40") Пружинные
										input.config-panel__checkbox(type="checkbox", id="40")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="60") Пружинно-эластомерные
										input.config-panel__checkbox(type="checkbox", id="60")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="100") ДПружинно-маслянные
										input.config-panel__checkbox(type="checkbox", id="100")
								li.config-panel__menu-item.filter-btn
									i.config-panel__menu-icon
									.config-panel__menu-options-wrapper
										button.config-menu-item-btn(type="submit") показать результаты
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="100") Воздушные
										input.config-panel__checkbox(type="checkbox", id="100")
								a.show-more(href="") показать еще
		li.config-panel__item
			ul.config-panel__inner-section
				li.config-panel__menu-type(title="Бренд")
					a.config-panel__menu-type-link(href="#") бренд
						img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config item icon")
				li.config-panel__menu-content
					.config-panel__menu-content-wrap
						.config-panel__menu-title
							span бренд
							i ?
								div.
									Двухподвесные велосипеды 451 моделей
									Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
									<a href="#">Прочитать подробно</a>
						.config-panel__menu-wrapper
							ul.config-panel__menu-list
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="20") SIS
										input.config-panel__checkbox(type="checkbox", id="20")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="40") Tourney
										input.config-panel__checkbox(type="checkbox", id="40")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="60") Acera
										input.config-panel__checkbox(type="checkbox", id="60")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="100") Alivio
										input.config-panel__checkbox(type="checkbox", id="100")
		li.config-panel__item
			ul.config-panel__inner-section
				li.config-panel__menu-type(title="Бренд")
					a.config-panel__menu-type-link(href="#") бренд
						img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config item icon")
				li.config-panel__menu-content
					.config-panel__menu-content-wrap
						.config-panel__menu-title
							span бренд
							i ?
								div.
									Двухподвесные велосипеды 451 моделей
									Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
									<a href="#">Прочитать подробно</a>
						.config-panel__menu-wrapper
							ul.config-panel__menu-list
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="20") SIS
										input.config-panel__checkbox(type="radio", id="20")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="40") Tourney
										input.config-panel__checkbox(type="radio", id="40")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="60") Acera
										input.config-panel__checkbox(type="radio", id="60")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="100") Alivio
										input.config-panel__checkbox(type="radio", id="100")
		li.config-panel__item.form-submit
			ul.config-panel__inner-section
				li.config-panel__menu-type
				li.config-panel__menu-content
					.config-panel__menu-content-wrap.menu-content--footer
						.result Найдено <span>11</span> совпадение
						button.config-submit-show(type="submit") показать
						button.config-submit-detailed(type="submit") Подробный фильтр