.config__inner
	ul.config-panel
		li.config-panel__item.config-panel__item--toggle
			ul.config-panel__inner-section.inner-section--toggle
				li.config-panel__menu-type.config-panel__menu-type--toggle
					a.config-main-toggle(href="#") Открыть меню конфигурации
						img(src="img/icon-config-toggle.svg", width="26", height="31", alt="icon-toggle")
				li.config-panel__menu-content--toggle
					.config-panel__menu-content-wrap
						.config-panel__top-text
							<span>Подберите себе</span><i>подходящий товар</i>
		li.config-panel__item
			ul.config-panel__inner-section
				li.config-panel__menu-type(title="Кому")
					a.config-panel__menu-type-link(href="#") Koму
						img(src="img/icon-male.svg", width="11", height="20", alt="Config item icon")
				li.config-panel__menu-content
					.config-panel__menu-content-wrap
						.config-panel__menu-title
							span Кому
							i ?
							div.
								Двухподвесные велосипеды 451 моделей
								Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
								<a href="#">Прочитать подробно</a>
						.config-panel__menu-wrapper
							ul.config-panel__menu-list
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-man.svg", width="15", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="for-man") Мужчина
										input.config-panel__checkbox(type="checkbox", id="for-man")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-woman.svg", width="19", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="for-woman") Женщина
										input.config-panel__checkbox(type="checkbox", id="for-woman")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-boy.svg", width="16", height="19", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="for-boy") Мальчик
										input.config-panel__checkbox(type="checkbox", id="for-boy")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-kid.svg", width="20", height="18", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="for-kid") Девочка
										input.config-panel__checkbox(type="checkbox", id="for-kid")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-kid2.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="for-kid2") Младенцу
										input.config-panel__checkbox(type="checkbox", id="for-kid2")
		li.config-panel__item
			ul.config-panel__inner-section
				li.config-panel__menu-type(title="Где кататься")
					a.config-panel__menu-type-link(href="#") Где кататься
						img(src="img/icon-binocular.svg", width="20", height="15", alt="Config item icon")
				li.config-panel__menu-content
					.config-panel__menu-content-wrap
						.config-panel__menu-title
							span Где кататься
							i ?
							div.
								Двухподвесные велосипеды 451 моделей
								Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
								<a href="#">Прочитать подробно</a>
						.config-panel__menu-wrapper
							ul.config-panel__menu-list
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="smooth") Ровные дороги
										input.config-panel__checkbox(type="checkbox", id="smooth")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="off-road") Бездорожье
										input.config-panel__checkbox(type="checkbox", id="off-road")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="mixed-road") Дороги и бездорожье
										input.config-panel__checkbox(type="checkbox", id="mixed-road")
		li.config-panel__item
			ul.config-panel__inner-section
				li.config-panel__menu-type(title="Где кататься")
					a.config-panel__menu-type-link(href="#") Цена
						img(src="img/icon-price.svg", width="12", height="21", alt="Config item icon")
				li.config-panel__menu-content
					.config-panel__menu-content-wrap
						.config-panel__menu-title
							span Цена
							i ?
							div.
								Двухподвесные велосипеды 451 моделей
								Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
								<a href="#">Прочитать подробно</a>
						.config-panel__menu-wrapper
							ul.config-panel__menu-list
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="20") До 20 т.р
										input.config-panel__checkbox(type="checkbox", id="20")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="40") 20-40 т.р
										input.config-panel__checkbox(type="checkbox", id="40")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="60") 40-60 т.р
										input.config-panel__checkbox(type="checkbox", id="60")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="100") 60-100 т.р
										input.config-panel__checkbox(type="checkbox", id="100")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="more-100") > 100 т.р
										input.config-panel__checkbox(type="checkbox", id="more-100")
		li.config-panel__item
			ul.config-panel__inner-section
				li.config-panel__menu-type(title="Где кататься")
					a.config-panel__menu-type-link(href="#") Тип велосипеда
						img(src="img/icon-price.svg", width="12", height="21", alt="Config item icon")
				li.config-panel__menu-content
					.config-panel__menu-content-wrap
						.config-panel__menu-title
							span Тип велосипеда
							i ?
							div.
								Двухподвесные велосипеды 451 моделей
								Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
								<a href="#">Прочитать подробно</a>
						.config-panel__menu-wrapper
							ul.config-panel__menu-list
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="20") До 20 т.р
										input.config-panel__checkbox(type="checkbox", id="20")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="40") 20-40 т.р
										input.config-panel__checkbox(type="checkbox", id="40")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="60") 40-60 т.р
										input.config-panel__checkbox(type="checkbox", id="60")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="100") 60-100 т.р
										input.config-panel__checkbox(type="checkbox", id="100")
								li.config-panel__menu-item
									i.config-panel__menu-icon
										img(src="img/icon-placeholder.svg", width="20", height="20", alt="Config icon")
									.config-panel__menu-options-wrapper
										label.config-panel__label(for="more-100") > 100 т.р
										input.config-panel__checkbox(type="checkbox", id="more-100")
		li.config-panel__item.form-submit
			ul.config-panel__inner-section
				li.config-panel__menu-type
				li.config-panel__menu-content
					.config-panel__menu-content-wrap
						.result Найдено <span>11</span> совпадение
						button.config-submit-show(type="submit") показать
						button.config-submit-detailed(type="submit") Подробный фильтр