.breadcrumb
	ul.breadcrumb__list
		li.breadcrumb__item: a(href="#") Главная
		li.breadcrumb__item: a(href="#") Велосипеды
		li.breadcrumb__item: a(href="#") Двухподвес
		li.breadcrumb__item: a(href="#") Электровелосипед Bulls SIX50 E2 (2016)
