block footer
	footer.page-footer
		.page-footer__top
			.page-footer__top-wrap
				.main-content
					ul.page-footer__support-list
						li.page-footer__support-tel
							span.page-footer__support-tel-icon
								img(src="img/icon-phone-stroked.svg", width="16", height="16", alt="icon")
							span.page-footer__support-tel-num +7 495 961-94-21
						li.page-footer__support-tel.last-phone
							span.page-footer__support-tel-icon
								img(src="img/icon-phone-stroked.svg", width="16", height="16", alt="icon")
							span.page-footer__support-tel-num +7 495 246-0-245
						li.page-footer__support-schedule Ежедневно с 10:00 до 20:00
						li.page-footer__support-mail
							span.social-icon
								img(src="img/icon-send.svg", width="16", height="16", alt="icon")
							a.mail-address(href="mailto:info@velomatrix.ru") info@velomatrix.ru
						li.page-footer__support-skype
							span.social-icon
								img(src="img/icon-skype.svg", width="15", height="15", alt="icon")
							a.skypel-address(href="skype:velomatrix?call") velomatrix
					dl.footer-info-block
						dd
							h5.footer-info-block__title Информация
						dt
							ul.footer-info-block__list
								li.footer-info-block__item
									a.footer-info-block__link(href="#") Доставка и оплата
								li.footer-info-block__item
									a.footer-info-block__link(href="#") О нас
								li.footer-info-block__item
									a.footer-info-block__link(href="#") Размер рамы
								li.footer-info-block__item
									a.footer-info-block__link(href="#") Обзоры новинок
								li.footer-info-block__item
									a.footer-info-block__link(href="#") Карта сайта
					dl.footer-info-block
						dd
							h5.footer-info-block__title Служба поддержки
						dt
							ul.footer-info-block__list
								li.footer-info-block__item
									a.footer-info-block__link(href="#") Связаться с нами
								li.footer-info-block__item
									a.footer-info-block__link(href="#") Возврат товара
								li.footer-info-block__item
									a.footer-info-block__link(href="#") Гарантия
					dl.footer-info-block
						dd
							h5.footer-info-block__title Сервис
						dt
							ul.footer-info-block__list
								li.footer-info-block__item
									a.footer-info-block__link(href="#") Выбираем велосипед
								li.footer-info-block__item
									a.footer-info-block__link(href="#") Услуги веломастерской
								li.footer-info-block__item
									a.footer-info-block__link(href="#") Видеообзоры
								li.footer-info-block__item
									a.footer-info-block__link(href="#") Отзывы
								li.footer-info-block__item
									a.footer-info-block__link(href="#") Информация о гарантии
					dl.footer-info-block.footer-info-block--subscribe
						dd
							h5.footer-info-block__title Подписывайтесь
						dt
							ul.footer-info-block__list
								style.
									#ins-bg::before {
										background-color: #ff4800;
										background-image: url("img/icon-instagram.svg");
										background-size: 18px 18px;
									}
									#vk-bg::before {
										background-color: #356b87;
										background-image: url("img/icon-vk.png");
										background-size: 14px 7px;
									}
								li.footer-info-block__item.social
									a.footer-info-block__link.instagram(href="#")
										.footer__social-wrapper(id="ins-bg")
											span Instagram
											i /velomatrix
								li.footer-info-block__item.social
									a.footer-info-block__link.vk(href="#")
										.footer__social-wrapper(id="vk-bg")
											span Вконтакте
											i vk.com/velomatrix
					dl.footer-info-block
						dd
							h5.footer-info-block__title Отзывы
						dt
							ul.footer-info-block__list
								li.footer-info-block__item.yandex-feedback
									a.footer-info-block__link(href="#")
										img(src="img/img-yandex.jpg", alt="Yandex market image")
		.page-footer__bottom
			.main-content
				.col-left
					a.logo-footer(href="")
						img(src="img/logo-desktop@3x.png", alt="Footer logo")
					.footer-copyright
						p © 2013-2016 Velomatrix.ru
						p м. Сокольники, Сокольническая площадь, д.9, к.2
				.col-right
					ul.payment-systems
						li
							a(href="")
								img(src="img/img-visa.jpg")
						li
							a(href="")
								img(src="img/img-mastercard.jpg")