header.page-header
	.top-bar
		a.top-bar__toggle(href="#")
			span.top-bar__toggle-text Top Menu Toggle
		a.top-bar__search-toggle(href="#")
			span.top-bar__search-toggle-icon
				img(src="img/icon-search.svg", height="16", width="16")
			span.top-bar__search-toggle-text Поиск
		.top-bar__address
			span.top-bar__address-icon
				img(src="img/icon-gps.svg", width="16", height="20", alt="gps icon")
			a.top-bar__address-text(href="#")
				span м. Сокольники, Сокольническая площадь, д.9, к.2
		ul.top-bar__nav
			li.mobile-menu-header
				a.mobile-menu__close-btn(href="") Закрыть
				.mobile-menu__title Меню
			li.top-bar__menu
				ul.top-bar__menu-list
					li.top-bar__menu-item.top-bar__menu-item--iconed
						span.top-bar__menu-icon
							img(src="img/icon-ski.svg", width="18",height="15")
						a.top-bar__menu-link(href="#") Зимные товары
					li.top-bar__menu-item
						a.top-bar__menu-link(href="#") Доставка и оплата
					li.top-bar__menu-item
						a.top-bar__menu-link(href="#") Для партнеров
					li.top-bar__menu-item
						a.top-bar__menu-link(href="#") Контакты
					li.top-bar__menu-item
						a.top-bar__menu-link(href="#") Контакты
			li.top-bar__user
				a.top-bar__user-link(href="#")
					span.top-bar__user-text Личный кабинет
				ul.top-bar__user-menu
					li.user-menu__item: a(href="") Вход в кабинет
					li.user-menu__item: a(href="") Регистрация
		a.top-bar__phone-toggle(href="#")
			span.top-bar__search-toggle-icon
				img(src="img/icon-phone.svg", height="16", width="16")
			span.top-bar__phone-toggle-text Телефон
		.cart
			a.cart__btn(href="#")
				span.cart__btn-pre-icon
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 475 442"><style>.st0{fill:#000;}</style><path class="st0" d="M197.8 262.3c4 9.5 7.5 18.6 14.5 25.8 4.7 4.9 10.6 6.6 17.2 6.6 59.2 0 118.3 0 177.5-.1 6.5 0 11.8 2.1 15.4 7.6 6.5 9.9-.3 23.5-12.3 24.6-1.5.1-3 .1-4.5.1-57.3 0-114.7-.3-172 .1-26.1.2-44.5-10.9-56.7-33.5-9.9-18.3-16.1-37.9-23-57.4-15.9-45.4-31.8-90.8-47.6-136.3-4.4-12.6-9-25-17.6-35.6-6.8-8.3-15.5-12.3-26.2-12.2-8.2.1-16.3.1-24.5 0-9.8-.1-16.8-6.8-16.9-15.9-.1-9.3 7.1-16.3 17.1-16.2 12.6.1 25.4-1.1 37.9 1.2 19.4 3.6 33.3 15 43.8 31.2 5.6 8.7 10.2 17.9 13.5 27.7 1.2 3.6 3 4.6 6.8 4.6 79.3-.1 158.6-.1 238-.1 13.5 0 27-.1 40.5.1 9.9.1 19.1 2.6 26.5 9.6 9.8 9.3 12.1 21.2 9.6 33.5-6.1 30.5-14.3 60.5-29.1 88.2-5.1 9.6-11.2 18.5-18.9 26.3-13.2 13.3-29 20.1-47.9 20-51.7-.1-103.3 0-155 0-1.9.1-3.7.1-6.1.1zm178.4-113.5c.1 9.4 7 16.5 16.4 16.6 8.6.1 16.1-7.3 16-15.9 0-9.5-7.4-16.6-17-16.4-8.2.1-15.5 7.6-15.4 15.7zm-161.3 0c.1-8.2-7.4-15.6-16-15.8-8.9-.1-16.3 7.2-16.4 16-.1 8.5 7 16.1 15 16.3 9.9.3 17.2-6.7 17.4-16.5zm96.8 49.1c.1-8.6-7.1-16-15.6-16.2-9.3-.2-16.6 6.8-16.8 16-.2 8.6 7.3 16.2 16.1 16.2 8.9.1 16.3-7.2 16.3-16zm.1-48.7c.1 9.1 7.1 16.2 16.1 16.1 9 0 16.1-7.2 16.1-16.2 0-9.1-7.5-16.3-16.6-16.2-8.6.3-15.7 7.7-15.6 16.3zm-32.5-.2c-.1-8.9-7.5-16.2-16.3-16-9.2.2-16.2 7.7-16 16.9.2 8.5 7.6 15.5 16.3 15.4 9 0 16.1-7.3 16-16.3zm96.9 48.9c.1-9-6.9-16.1-16-16.3-8.6-.1-16 6.9-16.2 15.5-.2 9.2 6.9 16.7 16 16.8 8.9.1 16.1-7 16.2-16zm-161.3-.1c0 8.9 7.4 16.2 16.1 16.1 9.2-.1 16.2-7.5 16.1-16.7-.1-8.5-7.4-15.6-16.1-15.6-9.1.1-16.2 7.2-16.1 16.2zM384.2 424c-22.2 0-40.2-18.1-40.3-40.3 0-22.3 18-40.5 40.2-40.5 22.4-.1 40.8 18.3 40.6 40.7 0 22-18.3 40.1-40.5 40.1zM263.1 383.6c0 22.3-18 40.3-40.1 40.4-22.4 0-40.6-18.2-40.5-40.7.1-22.2 18.3-40.3 40.5-40.2 22.2.1 40.2 18.3 40.1 40.5z"/></svg>
				.cart__btn-text.
					В корзине <i>10</i> товаров
				span.cart__btn-post-icon
					<svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 493 351"><style>.st0{fill:#020202;}</style><path class="st0" d="M362.5 208.9H55.1c-19 0-33.5-13.5-34-31.4-.4-17.7 13.5-32.5 31.1-33.3 2-.1 4 0 6 0h298.5c1.9 0 3.9.5 6.8-.8-1.7-1.4-3.1-2.5-4.3-3.7-23.4-23.3-46.8-46.5-70.1-69.9-9.7-9.7-11.9-22.7-6.5-35 5.5-12.5 17.5-20.1 31-19.5 7.8.3 14.6 3.3 20.1 8.8 43.8 43.7 87.6 87.3 131.2 131.1 11.9 12 11.9 29.8.6 42.4-1.9 2.1-3.9 4.1-5.9 6.1-41.5 41.4-83.1 82.9-124.5 124.3-9.2 9.2-20 12.5-32.4 8.6-12.3-3.9-19.7-12.7-22.3-25.3-2.2-11.2 1.5-20.6 9.5-28.6 23-22.9 46-45.9 69-68.8 1.3-1.3 2.8-2.3 4.2-3.5-.1-.6-.4-1.1-.6-1.5z"/></svg>
	.bottom-bar
		.page-logo
			a.page-logo__link(href="#")
				span.page-logo__img
					picture
						source(media="(min-width:768px)", srcset="img/logo-desktop@3x.png")
						img(src="img/logo_mobile.png", alt="Logo", width="83", height="15")
				span.page-logo__slogan велосипеды и запчасти
		.page-search
			.page-search__wrapper
				form.search
					input.search__input(type="search", placeholder="Введите название товара ...")
					button.search__btn(type=submit)
						span.submit-icon
							img(src="img/icon-search.svg", width="16", height="16")
						span.submit-text Поиск
				a.search__delete(href="#")
					.search__delete-icon
					.search__delete-text Удалить Форму Поиска
			.page-search__hint
				.page-search__hint-wrapper
					span Например:
					a(href="") Cube DMX Sport
		.page-support
			ul.page-support__list
				li.page-support__phone: a(href="tel:+74959619421") +7 495 961-94-21
				li.page-support__working-hours Ежедневно с 10:00 до 20:00
				li.page-support__callback
					a.page-support__callback-btn(href="tel:+74959619421") обратный звонок


