.item-page__options
	.options__inner
		.options__price
			.item-page__price
				.item-page__price-amount
					.new-price <span>27450</span> руб.
					.old-price <span>30450</span> руб.
					.advantage-badge
						.advantage-badge__label(style="background-color: #6cbf00;") экономия <i>10%</i>
		.item-short__descr.
			Элегантный классический дизайн, удобная посадка, помогающая сохранить королевскую осанку, надежность и безопасность: CENTURION CITY 3.0 (2016) - велосипед для настоящих леди.
		.options__item-stock-infos
			.options__marking Артикул: VL-1102
			.options__stock.catalog-item__stock.stock.in-stock Есть в наличии
		.options__size
			.options__size-title
				h5.options__size-title-text размер рамы
				span ?
			ul.options__list
				li.options__list-item
					a(href="#") 18"
				li.options__list-item
					a(href="#") 20"
				li.options__list-item
					a(href="#") 20,5"
		.options__color
			.options__title цвет:
			ul.options__colors-list
				li.options__colors-item
					a(href="#", style="background-color: white; border-color: #ccc;").color черный
						i(style="background-color: #000;")
					span Черный
				li.options__colors-item
					a(href="#", style="background-color: white; border-color: #ffd800;").color Желтый
						i(style="background-color: #ffd800;")
					span Желтый
				li.options__colors-item
					a(href="#", style="background-color: white; border-color: #00d2ff;").color Желтый
						i(style="background-color: #00d2ff;")
					span Синий
		.options__wheel
			.options__size-title
				h5.options__size-title-text Размер колеса:
				span ?
			ul.options__list.options__list--vertical
				li.options__list-item
					.label-wrapper
						input(type="radio", id="s", name="size")
						label(for="s") S
				li.options__list-item
					.label-wrapper
						input(type="radio", id="l", name="size")
						label(for="l") L
		.options__form-elements
			ul.options__list.options__list--vertical
				li.options__list-item
					.label-wrapper
						input(type="checkbox", id="assembly")
						label(for="assembly") Сборка велосипеда в мастерской - 2000 р.
		.options__form-wrapper
			.label-wrapper
				label(for="pokrishka") Покрышка
				input(type="checkbox", id="pokrishka")
			.select-wrapper
				select
					option(value="Ultra1") Ultrathin SCOTT - 2000 р.
					option(value="Ultra2") Ultrathin SCOTT2 - 3000 р.
		button.options__btn-cart(type="submit")
			i
				img(src="img/icon-add-to-cart.svg", width="20", height="25", alt="cart btn icon")
			span добавить в корзину
		button.options__btn-buy(type="submit") купить в 1 клик
		a.options__add-compare(href="#") Добавить на сравнение