.item-tech
	table.item-tech__list
		tr.title
			th(colspan="2") Корпус
		tr
			td Тип тормозов
			td ножной
		tr
			td Диаметр колеса
			td 28
		tr
			td Материал рамы
			td алюминий
		tr
			td Тип амортизированной вилки
			td жесткая
		tr
			td Тип заднего амортизатора
			td без амортизатора
		tr
			td Количество скоростей
			td 3
		tr.title
			th(colspan="2") Вилка
		tr
			td Задний переключатель
			td Shimano Nexus,
		tr
			td Вилка
			td Inter-3 City, сталь
		tr
			td Бренд
			td CUB
		tr
			td задняя втулка
			td Disc QR, алюминиевый сплав
		tr
			td спицы
			td Нержавеющая сталь
		tr.title
			th(colspan="2") Колеса
		tr
			td передняя покрышка
			td Kenda Kwick Roller Holiday, 40 мм
		tr
			td задняя покрышка
			td Kenda Kwick Roller Holiday, 40 мм
		tr
			td подседельный штырь
			td Suspension SP-71, 27.2 мм
		tr
			td кассета
			td Sunrace CS 11-32, 9 скоростей
		tr
			td передний переключатель
			td Shimano Altus
		tr
			td задний переключатель
			td Shimano Deore
		tr
			td манетки
			td Shimano Altus, rapidfire
