.item-feedback-wrapper
	.item-feedback.item-feedback--empty
		h3.item-feedback__title
			strong Напишите отзыв о товаре,
			span сделайте выбор легче для других покупателей
		.item-feedback__btn-wrapped
			a.item-feedback__btn(href="")
				i
					img(src="img/icon-feedback.svg", width="20", height="18", alt="iconfeedback")
				span Написать отзыв