.item-page__extra-infos
	.item-page__extra-top
		.item-page__extra-left
			.shipping-title <b>Доставка</b> <strong>бесплатно</strong><br> в пределах МКАД
			.self-pickup 
				span Самовывоз: 
				a(href="#")
					i м. Сокольники, Сокольническая пл. дом 9, кв. 2
		.item-page__extra-right
			h5.payment-title Онлайн оплата, в кредит и рассрочку
			ul.payment__list
				li.payment-item
					img(src="img/visa.png", alt="card type")
				li.payment-item
					img(src="img/visa.png", alt="card type")
				li.payment-item
					img(src="img/visa.png", alt="card type")
				li.payment-item
					img(src="img/visa.png", alt="card type")
				li.payment-item
					img(src="img/visa.png", alt="card type")
	.item-page__extra-bottom
		a(href="#") Не совсем то, что искали? <strong>Подберите по конфигуратору</strong>

