.item-feedback-wrapper
	.item-feedback
		h3.item-feedback__title Электровелосипед Bulls SIX50 E2 (2016) отзывы:
		.item-feedback__meta
			ul.meta__list
				li.meta__item Средняя оценка покупателей 3.00 из 5 звезд
				li.meta__item
					.rating-info
						ul.item__rating
							li.item__rating-item.item__rating-item--full
							li.item__rating-item.item__rating-item--full
							li.item__rating-item.item__rating-item--full
							li.item__rating-item
							li.item__rating-item
						.feedback-count
							a(href="#") (2 отзыв)
				li.meta__item
					a.item-feedback__btn(href="")
						i
							img(src="img/icon-feedback.svg", width="20", height="18", alt="iconfeedback")
						span Написать отзыв
		ul.item-feedback__list
			li.item-feedback__single
				.item-feedback__single-title
					h6
						ul.item__rating
							li.item__rating-item.item__rating-item--full
							li.item__rating-item.item__rating-item--full
							li.item__rating-item.item__rating-item--full
							li.item__rating-item
							li.item__rating-item
						span Вроде этот велик отлично выглядит
				.item-feedback__single-author
					ul.author__list
						li Пальцев Владислав
						li 1 сентября 2016 13:56
				.item-feedback__single-descr
					p.
						Это первый велосипед моего сына. Честно сказать, хотела купить другой, но в нашем городе таких не было. Долго ходила по магазинам, искала более менее похожий и подходящий велосипед. В итоге выбор пал на Moby Kids , брали его вроде за 5-6 тысяч, сейчас не припомню. Но на то время была достаточно высокая цена для трёхколёсного велосипеда, ожидалось хорошее качество.
					p.
						Когда покупала, то хотелось чтобы его хватило на долго, то есть чтобы ручка родительская была съёмная, солцезащитный капор тоже чтобы снимался. Чтобы ребёнок в последствии мог бы кататься сам на нём.
				.item-feedback__single-response
					ul.response-list
						li.response-item
							span Менеджер
							i Velomatrix.ruru
						li.response-item.date
							b 1 февраля 2016 13:56
					.item-feedback__single-descr
						p.
							Спасибо за приятный отзыв  о товаре!
			li.item-feedback__single
				.item-feedback__single-title
					h6
						ul.item__rating
							li.item__rating-item.item__rating-item--full
							li.item__rating-item.item__rating-item--full
							li.item__rating-item.item__rating-item--full
							li.item__rating-item
							li.item__rating-item
						span Так себе
				.item-feedback__single-author
					ul.author__list
						li Пальцев Владислав
						li 1 сентября 2016 13:56
				.item-feedback__single-descr
					p.
						Брал в начале лета. Долго искал вел и чисто случайно наткнулся на него в Ростове. Пришёл, посмотрел, прокатился и влюбился. Не профессионал, так что сильно в тех. подробности не вдавался.Good.
	.vk-feedbacks

