.item-descr
	.item-descr__image
		img(src="img/img-item-descr2.jpg", "Item Description image")
	p.
		Универсальный <strong>односкоростной велосипед</strong> на алюминиевой раме с жесткой вилкой. Для повышения проходимости и плавности хода в условиях пересеченной местности, в шинах можно установить низкое давление, они начнут работать по принципу <strong>небольших амортизаторов</strong>, снижая тряску, а увеличившееся пятно контакта шины с поверхностью, повысит сцепленее, позволяя преодолевать различные препятствия. При высоком давлении велосипед <strong><a href="#">довольно неплохо</a></strong> катит по асфальту. За контроль скорости на велосипеде отвечают механические дисковые тормоза. <a href="#">Ширина покрышек 4.0.</a> Велосипед предназначен для круглогодичной эксплуатации в любых условиях, не важно что под колесами – снег, песок или асфальт.
	div
		h1 Заголовок 1
		h2 Заголовок 2
		h3 Заголовок 3
		h4 Заголовок 4
		h5 Заголовок 5
	br
	br
	blockquote.
		Это пример цитаты. Во-первых, нужно оценить серьезность ранения. Если кожа содрана, но рана неглубокая, то в самых экстренных случаях следует промыть поверхность питьевой водой, просто полив струей из бутылки. Далее следует осторожно промокнуть сухой салфеткой и заклеить пластырем либо забинтовать.
	.code-block.
		Пример формативние “КОД”. <strong>Ширина покрышек 4.0.</strong> Велосипед <strong><a href="#">предназначен для круглогодичной</a></strong> эксплуатации в любых условиях, не важно что под колесами – <a href="#">снег, песок или асфальт.</a>
	h3 Список 1
	ul
		li Лист 1
		li Лист 2
		li Лист 3
		li Лист 4
	h3 Список 1
	ol
		li Лист 1
		li Лист 2
		li Лист 3
		li Лист 4
	table
		tbody
			tr
				td Таблица
				td Ячейка
				td Ячейка
			tr
				td Ячейка
				td Ячейка
				td Ячейка
			tr
				td.
					Едва начав пользоваться iPhone 6s, вы сразу почувствуете, насколько всё изменилось. Технология 3D Touch открывает потрясающие новые возможности — достаточно одного нажатия. А функция Live Photos позволяет буквально оживить ваши воспоминания
				td Ячейка
				td Ячейка
		.item-descr__tags
			span Теги:
			.tags-wrapper
				a.item-descr__tags-item(href="#") велосипед
				a.item-descr__tags-item(href="#") горный
				a.item-descr__tags-item(href="#") экстрим
				a.item-descr__tags-item(href="#") красный
				a.item-descr__tags-item(href="#") Author
	.item-descr__brand
		.item-descr__brand-title
			img(src="img/logo-scot.jpg", "Item logo")
		.item-descr__brand-info
			p.
				История началась в 1958 году, когда американский инженер сделал лыжные палки из алюминия. На то время существовали бамбуковые и стальные палки, но алюминий по своим качествам превзошел их.
			p.
				Затем стали работать над первой моделью велосипеда, которая стала доступной с 1986 года. Это стало прорывом в развитии компании, так как с этого момента вклад инженеров в развитие велоиндустрии во всем мире стал заметен всем.
		a.item-descr__brand-link(href="") Посмотреть все товары бренда Shimano


