.item-page__title Велосипед едвухподвесный Giant Anthem Advanced 27.5 1 (2016)
.rating-info
	ul.item__rating
		li.item__rating-item.item__rating-item--full
		li.item__rating-item.item__rating-item--full
		li.item__rating-item.item__rating-item--full
		li.item__rating-item.item__rating-item--full
		li.item__rating-item
	.feedback-count
		a(href="#") 1 отзыв

