.item-descr
	p.
		Идеальный байк для прогулок по улицам родного города и парковым тропинкам. Для комфорта хозяйки, <strong>CENTURION CITY 3.0</strong> оборудован алюминиевой рамой изящной формы, которая допускает катание в юбке. Защита цепи убережет длинную одежду от попадания в механизм. За <a href="#">плавность движения отвечают</a> большие колеса диаметром 28 дюймов, трансмиссия на три скорости и мягкое седло. Надежное торможение обеспечат ножные тормоза. В базовую комплектацию входят металлические крылья, задний багажник и закрепленная на передней раме корзина для личных вещей и покупок.
	.item-descr__image
		img(src="img/img-item-descr.jpg", "Item Description image")
	p.
		Очень часто среди начинающих байкеров разгораются споры о том, какие тормоза для горного велосипеда лучше: дисковые или v-brake. В последнее время даже на недорогие велосипеды производители MTB начали ставить диски, но «настоящие» гидравлические дисковые тормоза все же стоят немалых денег. Тем не менее поклонников v-brake становится все меньше и меньше.
	.item-descr__brand
		.item-descr__brand-title
			img(src="img/logo-shimano.jpg", "Item logo")
		.item-descr__brand-info
			p.
				Японская компания Shimano Industrial была основана в 1921 году и первоначально занималась механической обработкой металла, имея в распоряжении всего один токарный станок, а первыми ее изделиями стали запасные части для велосипедов. Вскоре товар стал популярен, Shimano разработала очередные новинки для велосипедов и успешно работала на этой ниве в течение нескольких десятилетий, развиваясь и преумножая свои успехи в велосипедной индустрии. В 1950 годах диапазон продукции Shimano уже включал задний переключатель и 3-х скоростную планетарную втулку. Нацеленность на разработку компонентов для многоскоростного велосипеда привела к разработке более совершенных систем переключения и втулок — и, в итоге, полной линейке компонентов.
		a.item-descr__brand-link(href="") Посмотреть все товары бренда Shimano


