.item-tech
	table.item-tech__list.item-tech__list--no-th
		tr
			td Задняя втулка
			td Disc QR, алюминиевый сплав
		tr
			td Спицы
			td Нержавеющая сталь
		tr
			td Передняя покрышка
			td Kenda Kwick Roller Holiday, 40 мм
		tr
			td Задняя покрышка
			td Kenda Kwick Roller Holiday, 40 мм
		tr
			td Подседельный штырь
			td SP-71, 27.2 мм
		tr
			td Кассета
			td CS 11-32, 9 скоростей
		tr
			td Передний переключатель
			td Altus
		tr
			td Задний переключатель
			td Deore
		tr
			td Манетки
			td Altus, rapidfire
		tr
			td Цвет
			td
				ul.tech-item-color-list
					li.tech-color-list-item
						i(style="background-color: #ed0000;")
						span красный
					li.tech-color-list-item
						i(style="background-color: #69c;")
						span синий
					li.tech-color-list-item
						i(style="background-color: #000;")
						span черный
