.item-page__slider
	.item-short__descr.
		Элегантный классический дизайн, удобная посадка, помогающая сохранить королевскую осанку, надежность и безопасность: CENTURION CITY 3.0 (2016) - велосипед для настоящих леди.
	.slideshow
		.slideshow__image
			.slideshow__image-wrap
				.slideshow__image-item
					img(src="img/img-item-page-main.jpg", alt="Item Page Slide")
				.slideshow__image-item
					img(src="img/img-item-slide-5.jpg", alt="Item Page Slide")
				.slideshow__image-item
					img(src= 	"img/img-item-2.jpg", alt="Item Page Slide")
				.slideshow__image-item
					img(src="img/img-item-3.jpg", alt="Item Page Slide")
				.slideshow__image-item
					img(src="img/img-item-3.jpg", alt="Item Page Slide")
				.slideshow__image-item
					img(src="img/img-item-slide-6.jpg", alt="Item Page Slide")
				.slideshow__image-item
					img(src="img/img-item-slide-7.png", alt="Item Page Slide")
				.slideshow__image-item
					img(src="img/img-item-slide-8.png", alt="Item Page Slide")
				.slideshow__image-item
					img(src="img/img-item-slide-9.jpg", alt="Item Page Slide")
		.slideshow__thumbs
			.slideshow__thumbs-item
				a.slideshow__thumbs-link(href="#")
					img(src="img/img-item-page-main.jpg", alt="Item Page Slide")
			.slideshow__thumbs-item
				a.slideshow__thumbs-link(href="#")
					img(src="img/img-item-slide-5.jpg", alt="Item Page Slide")
			.slideshow__thumbs-item
				a.slideshow__thumbs-link(href="#")
					img(src="img/img-item-2.jpg", alt="Item Page Slide")
			.slideshow__thumbs-item
				a.slideshow__thumbs-link(href="#")
					img(src="img/img-item-3.jpg", alt="Item Page Slide")
			.slideshow__thumbs-item
				a.slideshow__thumbs-link(href="#")
					img(src="img/img-item-3.jpg", alt="Item Page Slide")
			.slideshow__thumbs-item
				a.slideshow__thumbs-link(href="#")
					img(src="img/img-item-slide-6.jpg", alt="Item Page Slide")
			.slideshow__thumbs-item
				a.slideshow__thumbs-link(href="#")
					img(src="img/img-item-slide-7.png", alt="Item Page Slide")
			.slideshow__thumbs-item
				a.slideshow__thumbs-link(href="#")
					img(src="img/img-item-slide-8.png", alt="Item Page Slide")
			.slideshow__thumbs-item
				a.slideshow__thumbs-link(href="#")
					img(src="img/img-item-slide-9.jpg", alt="Item Page Slide")
	.item-page__price
		.item-page__price-text Цена
		.item-page__price-amount
			.new-price <span>27450</span> руб.
			.old-price <span>30450</span> руб.
			.advantage-badge
				.advantage-badge__label(style="background-color: #6cbf00;") экономия <i>10%</i>
	.item-page__config
		ul.config-links__list
			li.config-links__item(data-icon="type")
				a.config-links__link(href="#", alt="Config link")
					span.config-links__icon
						img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
					span.config-links__text Двухподвес
				.config-icon-tooltip
					.text.
						Двухподвесные велосипеды 451 моделей
						Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
					a(href="#") Прочитать подробно
			li.config-links__item(data-icon="whom")
				a.config-links__link(href="#", alt="Config link")
					span.config-links__icon
						img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
					span.config-links__text Мужской
				.config-icon-tooltip
					.text.
						Двухподвесные велосипеды 451 моделей
						Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
					a(href="#") Прочитать подробно
			li.config-links__item(data-icon="where")
				a.config-links__link(href="#", alt="Config link")
					span.config-links__icon
						img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
					span.config-links__text Дороги и бездорожье
				.config-icon-tooltip
					.text.
						Двухподвесные велосипеды 451 моделей
						Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
					a(href="#") Прочитать подробно
			li.config-links__item(data-icon="brand")
				a.config-links__link(href="#", alt="Config link")
					span.config-links__icon
						img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
					span.config-links__text Дисковый гидравлический Shimano
				.config-icon-tooltip
					.text.
						Двухподвесные велосипеды 451 моделей
						Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
					a(href="#") Прочитать подробно
			li.config-links__item(data-icon="type")
				a.config-links__link(href="#", alt="Config link")
					span.config-links__icon
						img(src="img/icon-women-bike.svg", width="24", height="16", alt="icon")
					span.config-links__text Двухподвес
				.config-icon-tooltip
					.text.
						Двухподвесные велосипеды 451 моделей
						Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
					a(href="#") Прочитать подробно
			li.config-links__item(data-icon="whom")
				a.config-links__link(href="#", alt="Config link")
					span.config-links__icon
						img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
					span.config-links__text Мужской
				.config-icon-tooltip
					.text.
						Двухподвесные велосипеды 451 моделей
						Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
					a(href="#") Прочитать подробно
			li.config-links__item(data-icon="where")
				a.config-links__link(href="#", alt="Config link")
					span.config-links__icon
						img(src="img/icon-bike-frame.svg", width="24", height="13", alt="icon")
					span.config-links__text Дороги и бездорожье
				.config-icon-tooltip
					.text.
						Двухподвесные велосипеды 451 моделей
						Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
					a(href="#") Прочитать подробно
			li.config-links__item(data-icon="whom")
				a.config-links__link(href="#", alt="Config link")
					span.config-links__icon
						img(src="img/icon-user-config.svg", width="21", height="24 ", alt="icon")
					span.config-links__text Мужской
				.config-icon-tooltip
					.text.
						Двухподвесные велосипеды 451 моделей
						Главное отличие двухподвесных велосипедов от всех остальных разновидностей – это наличие передней и задней амортизации.
					a(href="#") Прочитать подробно
