.main-nav__dropdown-menu
	.main-nav__dropdown-mwnu__inner
		.main-nav__dropdown-list
			ul.dropdown__inner-list
				li.dropdown__inner-item.no-pic(data-type="bolt")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Болты
				li.dropdown__inner-item.no-pic(data-type="vilka")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Вилки
				li.dropdown__inner-item.no-pic(data-type="vinos")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Выносы
				li.dropdown__inner-item.no-pic(data-type="grips")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Грипсы и обмотка
				li.dropdown__inner-item.no-pic(data-type="backtrans")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Задний переключатель
				li.dropdown__inner-item.no-pic(data-type="rul")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Рулевые колонки
				li.dropdown__inner-item.no-pic(data-type="karetka")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Каретки
				li.dropdown__inner-item.no-pic(data-type="kasseta")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Кассеты и трещотки
				li.dropdown__inner-item.no-pic(data-type="kolodka")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Колодки
				li.dropdown__inner-item.no-pic(data-type="manetka")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Манетки
				li.dropdown__inner-item.no-pic(data-type="osi")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Оси
				li.dropdown__inner-item.no-pic(data-type="petuh")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Петухи
				li.dropdown__inner-item.no-pic(data-type="shtir")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Подседельные штыри
				li.dropdown__inner-item.no-pic(data-type="podshibnik")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Подшипники
				li.dropdown__inner-item.no-pic(data-type="pokrishka")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Покрышки
				li.dropdown__inner-item.no-pic(data-type="trosik")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Рубашки, тросики, наконечники
				li.dropdown__inner-item.no-pic(data-type="seat")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Седла
				li.dropdown__inner-item.no-pic(data-type="brake")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Тормоза
				li.dropdown__inner-item.no-pic(data-type="brake-disk")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Тормозные диски
				li.dropdown__inner-item.no-pic(data-type="brake-tool")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Тормозные ручки
				li.dropdown__inner-item.no-pic(data-type="homut")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Хомуты подседельные
				li.dropdown__inner-item.no-pic(data-type="winter-pokrishka")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Зимние покрышки
				li.dropdown__inner-item.no-pic(data-type="tools")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Инструменты
				li.dropdown__inner-item.no-pic(data-type="cameras")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Камеры
				li.dropdown__inner-item.no-pic(data-type="shatun")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Шатуны/Системы
				li.dropdown__inner-item.no-pic(data-type="children")
					.dropdown__submenu
						a.dropdown__submenu-title(href="#") Эксцентрики