nav.main-nav
	.main-content
		a.config-toggle(href="#") 
			span.config-toggle__icon
				img(src="img/icon-config-mobile.svg", width="16", height="16")
			span.config-toggle__text Toggle Config Menu
		a.catalog-button(href="#")
			span.catalog-button__icon
				img(src="img/icon-catalog-mobile.svg", width="10", height="10")
			span.catalog-button__text Каталог товаров
		a.category-name(href="#")
			span.category-name__text lolo
		ul.main-nav__list
			li.main-nav__item.iconed
				.main-nav__dropdown-menu
					.main-nav__dropdown-menu__inner(data-type="hardtail")
						.main-nav__dropdown-list
							ul.dropdown__inner-list
								li.dropdown__inner-item
									.dropdown__submenu
										a.dropdown__submenu-pic(href="#")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="#") Хардтейлы
										ul.dropdown__submenu-list
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Комфорт
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Фикс
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Шоссейные
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Шоссейные
								li.dropdown__inner-item(data-type="city")
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="#") Город и шоссе
										ul.dropdown__submenu-list
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Комфорт
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Фикс
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Шоссейные
								li.dropdown__inner-item(data-type="folding")
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="") Складные
										ul.dropdown__submenu-list
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Колеса 16”
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Колеса 20”
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Колеса 24”
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Колеса 1
								li.dropdown__inner-item(data-type="women")
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="") Женские
										ul.dropdown__submenu-list
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Комфорт
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Фитнес
								li.dropdown__inner-item(data-type="dual-pendant")
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="") Двухподвес
										ul.dropdown__submenu-list
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Двухподвес и аксессеры для велосипедов
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Запчасти
								li.dropdown__inner-item(data-type="hybrid")
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="") Гибриды
								li.dropdown__inner-item(data-type="fatbike")
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="") Фетбайки
								li.dropdown__inner-item(data-type="stunt")
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="") Трюковые
										ul.dropdown__submenu-list
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") BMX
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Дерт\Стрит
								li.dropdown__inner-item(data-type="electro")
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="") Электровелосипеды и аксессуары
								li.dropdown__inner-item(data-type="children")
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="") Детские
										ul.dropdown__submenu-list
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Беговелы
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") 12 дюймов
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") 14 дюймов
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") 18 дюймов
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") 20 дюймов
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") 24 дюймов
						.main-nav__dropdown-extra
							.main-nav__dropdown-extra-wrapper
								.dropdown-extra__brand-list
									a.dropdown-extra__brand-item(href="")
										img.dropdown-extra__brand-pic(src="img/img-brand.jpg")
									a.dropdown-extra__brand-item(href="")
										img.dropdown-extra__brand-pic(src="img/img-logo-cube.jpg")
									a.dropdown-extra__brand-item(href="")
										img.dropdown-extra__brand-pic(src="img/img-logo-giant.jpg")
									a.dropdown-extra__brand-item(href="")
										img.dropdown-extra__brand-pic(src="img/img-logo-kellys.jpg")
									a.dropdown-extra__brand-item(href="")
										img.dropdown-extra__brand-pic(src="img/img-logo-merida.jpg")
									a.dropdown-extra__brand-item(href="")
										img.dropdown-extra__brand-pic(src="img/img-logo-trek.jpg")
									a.dropdown-extra__brand-item(href="")
										img.dropdown-extra__brand-pic(src="img/img-brand.jpg")
									a.dropdown-extra__brand-item(href="")
										img.dropdown-extra__brand-pic(src="img/img-brand.jpg")
									a.dropdown-extra__brand-item(href="")
										img.dropdown-extra__brand-pic(src="img/img-brand.jpg")
								.subcategory-descr.hardtail
									h3.main-nav__dropdown-extra-title Хардтейл
									.main-nav__dropdown-extra-pic
										img(src="img/dropdown-extra.jpg")
									.main-nav__dropdown-extra-desc
										p.
											<strong>Женские</strong> — это тип рамы горного велосипеда, имеющий передний и задний амортизаторы.
										p.
											Данный тип велосипеда предназначен для поездок в горах и по пересеченной местности. Имеются несколько направлений данного типа (кросскантри, фрирайд, эндуро, даунхил и т.д ). В зависимости от типа трасс меняется и тип подвески и сами амортизаторы (длина в мм.)
								.subcategory-descr.city
									h3.main-nav__dropdown-extra-title Город и шоссе
									.main-nav__dropdown-extra-pic
										img(src="img/dropdown-extra.jpg")
									.main-nav__dropdown-extra-desc
										p.
											<strong>Город и шоссе</strong> — это тип рамы горного велосипеда, имеющий передний и задний амортизаторы.
										p.
											Данный тип велосипеда предназначен для поездок в горах и по пересеченной местности. Имеются несколько направлений данного типа (кросскантри, фрирайд, эндуро, даунхил и т.д ). В зависимости от типа трасс меняется и тип подвески и сами амортизаторы (длина в мм.)
								.subcategory-descr.folding
									h3.main-nav__dropdown-extra-title Складные
									.main-nav__dropdown-extra-pic
										img(src="img/dropdown-extra.jpg")
									.main-nav__dropdown-extra-desc
										p.
											<strong>Складные</strong> — это тип рамы горного велосипеда, имеющий передний и задний амортизаторы.
										p.
											Данный тип велосипеда предназначен для поездок в горах и по пересеченной местности. Имеются несколько направлений данного типа (кросскантри, фрирайд, эндуро, даунхил и т.д ). В зависимости от типа трасс меняется и тип подвески и сами амортизаторы (длина в мм.)
								.subcategory-descr.women
									h3.main-nav__dropdown-extra-title Женские
									.main-nav__dropdown-extra-pic
										img(src="img/dropdown-extra.jpg")
									.main-nav__dropdown-extra-desc
										p.
											<strong>Женские</strong> — это тип рамы горного велосипеда, имеющий передний и задний амортизаторы.
										p.
											Данный тип велосипеда предназначен для поездок в горах и по пересеченной местности. Имеются несколько направлений данного типа (кросскантри, фрирайд, эндуро, даунхил и т.д ). В зависимости от типа трасс меняется и тип подвески и сами амортизаторы (длина в мм.)
								.subcategory-descr.dual-pendant
									h3.main-nav__dropdown-extra-title Двухподвес
									.main-nav__dropdown-extra-pic
										img(src="img/dropdown-extra.jpg")
									.main-nav__dropdown-extra-desc
										p.
											<strong>Двухподвес</strong> — это тип рамы горного велосипеда, имеющий передний и задний амортизаторы.
										p.
											Данный тип велосипеда предназначен для поездок в горах и по пересеченной местности. Имеются несколько направлений данного типа (кросскантри, фрирайд, эндуро, даунхил и т.д ). В зависимости от типа трасс меняется и тип подвески и сами амортизаторы (длина в мм.)
								.subcategory-descr.hybrid
									h3.main-nav__dropdown-extra-title Гибриды
									.main-nav__dropdown-extra-pic
										img(src="img/dropdown-extra.jpg")
									.main-nav__dropdown-extra-desc
										p.
											<strong>Гибриды</strong> — это тип рамы горного велосипеда, имеющий передний и задний амортизаторы.
										p.
											Данный тип велосипеда предназначен для поездок в горах и по пересеченной местности. Имеются несколько направлений данного типа (кросскантри, фрирайд, эндуро, даунхил и т.д ). В зависимости от типа трасс меняется и тип подвески и сами амортизаторы (длина в мм.)
								.subcategory-descr.fatbike
									h3.main-nav__dropdown-extra-title Фетбайки
									.main-nav__dropdown-extra-pic
										img(src="img/dropdown-extra.jpg")
									.main-nav__dropdown-extra-desc
										p.
											<strong>Фетбайки</strong> — это тип рамы горного велосипеда, имеющий передний и задний амортизаторы.
										p.
											Данный тип велосипеда предназначен для поездок в горах и по пересеченной местности. Имеются несколько направлений данного типа (кросскантри, фрирайд, эндуро, даунхил и т.д ). В зависимости от типа трасс меняется и тип подвески и сами амортизаторы (длина в мм.)
								.subcategory-descr.stunt
									h3.main-nav__dropdown-extra-title Трюковые
									.main-nav__dropdown-extra-pic
										img(src="img/dropdown-extra.jpg")
									.main-nav__dropdown-extra-desc
										p.
											<strong>Трюковые</strong> — это тип рамы горного велосипеда, имеющий передний и задний амортизаторы.
										p.
											Данный тип велосипеда предназначен для поездок в горах и по пересеченной местности. Имеются несколько направлений данного типа (кросскантри, фрирайд, эндуро, даунхил и т.д ). В зависимости от типа трасс меняется и тип подвески и сами амортизаторы (длина в мм.)
								.subcategory-descr.electro
									h3.main-nav__dropdown-extra-title Электровелосипеды
									.main-nav__dropdown-extra-pic
										img(src="img/dropdown-extra.jpg")
									.main-nav__dropdown-extra-desc
										p.
											<strong>Электровелосипеды</strong> — это тип рамы горного велосипеда, имеющий передний и задний амортизаторы.
										p.
											Данный тип велосипеда предназначен для поездок в горах и по пересеченной местности. Имеются несколько направлений данного типа (кросскантри, фрирайд, эндуро, даунхил и т.д ). В зависимости от типа трасс меняется и тип подвески и сами амортизаторы (длина в мм.)
								.subcategory-descr.children
									h3.main-nav__dropdown-extra-title Детские
									.main-nav__dropdown-extra-pic
										img(src="img/dropdown-extra.jpg")
									.main-nav__dropdown-extra-desc
										p.
											<strong>Детские</strong> — это тип рамы горного велосипеда, имеющий передний и задний амортизаторы.
										p.
											Данный тип велосипеда предназначен для поездок в горах и по пересеченной местности. Имеются несколько направлений данного типа (кросскантри, фрирайд, эндуро, даунхил и т.д ). В зависимости от типа трасс меняется и тип подвески и сами амортизаторы (длина в мм.)
				a.main-nav__link.iconed(href="#")
					span.main-nav__link-text Велосипеды
					i.main-nav__link-icon
						//img(src="img/icon-hot.svg", width="20", height="14", alt="icon")
					//- strong.main-nav__item-pic
							img(src="img/img-item-1.jpg", alt="Menu item Image")
			li.main-nav__item
				.main-nav__dropdown-menu
					.main-nav__dropdown-menu__inner
						.main-nav__dropdown-list
							ul.dropdown__inner-list
								li.dropdown__inner-item
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="#") Хардтейлы
										ul.dropdown__submenu-list
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Комфорт
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Фикс
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Шоссейные
								li.dropdown__inner-item
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="#") Город и шоссе
										ul.dropdown__submenu-list
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Комфорт
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Фикс
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Шоссейные
								li.dropdown__inner-item
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="#") Складные
										ul.dropdown__submenu-list
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Колеса 16”
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Колеса 20”
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Колеса 24”
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Колеса 1
								li.dropdown__inner-item
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="#") Женские
										ul.dropdown__submenu-list
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Комфорт
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Фитнес
								li.dropdown__inner-item
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="#") Двухподвес
										ul.dropdown__submenu-list
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Двухподвес и аксессеры для велосипедов
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Запчасти
								li.dropdown__inner-item
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="#") Гибриды
								li.dropdown__inner-item
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="#") Фетбайки
								li.dropdown__inner-item
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="#") Трюковые
										ul.dropdown__submenu-list
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") BMX
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Дерт\Стрит
								li.dropdown__inner-item
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="#") Электровелосипеды и аксессуары
								li.dropdown__inner-item
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="#") Детские
										ul.dropdown__submenu-list
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") Беговелы
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") 12 дюймов
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") 14 дюймов
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") 18 дюймов
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") 20 дюймов
											li.dropdown__submenu-item
												a.dropdown__submenu-link(href="#") 24 дюймов
						.main-nav__dropdown-extra
							.main-nav__dropdown-extra-wrapper.carded
								.dropdown-extra__brand-list
									a.dropdown-extra__brand-item(href="")
										img.dropdown-extra__brand-pic(src="img/img-brand.jpg")
									a.dropdown-extra__brand-item(href="")
										img.dropdown-extra__brand-pic(src="img/img-logo-cube.jpg")
									a.dropdown-extra__brand-item(href="")
										img.dropdown-extra__brand-pic(src="img/img-logo-giant.jpg")
									a.dropdown-extra__brand-item(href="")
										img.dropdown-extra__brand-pic(src="img/img-logo-kellys.jpg")
									a.dropdown-extra__brand-item(href="")
										img.dropdown-extra__brand-pic(src="img/img-logo-merida.jpg")
									a.dropdown-extra__brand-item(href="")
										img.dropdown-extra__brand-pic(src="img/img-logo-trek.jpg")
									a.dropdown-extra__brand-item(href="")
										img.dropdown-extra__brand-pic(src="img/img-brand.jpg")
									a.dropdown-extra__brand-item(href="")
										img.dropdown-extra__brand-pic(src="img/img-brand.jpg")
									a.dropdown-extra__brand-item(href="")
										img.dropdown-extra__brand-pic(src="img/img-brand.jpg")
				a.main-nav__link(href="#")
					span.main-nav__link-text Аксессуары
					strong.main-nav__item-pic
						img(src="img/img-item-2.jpg", alt="Menu item Image")
			li.main-nav__item
				a.main-nav__link(href="#")
					span.main-nav__link-text Запчасти
					strong.main-nav__item-pic
						img(src="img/img-item-3.jpg", alt="Menu item Image")
			li.main-nav__item
				.main-nav__dropdown-menu
					.main-nav__dropdown-menu__inner
						.main-nav__dropdown-list.main-nav__dropdown-list--full
							ul.dropdown__inner-list
								li.dropdown__inner-item
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="") Хардтейлы
								li.dropdown__inner-item
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="") Город и шоссе
								li.dropdown__inner-item
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="") Складные
								li.dropdown__inner-item
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="") Женские
								li.dropdown__inner-item
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="") Двухподвес
								li.dropdown__inner-item
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="") Гибриды
								li.dropdown__inner-item
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="") Фетбайки
								li.dropdown__inner-item
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="") Трюковые
								li.dropdown__inner-item
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="") Электровелосипеды и аксессуары
								li.dropdown__inner-item
									.dropdown__submenu
										a.dropdown__submenu-pic(href="")
											img(src="img/img-hardtail-menu.jpg")
										a.dropdown__submenu-title(href="") Детские
				a.main-nav__link(href="#")
					span.main-nav__link-text Гироскутеры
					strong.main-nav__item-pic
						img(src="img/img-item-3.jpg", alt="Menu item Image")
			li.main-nav__item
				a.main-nav__link(href="#")
					span.main-nav__link-text Самокаты
					strong.main-nav__item-pic
						img(src="img/img-cat-stepper.jpg", alt="Menu item Image")
			li.main-nav__item
				a.main-nav__link(href="#")
					span.main-nav__link-text Ремонт и обслуживание
			li.main-nav__item
				a.main-nav__link(href="#")
					span.main-nav__link-text Акции
					strong.main-nav__item-pic
						img(src="img/img-item-4.jpg", alt="Menu item Image")
			li.main-nav__item
				a.main-nav__link(href="#")
					span.main-nav__link-text Бренды
					strong.main-nav__item-pic
						img(src="img/img-item-4.jpg", alt="Menu item Image")