nav.main-nav
	a.config-toggle(href="#") 
		span.config-toggle__icon
			img(src="img/icon-config-mobile.svg", width="16", height="16")
		span.config-toggle__text Toggle Config Menu
	a.catalog-button(href="#")
		span.catalog-button__icon
			img(src="img/icon-catalog-mobile.svg", width="10", height="10")
		span.catalog-button__text Каталог товаров
	ul.main-nav__list
		li.main-nav__item.iconed
			a.main-nav__link(href="#") Велосипеды
			span.main-nav__link
			.main-nav__dropdown-menu
				.main-nav__dropdown-list
					ul.dropdown__inner-list
						li.dropdown__inner-item
							.dropdown__submenu
								.dropdown__submenu-pic
									img(src="img/img-hardtail-menu.jpg")
								h4.dropdown__submenu-title Хардтейлы
								ul.dropdown__submenu-list
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Комфорт
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Фикс
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Шоссейные
						li.dropdown__inner-item
							.dropdown__submenu
								.dropdown__submenu-pic
									img(src="img/img-hardtail-menu.jpg")
								h4.dropdown__submenu-title Город и шоссе
								ul.dropdown__submenu-list
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Комфорт
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Фикс
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Шоссейные
						li.dropdown__inner-item
							.dropdown__submenu
								.dropdown__submenu-pic
									img(src="img/img-hardtail-menu.jpg")
								h4.dropdown__submenu-title Складные
								ul.dropdown__submenu-list
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Колеса 16”
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Колеса 20”
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Колеса 24”
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Колеса 1
						li.dropdown__inner-item
							.dropdown__submenu
								.dropdown__submenu-pic
									img(src="img/img-hardtail-menu.jpg")
								h4.dropdown__submenu-title Женские
								ul.dropdown__submenu-list
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Комфорт
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Фитнес
						li.dropdown__inner-item
							.dropdown__submenu
								.dropdown__submenu-pic
									img(src="img/img-hardtail-menu.jpg")
								h4.dropdown__submenu-title Двухподвес
								ul.dropdown__submenu-list
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Двухподвес и аксессеры для велосипедов
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Запчасти
						li.dropdown__inner-item
							.dropdown__submenu
								.dropdown__submenu-pic
									img(src="img/img-hardtail-menu.jpg")
								h4.dropdown__submenu-title Гибриды
						li.dropdown__inner-item
							.dropdown__submenu
								.dropdown__submenu-pic
									img(src="img/img-hardtail-menu.jpg")
								h4.dropdown__submenu-title Фетбайки
						li.dropdown__inner-item
							.dropdown__submenu
								.dropdown__submenu-pic
									img(src="img/img-hardtail-menu.jpg")
								h4.dropdown__submenu-title Трюковые
								ul.dropdown__submenu-list
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") BMX
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Дерт\Стрит
						li.dropdown__inner-item
							.dropdown__submenu
								.dropdown__submenu-pic
									img(src="img/img-hardtail-menu.jpg")
								h4.dropdown__submenu-title Электровелосипеды и аксессуары
						li.dropdown__inner-item
							.dropdown__submenu
								.dropdown__submenu-pic
									img(src="img/img-hardtail-menu.jpg")
								h4.dropdown__submenu-title Детские
								ul.dropdown__submenu-list
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Беговелы
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") 12 дюймов
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") 14 дюймов
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") 18 дюймов
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") 20 дюймов
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") 24 дюймов
				.main-nav__dropdown-extra
					.main-nav__dropdown-extra-wrapper
						h3.main-nav__dropdown-extra-title Женские
						.main-nav__dropdown-extra-pic
							img(src="img/dropdown-extra.jpg")
						.main-nav__dropdown-extra-desc
							p.
								<strong>Женские</strong> — это тип рамы горного велосипеда, имеющий передний и задний амортизаторы.
							p.
								Данный тип велосипеда предназначен для поездок в горах и по пересеченной местности. Имеются несколько направлений данного типа (кросскантри, фрирайд, эндуро, даунхил и т.д ). В зависимости от типа трасс меняется и тип подвески и сами амортизаторы (длина в мм.)
							p.
								<strong>Прочитайте подробно о <a href="#">Двухподвесных велосипедах</a> на нашем блоге</strong>
		li.main-nav__item
			a.main-nav__link(href="#") Аксессуары
			.main-nav__dropdown-menu
				.main-nav__dropdown-list
					ul.dropdown__inner-list
						li.dropdown__inner-item
							.dropdown__submenu
								.dropdown__submenu-pic
									img(src="img/img-hardtail-menu.jpg")
								h4.dropdown__submenu-title Хардтейлы
								ul.dropdown__submenu-list
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Комфорт
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Фикс
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Шоссейные
						li.dropdown__inner-item
							.dropdown__submenu
								.dropdown__submenu-pic
									img(src="img/img-hardtail-menu.jpg")
								h4.dropdown__submenu-title Город и шоссе
								ul.dropdown__submenu-list
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Комфорт
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Фикс
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Шоссейные
						li.dropdown__inner-item
							.dropdown__submenu
								.dropdown__submenu-pic
									img(src="img/img-hardtail-menu.jpg")
								h4.dropdown__submenu-title Складные
								ul.dropdown__submenu-list
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Колеса 16”
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Колеса 20”
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Колеса 24”
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Колеса 1
						li.dropdown__inner-item
							.dropdown__submenu
								.dropdown__submenu-pic
									img(src="img/img-hardtail-menu.jpg")
								h4.dropdown__submenu-title Женские
								ul.dropdown__submenu-list
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Комфорт
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Фитнес
						li.dropdown__inner-item
							.dropdown__submenu
								.dropdown__submenu-pic
									img(src="img/img-hardtail-menu.jpg")
								h4.dropdown__submenu-title Двухподвес
								ul.dropdown__submenu-list
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Двухподвес и аксессеры для велосипедов
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Запчасти
						li.dropdown__inner-item
							.dropdown__submenu
								.dropdown__submenu-pic
									img(src="img/img-hardtail-menu.jpg")
								h4.dropdown__submenu-title Гибриды
						li.dropdown__inner-item
							.dropdown__submenu
								.dropdown__submenu-pic
									img(src="img/img-hardtail-menu.jpg")
								h4.dropdown__submenu-title Фетбайки
						li.dropdown__inner-item
							.dropdown__submenu
								.dropdown__submenu-pic
									img(src="img/img-hardtail-menu.jpg")
								h4.dropdown__submenu-title Трюковые
								ul.dropdown__submenu-list
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") BMX
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Дерт\Стрит
						li.dropdown__inner-item
							.dropdown__submenu
								.dropdown__submenu-pic
									img(src="img/img-hardtail-menu.jpg")
								h4.dropdown__submenu-title Электровелосипеды и аксессуары
						li.dropdown__inner-item
							.dropdown__submenu
								.dropdown__submenu-pic
									img(src="img/img-hardtail-menu.jpg")
								h4.dropdown__submenu-title Детские
								ul.dropdown__submenu-list
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") Беговелы
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") 12 дюймов
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") 14 дюймов
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") 18 дюймов
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") 20 дюймов
									li.dropdown__submenu-item
										a.dropdown__submenu-link(href="#") 24 дюймов
				.main-nav__dropdown-extra
					.main-nav__dropdown-extra-wrapper.carded
						ul.dropdown-extra__brand-list
							li.dropdown-extra__brand-item
								img.dropdown-extra__brand-pic(src="img/img-brand.jpg")
							li.dropdown-extra__brand-item
								img.dropdown-extra__brand-pic(src="img/img-brand.jpg")
							li.dropdown-extra__brand-item
								img.dropdown-extra__brand-pic(src="img/img-brand.jpg")
							li.dropdown-extra__brand-item
								img.dropdown-extra__brand-pic(src="img/img-brand.jpg")
							li.dropdown-extra__brand-item
								img.dropdown-extra__brand-pic(src="img/img-brand.jpg")
							li.dropdown-extra__brand-item
								img.dropdown-extra__brand-pic(src="img/img-brand.jpg")
							li.dropdown-extra__brand-item
								img.dropdown-extra__brand-pic(src="img/img-brand.jpg")
							li.dropdown-extra__brand-item
								img.dropdown-extra__brand-pic(src="img/img-brand.jpg")
							li.dropdown-extra__brand-item
								img.dropdown-extra__brand-pic(src="img/img-brand.jpg")

		li.main-nav__item
			a.main-nav__link(href="#") Запчасти
		li.main-nav__item
			a.main-nav__link(href="#") Гироскутеры
			.main-nav__dropdown-menu
				ul.main-nav__dropdown-inner
					.main-nav__dropdown-list
						ul.dropdown__inner-list
							li.dropdown__inner-item
								.dropdown__submenu
									.dropdown__submenu-pic
										img(src="img/img-hardtail-menu.jpg")
									h4.dropdown__submenu-title Хардтейлы
							li.dropdown__inner-item
								.dropdown__submenu
									.dropdown__submenu-pic
										img(src="img/img-hardtail-menu.jpg")
									h4.dropdown__submenu-title Город и шоссе
							li.dropdown__inner-item
								.dropdown__submenu
									.dropdown__submenu-pic
										img(src="img/img-hardtail-menu.jpg")
									h4.dropdown__submenu-title Складные
							li.dropdown__inner-item
								.dropdown__submenu
									.dropdown__submenu-pic
										img(src="img/img-hardtail-menu.jpg")
									h4.dropdown__submenu-title Женские
							li.dropdown__inner-item
								.dropdown__submenu
									.dropdown__submenu-pic
										img(src="img/img-hardtail-menu.jpg")
									h4.dropdown__submenu-title Двухподвес
							li.dropdown__inner-item
								.dropdown__submenu
									.dropdown__submenu-pic
										img(src="img/img-hardtail-menu.jpg")
									h4.dropdown__submenu-title Гибриды
							li.dropdown__inner-item
								.dropdown__submenu
									.dropdown__submenu-pic
										img(src="img/img-hardtail-menu.jpg")
									h4.dropdown__submenu-title Фетбайки
							li.dropdown__inner-item
								.dropdown__submenu
									.dropdown__submenu-pic
										img(src="img/img-hardtail-menu.jpg")
									h4.dropdown__submenu-title Трюковые
							li.dropdown__inner-item
								.dropdown__submenu
									.dropdown__submenu-pic
										img(src="img/img-hardtail-menu.jpg")
									h4.dropdown__submenu-title Электровелосипеды и аксессуары
							li.dropdown__inner-item
								.dropdown__submenu
									.dropdown__submenu-pic
										img(src="img/img-hardtail-menu.jpg")
									h4.dropdown__submenu-title Детские
		li.main-nav__item
			a.main-nav__link(href="#") Самокаты
		li.main-nav__item
			a.main-nav__link(href="#") Ремонт и обслуживание
		li.main-nav__item
			a.main-nav__link(href="#") Акции
		li.main-nav__item
			a.main-nav__link(href="#") Бренды