section.pop-brands
	.main-content
		header.pop-brands__header
			h1.pop-brands__header-title популярные <span>бренды</span>
			a.pop-brands__header-link-top.btn.btn--transparent-round(href="#") показать все бренды
		ul.pop-brands__list
			li.pop-brands__item
				a.pop-brands__item-link(href="#")
					.pop-brands__item-pic
						img(src="img/img-logo-cube.jpg", alt="Brand Name")
					.pop-brands__item-name австрия
			li.pop-brands__item
				a.pop-brands__item-link(href="#")
					.pop-brands__item-pic
						img(src="img/img-logo-kellys.jpg", alt="Brand Name")
					.pop-brands__item-name германия
			li.pop-brands__item
				a.pop-brands__item-link(href="#")
					.pop-brands__item-pic
						img(src="img/img-logo-merida.jpg", alt="Brand Name")
					.pop-brands__item-name китай
			li.pop-brands__item
				a.pop-brands__item-link(href="#")
					.pop-brands__item-pic
						img(src="img/img-logo-giant.jpg", alt="Brand Name")
					.pop-brands__item-name Россия
			li.pop-brands__item
				a.pop-brands__item-link(href="#")
					.pop-brands__item-pic
						img(src="img/img-logo-trek.jpg", alt="Brand Name")
					.pop-brands__item-name Франция
		a.pop-brands__header-link-bottom.btn.btn--transparent-round(href="#") показать все бренды




