.main-slider
	.main-slider--js
		a.main-slider__item(href="#")
			img(src="img/img-slider.jpg", alt="Slider Pic")
		a.main-slider__item(href="#")
			img(src="img/img-slider.jpg", alt="Slider Pic")
		a.main-slider__item(href="#")
			img(src="img/img-slider.jpg", alt="Slider Pic")
