.main-slider
	ul.main-slider--js
		li.main-slider__item
			a.main-slider__link(href="#")
				img(src="img/img-slider.jpg", alt="Slider Pic")
		li.main-slider__item
			a.main-slider__link(href="#")
				img(src="img/img-slider.jpg", alt="Slider Pic")
		li.main-slider__item
			a.main-slider__link(href="#")
				img(src="img/img-slider.jpg", alt="Slider Pic")
