section.welcome
	h5.welcome__title Добро пожаловать в интернет магазин Веоматрикс.ру!

	.welcome__text
		<p>Мы предлагаем Вам велосипеды, <a href="#">велозапчасти</a> и аксессуары известных мировых брендов. Наш опыт работы в велоиндустрии насчитывает более восьми лет. Обращаясь к нам, Вы получите грамотную и квалифицированную консультацию.  Приглашаем Вас посетить наш розничный магазин в "Сокольниках", расположенный по адресу: м.Сокольники, Сокольническая площадь, д.9, к.2</p>