section.workshop
	.main-content
		.workshop__inner-wrap
			.workshop__icon
				img(src="img/icon-workshop.svg", width="84", height="84", alt="Workshop icon")
			.workshop__title-txt-wrap
				h3.workshop__title У нас есть <span>мастерская!</span>
				.workshop__text.
					Гарантийное обслуживание и технический
					осмотр велосипедов и самокатов. Ремонт,
					настройка и сборка велосипедов любой
					сложности.
			.workshop__schedule
				.workshop__address <span>м. Сокольники,</span> <i>Сокольническая пл., д.9, к.2</i>
				.workshop__worktime Ежедневно с 10.00 до 20.00
			.workshop__text.root.
				Гарантийное обслуживание и технический
				осмотр велосипедов и самокатов. Ремонт,
				настройка и сборка велосипедов любой
				сложности.
			.workshop__image
				img(src="img/illustration.png", width="341", height="130", alt="Illustration")
		a.workshop-link.btn.btn--transparent-round(href="#") Другие наши услуги














