/* Account Profile */

.account--profile {

}

.profile {
	background-color: white;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	box-shadow: 2.1px 2.1px 4px rgba(0, 0, 0, 0.08);
	overflow: hidden;
	margin-bottom: 20px;
}

.update-info {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #8bbe4f;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
}

.profile__info {
	width: 100%;
	padding-bottom: 15px;

}

.profile__info-row {
	padding-top: 20px;
	padding-bottom: 7px;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	&:not(:last-child) {
		border-bottom: 1px solid $bd-grey;
	}

	form {
		width: 100%;
	}
}
.info-row__property,
.info-row__value {
	display: inline-block;
}

.info-row__property {
	text-align: left;
}

.info-row__value {
	text-align: right;
	font-weight: 700;
}

.edit-profile-btn {
	@include btn--red;
	padding-top: 9px;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: none;
	display: table!important;
	margin: 0 auto;
}

.profile__edit-row {
	input {
		width: 100%;
		padding-top: 11px;
		padding-bottom: 9px;
		line-height: 1;
		margin-top: 5px;
	}
	&:not(:last-child) {
		margin-bottom: 20px;
	}
}

.profile--social {
	padding-top: 20px;
	padding-bottom: 20px;
}

.profile__social {
	text-align: center;
}

.profile__social-title {
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 10px;
}

.profile__social-descr {
	margin: 0 auto;
}



/* ==============Only Mobile Styles * 767 * ==============
*******************************************************/
@media (max-width: 767px) {

	.info-row__value {
		width: 113px;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.profile__edit {
		padding: 20px;
	}

	.profile--social {
		padding-left: 30px;
		padding-right: 30px;
		
	}
} // media query



/* ============== Only Mobile&Tablet styles * 1023 * ======
*******************************************************/
@media (max-width: 1023px) {
	
}//@media (max-width: 1023px) 


/* ==============Only Tablet Styles !!! 768 < || 1023======
*******************************************************/
@media (min-width: 768px) and (max-width: 1023px) {
	.profile__social-descr {
		width: 630px;
	}
}


/* ==============Tablet Media queries============
*******************************************************/
@media (min-width: 768px) {
	.profile__inner {
		width: 350px;
		margin: 0 auto;
	}

	.profile__info-row  {
		padding-left: 0;
		padding-right: 0;
		padding-top: 30px;
	}

	.info-row__value {
		width: 155px;
	}

	.profile--edit {
		padding-top: 20px;
		padding-bottom: 20px;
	}


	.profile__edit {
		width: 250px;
		margin: 0 auto;
	}
} //(min-width: 768px)


/* ==============Desktop Media queries============
*******************************************************/
@media (min-width: 1024px) {

	
}


/* Account Profile  End*/

