/* bicycle Styles */
.bic {
	margin-bottom: 20px;
}

.bic-item {

}
.bic-item__descr-title-link {
	margin-bottom: 15px;
}

.bic-item__descr-title {
	font-weight: 900;
	text-transform: uppercase;
	filter: drop-shadow(4px 4px 0 #efefef);
}

.bic-item__descr-text {
	p {
		word-wrap: break-word;
	}
}

.show-more-cats {
	display: table;
	margin: auto;
	margin-top: 20px;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		left: 50%;
		top: -23px;
		margin-left: -7px;
		background: url("../img/icon-more-cats.svg") 0 0 no-repeat;
		background-size: 15px 20px;
		width: 15px;
		height: 21px;
	}
}

/* Only Mobile Styles */
@media (max-width: 767px) {
	
	.bic {
		//width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}

	.bic-item__descr-title {
		font-size: 20px;
	}
	
	.bic-item {
		margin-bottom: 35px;
	}
}

/* Only Mobile&Tablet styles */
@media (max-width: 1023px) {
	.bic-item__descr-title-link {
		&:hover {
			.bic-item__descr-title-icon {
			background-image: url("../img/icon-cat-arrow-hover.svg");
			border-color: $red-base;
			}
		}
	}

	.bic-item__descr-title {
		display: inline-block;
		vertical-align: middle;
	}

	.bic-item__descr-title-icon {
		display: inline-block;
		vertical-align: middle;
		background-color: white;
		border: 1px solid #c6c6c6;
		background-image: url("../img/icon-cat-arrow.svg");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 5px 7px;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		margin-left: 5px;
	}

	.bic-item__descr-image {
		display: none;
	}

	.bic-item__descr-text {
		margin-bottom: 25px;
	}
	
	.bic-item__config-links {
		margin-bottom: 20px;
	}
	
	.bic-item__cat-link {
		display: none;
	}

	.sales-leader__arrow {
		display: none;
	}
}//@media (max-width: 1023px) 


/* Only Tablet Styles */
@media (min-width: 768px) and (max-width: 1023px) {
	.bic {
		width: 718px;
		margin: 0 auto;
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 20px;
	}
}

/*Tablet Media queries*/
@media (min-width: 768px) {
	.bic-item__descr-title {
		font-size: 40px;
		filter: drop-shadow(8px 8px 0 #efefef);
	}
	.bic-item {
		margin-bottom: 50px;
		&:last-child {
			margin-bottom: 70px;
		}
	}
	
}


/*Desktop Media queries*/
@media (min-width: 1024px) {
	.bic {
		@include clearfix;
		margin-bottom: 70px;
	}

	.bic-item--sales-leader-first {
		&.bic-item {
			padding-left: 2.322340919647%;
			padding-right: 0;
		}

		.bic-item__descr-wrapper {
			//margin-left: 2.322340919647%;
			//padding-right: 2.322340919647%;
		}
	}

	.bic-item {
		//padding-left: 2.322340919647%;
		padding-right: 2.322340919647%;
		font-size: 0;
		position: relative;
		display: flex; //?
		align-items: center;//?
		margin-bottom: 30px;
		
		
		// &:before, &:after {
		// 	content: '';
		// 	position: absolute;
		// 	left: 0; right: 0;
		// 	height: 1px;
		// 	opacity: 0.1;
		// 	background-color: black;
		// 	z-index: -1;
		// }

		// &:before {
		// 	top: 20px;
		// }
		
		// &:after {
		// 	bottom: 20px;
		// }

	}

	.bic-item__descr-wrapper {
		width: 76.457217080695%;//!
		//width: 100%;
		//display: inline-block; //!
		//vertical-align: middle; //!
		@include clearfix;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 2.322340919647%;
		border-bottom: 1px solid $bd-grey;
		border-top: 1px solid $bd-grey;
		//padding-right: 22.449295556588%;

		
	}

	.bic-item__descr-top {
		width: 44.595455510724%;
		float: left;
		position: relative;
	}

	.bic-item__descr-title-link {
		position: absolute;
		left: 0;
		top: -20px;
	}

	.bic-item__descr-image {
		position: absolute;
		left: 0;
		top: 20px;
	}

	.bic-item__descr-body {
		width: 55.404544489276%;
		float: right;
		padding-left: 6.370779358675%;
		padding-right: 3.185389679337%;//!
	}

	.bic-item__descr-text {
		font-size: 16px;
		margin-bottom: 30px;
		p {
			margin-bottom: 5px;
		}
	}

	.bic-item__descr-title {
		font-size: 50px;
	}

	.bic-item__cat-link {
		display: inline-block;
		font-size: 14px;
		color: #ed0000;
		margin-top: 40px;
		position: relative;
		&:hover {
			text-decoration: underline;
		}
		&:after {
			content: '';
			top: 50%;
			right: -20px;
			margin-top: -13px;
			position: absolute;
			width: 14px;
			height: 25px;
			background: url("../img/Shape-16.png") 0 0 no-repeat;
		}
	}
}

/* bicycles  End*/

