/* brands Styles */
.brands-page {
	background-color: #f2f2f2;
	
}

.brands-page__inner {
	padding-bottom: 30px;
}

.brands-page__title {
	text-align: center;
	font-size: 40px;
	font-weight: 700;
}

.brands-page__content-list {
	font-size: 0;
	margin-right: -32px;
	//text-align: center
}

.brands-page__content-item {
	display: inline-block;
	width: 132px;
	vertical-align: top;
	text-align: center;
	margin-bottom: 20px;
	&:hover {
		.brands-page__item-name {
			color: $red-base;
			transition: color .3s ease;
		}
	}
}

.brands-page__item-image {
	width: 100%;
	height: 100px;
	position: relative;
	background-color: white;
	border-radius: 3px;
	box-shadow: 4px 0 6px rgba(0,0,0,0.05);
	img {
		@include img-center;
		max-width: 85%;
	}
}

.brands-page__item-name {
	color: $blue-link;
	font-weight: 700;
	font-size: 14px;
	margin-top: 5px;
	transition: color .3s ease;
}

/* ==============Only Mobile Styles * 767 * ==============
*******************************************************/
@media (max-width: 767px) {

	.brands-page {
		margin-top: -10px;
	}

	.brands-page__inner {
		display: table;
		margin: 0 auto;
		padding-top: 20px;
	}


	.brands-page__content-list {
		margin-right: -20px;
		//text-align: center;
	}

	
}


/* ============== Only Mobile&Tablet styles * 1023 * ======
*******************************************************/
@media (max-width: 1023px) {
	
	.brands-page__content-item {
		margin-right: 20px;
	}

	.brands-page__title {
		margin-bottom: 20px;
	}

	.brands-page__content-list {
		text-align: center;
	}

}//@media (max-width: 1023px) 


/* ==============Only Tablet Styles !!! 768 < || 1023======
*******************************************************/
@media (min-width: 768px) and (max-width: 1023px) {
	

	.brands-page__inner {
		width: 718px;
		padding-left: 20px;
		padding-right: 20px;
	}

}


/* ==============Tablet Media queries============
*******************************************************/
@media (min-width: 768px) {
	.brands-page {
		margin-top: -20px;
	}
	.brands-page__inner {
		padding-top: 30px;
	}
} //(min-width: 768px)


/* ==============Desktop Media queries============
*******************************************************/
@media (min-width: 1024px) {
	
	
	.brands-page__inner {
		padding-left: 2.322340919647%;
		padding-right: 2.322340919647%;
		//@include clearfix;
		//font-size: 0;
		margin-left: 51px;
		//text-align: center;
		
		

		// @media (min-width: 1680px) {
		// 	margin-left: 0;
		// }

		@media (min-width: 1681px) {
			margin-left: 0;
		}

		@media (min-width: 1680px) {
			padding-left: 0;
			padding-right: 0;
		}
		.main-content {
			width: auto;
			max-width: 1341px;
			margin-left: auto;
			margin-right: auto;

			@media (min-width: 1681px) {
				max-width: 1550px;
			}
		}
	}

	.brands-page__title {
		margin-bottom: 30px;
	}

	.brands-page__content {
		display: table;
		margin-left: auto;
		margin-right: auto;
	}

	.brands-page__content-list {
		text-align: left;
	}
	
	.brands-page__content-item {
		margin-right: 27px;
	}

}



// @media (max-width: 1200px) and (min-width:1024px) {

// }

// @media (max-width: 1100px) and (min-width:1024px) {

// }

/* brands  End*/

