/* .slide-categories Styles */
.slide-categories {

}

.main-slider {
	margin-bottom: 10px;
	background-color: #2a2e2f;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	box-shadow: 2.1px 2.1px 4px rgba(0, 0, 0, 0.08);
}

.main-slider__item {
	
	&:nth-child(n+2) {
		display: none;
	}
}//.main-slider__item

.category-item {
	@include v-default-block;
	position: relative;
}

.category-item__desc {
	display: flex;

	&:hover {
		.category-item__title-icon {
			background: url("../img/icon-cat-arrow-hover.png") 0 0 no-repeat;
			background-size: 19px 19px;
		}
	}
}

.category-item__title {
	display: inline-block;
	vertical-align: middle;
	font-weight: 900;
	font-size: 18px;
	text-transform: uppercase;
}

.category-item__title-icon {
	display: inline-block;
	vertical-align: middle;
	background: url("../img/icon-cat-arrow.png") 0 0 no-repeat;
	background-size: 19px 19px;
	width: 19px;
	height: 19px;
}

.category-item__count {
	display: none;
}

.category-item__price {
	font-weight: 700;
}

.category-item__label {
		display: none;
	}


.category-item__footer {
	display: none;
}
/* Only Mobile Styles */
@media (max-width: 767px) {
	.slide-categories {
		margin-bottom: 25px;
	}

	.category-item {
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}
	.category-item__desc {
		align-content: center;
		padding: 10px;
	}
	
	.category-item__desc-wrapper {
		flex-grow: 1;
	}

	.category-item__price {
		font-size: 14px;
	}

	.category-item__pic {
		width: 80px;
		height: 80px;
		position: relative;

		img {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
	}

	

}

/* ==============Only Mobile Styles * 767 * ==============
*******************************************************/
@media (max-width: 1023px) {
	

	// .main-slider {
	// 	width: 100%;	
	// 	margin-bottom: 10px;
	// }

	// .main-slider__item {
	// 	width: auto;
	// 	img {
	// 		//min-width: 100%;
	// 	}
	// }

}//@media (max-width: 1023px) 

/* ============== Only Mobile&Tablet styles * 1023 * ======
*******************************************************/
@media (min-width: 768px) and (max-width: 1023px) {
	.slide-categories {
		width: 718px;
		margin: 0 auto;
	}
}


/* ==============Tablet Media queries============
*******************************************************/

@media (min-width: 768px) {
	.main-slider {
		margin-bottom: 50px;
	}

	.slide-categories {
		display: flex;
		flex-wrap: wrap;
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		justify-content: space-between;
	}

	.category-item {
		flex-basis: 329px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 18px;
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	.category-item__desc {
		flex-direction: column;
		align-content: center;
	}
	
	.category-item__desc-wrapper {
		//position: absolute;
		//top: 18px;
		//left: 15px;
		//z-index: 1;
	}

	.category-item__title {
		
	}

	.category-item__count {
		display: block;
		font-size: 14px;
		color: #999;
		font-weight: bold;
	}
	
	.category-item__price {
		font-size: 14px;
	}
	
	
	.category-item__pic {
		width: 90%;
		margin: auto;
		margin-bottom: 10px;
		img {
			display: table;
			margin: auto;
		}
	}

	.category-item__footer {
		display: block;
		margin-top: auto;
	}
	.category-item__brands {
		display: table;
		margin: 0 auto;
	}

	.category-item__brands-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: center;
	}

	.category-item__brands-item {
		flex-basis: 80px;
	}
	
	.category-item__filter {
		width: 100%;
		margin: 0 auto;
		margin-top: auto;
	}

	.category-item__filter-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-content: center;
	}

	.category-item__filter-item {
		margin-right: 40px;
		position: relative;
		&:last-child {
			margin-right: 0;
			&:after {
				display: none;
			}
		}

		&:after {
			content: '';
			position: absolute;
			width: 8px;
			height: 8px;
			border: 1px solid #cacaca;
			background-color: #fff;
			right: -22px;
			top: 50%;
			margin-top: -5px;
			border-radius: 50%;
		}
	}

	.category-item__filter-link {
		font-size: 12px;
		color: #666;
		&:hover {
			text-decoration: underline;
		}
	}
}




/* ==============Desktop Media queries============
*******************************************************/

@media (min-width: 1024px) {
	
	.slide-categories {
		padding-top: 20px;
		//padding-left: 2.237136465324%;
		padding-left: 2.322340919647%;
		padding-right: 2.322340919647%;
	}
	.main-slider {
		//flex-basis: 56.524981357196%;
		flex-basis: 58.677813903081%;
		margin-bottom: 20px;
	}

	.category-item {
		min-height: 320px;//?
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		position: relative;
		&.category-item--slider {
			flex-basis: 38.470469850608%;
		}
		flex-basis: 38.396036538164%;

		&.category-item--narrow {
			flex-basis: 18.269081901223%;
			overflow: hidden;
			.category-item__pic {
				width: 225%;
				img {
					width: 100%;
				}
			}
		}

		&.category-item--wide {
			flex-basis: 48.459513856634%;
		}

		&.red-ribbon {
			background-image: url("../img/red-ribbon.svg");
			background-repeat: no-repeat;
			background-position: -104px -91px;
			background-size: 399px 351px;
		}
	}
	
	.category-item__label {
		display: block;
		position: absolute; right: 20px; top: 30px;
		z-index: 2;
		font-size: 10px;
		color: #fff;
		font-weight: 700;
		padding-top: 6px;
		padding-bottom: 6px;
		padding-left: 20px;
		padding-right: 20px;
		text-transform: uppercase;
		&:after {
			top: 15px;
			right:5px;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(83, 146, 0, 0);
			border-width: 11px;
			margin-left: -11px;
			transform: rotate(135deg);
		}
	}

	&.category-item__label--green {
		background-color: #6cbf00;
		&:after {
			border-top-color: #539200;
		}
	}

	&.category-item__label--red {
		background-color: #ed0000;
		&:after {
			border-top-color: #af0000;
		}
	}

	&.category-item__label--blue {
		background-color: #12449a;
		&:after {
			border-top-color: #072455;
		}
	}

	&.category-item__label--purple {
		background-color: #7200ff;
		&:after {
			border-top-color: #47009e;
		}
	}


	.category-item__footer {
		display: block;
		margin-top: 0;
	}
}

/* .slide-categories  End*/



