/* catalog-descr Styles */
.catalog-descr {
	border-bottom: 1px solid $bd-grey;
	border-top: 1px solid $bd-grey;
}

.catalog-descr__image {
	width: 130px;
	height: 80px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.catalog-descr__title {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.catalog-descr__content {
	font-size: 14px;
	margin-bottom: 10px;
}

.catalog-descr__detailed-text {
	font-size: 14px;
	font-weight: 700;
	a {
		font-size: 14px;
		display: inline;
		color: #6699cc;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}
}

/* ==============Only Mobile Styles * 767 * ==============
*******************************************************/
@media (max-width: 767px) {
	.catalog-descr {
		padding-left: 10px;
		padding-right: 10px;
	}

}


/* ============== Only Mobile&Tablet styles * 1023 * ======
*******************************************************/
@media (max-width: 1023px) {
	.catalog-descr {
		padding-top: 20px;
		padding-bottom: 20px;
	}


}//@media (max-width: 1023px) 


/* ==============Only Tablet Styles !!! 768 < || 1023======
*******************************************************/
@media (min-width: 768px) and (max-width: 1023px) {

}


/* ==============Tablet Media queries============
*******************************************************/
@media (min-width: 768px) {


} //(min-width: 768px)


/* ==============Desktop Media queries============
*******************************************************/
@media (min-width: 1024px) {
	.catalog-descr {
		display: none;
	}
}


/* catalog-descr  End*/

