/* checkout step4 Styles */
.checkout-confirmation {

}

.order__details-list {
	//margin-bottom: 20px;
}

.order__details-item {
	position: relative;
	font-size: 14px;

	&.receiver {
		&::before {
			background-image: url('../img/icon-checkout-user.png');
		}
	}

	&.shipping {
		&::before {
			width: 16px;
			height: 12px;
			background-image: url('../img/icon-check-delivery.png');
			background-size: 16px 12px;
		}
		.item-details-wrapper {
			&:first-child {
				line-height: 1;
			}
		}
	}

	&.payment {
		line-height: 1;
		&::before {
			width: 16px;
			height: 11px;
			background-image: url('../img/icon-check-payment.png');
			background-size: 16px 11px;
		}
	}

	&::before {
		content: '';
		position: absolute;
		width: 16px;
		height: 16px;
		
		background-repeat: no-repeat;
		background-size: 16px 16px;
		top: 0;
		left: 0;
	}
}

.item-details-wrapper {
	b {
		font-weight: 400;
	}

	strong {
		font-weight: 700;
	}

	em {
		font-style: normal;
		font-weight: 700;
	}
}

.confirmation-top {

	.shipping-type__inner {
		padding: 20px;
	}
}

.order-conf__title {
	color: black;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}

.order__goods-item {
	.item-image a {
		display: block;
		background-color: white;
		border: 1px solid #e5e5e5;
		border-radius: 3px;
		position: relative;
		
		img {
			@include img-center;
			max-width: 90%;
		}

		&:hover {
			border-color: $red-base;
		}
	}

	.item-name a {
		font-weight: 700;
		&:hover {
			color: $blue-link;
		}
	}
}

.item-addon {
	border-top: 1px dashed $bd-grey;

	.item-name__text {
		font-weight: 700;
		font-size: 14px;
	}

	.item-image {
		//display: flex;
		//justify-content: center;
		//align-items: center;
	}

	.three-dot {
		display: block;
		position: relative;
		width: 9px;
		height: 9px;
		background-color: white;
		border: 2px solid #e5e5e5;
		border-radius: 50%;
		//transform: translateX(50%);
		&::before {
			content: '';
			position: absolute;
			left: -15px;
			top: -2px;
			width: 9px;
			height: 9px;
			background-color: white;
			border: 2px solid #e5e5e5;
			border-radius: 50%;

		}

		&::after {
			content: '';
			position: absolute;
			right: -15px;
			top: -2px;
			width: 9px;
			height: 9px;
			background-color: white;
			border: 2px solid #e5e5e5;
			border-radius: 50%;
		}
	}
}

.confirmation-bottom__discount,
.confirmation-bottom__total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid $bd-grey;
	font-weight: 700;
	font-size: 18px;

	.discount-amount {
		.num, .currency {
			display: inline-block;
		}
	}
}

.confirmation-bottom__total {
	padding-top: 15px;
}

.confirmation-bottom__agreement {
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
	display: flex;
	label {
		margin-left: 10px;
		font-size: 13px;
		a {
			display: inline-block;
			color: $blue-link;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.confirmation-bottom__comments {
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
	textarea {
		//width: 260px;
		min-height: 60px;
		background-color: white;
		border: 1px solid #ccc;
		border-radius: 3px;
	}
}

/* ==============Only Mobile Styles * 767 * ==============
*******************************************************/
@media (max-width: 767px) {
	.checkout-confirmation {
		.checkout-main__steps-inner {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.confirmation-top {
		margin-bottom: 50px!important;
	}

	.order__details-item {
		&:not(:last-child) {
			margin-bottom: 20px;
		}

		padding-left: 25px;
	}

	.item-details-wrapper {
		&:not(:first-child) {
			margin-top: 20px;
		}
	}

	.confirmation-bottom {
		position: relative;

		.order-conf__title {
			position: absolute;
			top: -25px;
		}
	}

	.order__items-list-header {
		display: none;
	}

	.order__goods-item {
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		border-bottom: 1px solid $bd-grey;
		font-size: 13px;
		.item-image a {
			width: 70px;
			height: 70px;
			font-size: 14px;
		}
	}

	.main-item-row {
		position: relative;
		
		.item-total {
			padding-bottom: 20px;
		}
	}

	.item-image {
		position: absolute;
	}

	.item-name,
	.item-quantity,
	.item-total {
		display: block;
		margin-left: 80px;
	}

	.item-name,
	.item-quantity {
		font-size: 12px;
	}

	.item-quantity {
		.quantity-num {
			display: inline-block;
		}
	}

	.item-total {
		font-weight: 700;
	}

	.item-addon {
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
		position: relative;
		.item-image {
			width: 70px;
			height: 70px;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 5px;
			left: 0px;
		}
	}

	.confirmation-bottom__total {
		.discount-text {
			width: 140px;
		}
	}
} // media query



/* ============== Only Mobile&Tablet styles * 1023 * ======
*******************************************************/
@media (max-width: 1023px) {

}//@media (max-width: 1023px) 


/* ==============Only Tablet Styles !!! 768 < || 1023======
*******************************************************/
@media (min-width: 768px) and (max-width: 1023px) {

}


/* ==============Tablet Media queries============
*******************************************************/
@media (min-width: 768px) {
	.checkout-confirmation .checkout__step-content {
		width: 100%;
	}

	.checkout-confirmation .checkout-main__steps {
		width: 728px;
		padding-left: 0;
		padding-right: 0;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.checkout-confirmation .shipping-type {
		width: auto;
		border: none;
	}

	.checkout-confirmation .checkout__step-header{
		margin-bottom: 0;
	}

	.checkout-confirmation .checkout-main__steps-inner{
		width: 728px;
		margin-left: 0;
		margin-right: 0;
	}

	.order__details-item {
		padding-left: 53px;
		&:not(:last-child) {
			margin-bottom: 35px;
		}

		&::before {
			width: 25px;
			height: 25px;
			background-size: 25px 25px;
		}

		&.shipping {
			&::before {
				width: 66px;
				height: 50px;
				background-size: 33px 25px;
			}
		}

		&.payment {
			&::before {
				width: 33px;
				height: 23px;
				background-image: url('../img/icon-check-payment.png');
				background-size: 33px 23px;
			}
		}

		.item-details-wrapper {
			&:not(:first-child) {
				margin-top: 10px;
			}
		}
	}

	.order__goods-list {
		width: 728px;
		//margin-bottom: 20px;
	}

	.order__goods-item {
		width: 100%;
		padding-top: 20px;
		//padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		border-bottom: 1px solid $bd-grey;
		.item-image a {
			width: 100px;
			height: 100px;
		}

		.item-image {
			width: 120px;
			padding-bottom: 20px;
		}

		.item-name {
			 width: 340px;
			margin-bottom: 20px;
			.item-name__text {
				width: 280px;
			}
		}

		.item-quantity {
			width: 150px;

			font-size: 13px;
			.quantity-text {
				display: none;
			}
		}

		.item-total {
			width: 116px;
			font-size: 13px;
			font-weight: 700;

			.item-total__text {
				display: none;
			}
		}
	}

	.confirmation-top {
		margin-bottom: 20px!important;
	}

	.confirmation-bottom {

		.order-conf__title {
			margin-left: 20px;
			margin-bottom: 20px;
		}
	}

	.order__goods-list {

	}

	.order__items-list-header {
		border-top: 1px solid $bd-grey;
		border-bottom: 1px solid $bd-grey;
		font-size: 0;
		&>div {
			display: inline-block;
			padding-top: 18px;
			padding-bottom: 23px;
			text-align: left;
			font-size: 13px;
			color: #999;

			&:first-child {
				padding-left: 20px;
			}

			&.name {
				width: 460px;
			}

			&.quantity {
				width: 145px;
				padding-left: 10px;
			}

			&.sum {
				width: 116px;
			}
		}
	}

	.inner-table {
		
		td {
			vertical-align: top;
		}
	}

	.item-addon {
		td {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.three-dot {
			
			top: 5px;
			left: 40px;
		}
	}

	.confirmation-bottom__agreement {
		// label {
		// 	width: 100%!important;
		// }
	}
} //(min-width: 768px)


/* ==============Desktop Media queries============
*******************************************************/
@media (min-width: 1024px) {

}


/* main-layout--checkout  End*/

