/* Config Panel Styles */


@media (max-width: 767px) {
	.config {
		display: none;
	}
}


@media (max-width: 1023px) {

}//@media (max-width: 1023px) 



/*Tablet Media queries*/
@media (min-width: 768px) {
	.config {
		flex-basis: 50px;
		outline: 1px solid red;
		min-height: 100%;
	}
}



/*Desktop Media queries*/
@media (min-width: 1024px) {
	.config {
		flex-basis: 3.594536304817%;
	}
}

/* Config Panel Styles End*/






















/*Tablet Media queries*/
@media (min-width: 768px) {

}



/*Desktop Media queries*/
@media (min-width: 1024px) {

}
