/* General Styles*/

@media (max-width: 1023px) and (min-width: 768px) {
	.wrapper.mobile-side-menu {
		
		.config {
			z-index: -1;
			//position: relative;
			//left: -50px;
		}
		.config {
			//position: static;
			display: none;
		}

		.main-content {
			//margin-left: 50px;
			//z-index: 1500;
		}
	}
}


@media (max-width: 1023px) {
	
	.wrapper.mobile-side-menu {
		
		.config {
			z-index: -1;
			position: relative;
		}
		// .config {
		// 	position: static;
		// 	display: none;
		// }

		// .main-content {
		// 	margin-left: 50px;
		// }
	}

	.main-content {
		width: 100%;
	}

	.page-header {
		width: auto;
		margin: 0 auto;
	}
}

@media (min-width: 1024px) {
	.main-content {
		//width: 96.405463695183%;
		width: 100%;
		//border-right: 1px solid $bd-grey;
		//margin-left: 51px;
	}

	main {
		.main-content {
		//margin-left: auto;
		//margin-right: auto;
		//position: relative;
		//width: auto;
	}
	}
}