/* General Styles*/

@media (max-width: 1023px) {
	
	.wrapper.mobile-side-menu {
		
		.config {
			z-index: -1;
			position: relative;
		}
		// .config {
		// 	position: static;
		// 	display: none;
		// }

		// .main-content {
		// 	margin-left: 50px;
		// }
	}

	.main-content {
		width: 100%;
	}

	.page-header {
		width: auto;
		margin: 0 auto;
	}
}

@media (min-width: 1024px) {
	.main-content {
		width: 96.405463695183%;
		border-right: 1px solid $bd-grey;
	}
}