.page-header {
	position: relative;
}

.top-bar__toggle {
	display: none;
}

.top-bar {
	display: flex;
	position: relative;
	justify-content: space-between;
}


.top-bar__search-toggle {
	display: none;
}

.top-bar__phone-toggle {
	display: none;
}

.bottom-bar {
	display: flex;
}

.mobile-menu-header {
	display: none;
}

.overlay {
	//position: absolute;
	background-color: rgba(76, 76, 76, 0.8);
	z-index: 999;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

@media (max-width: 767px) {
	.page-header {
		
	}

	.top-bar {
		
	}
	
	.top-bar__address {
		display: none;
	}

	.bottom-bar {
		flex-direction: column;
	}

	.top-bar__search-toggle {
		display: flex;
		position: absolute;
		left: 41px;
		width: 41px;
		height: 41px;
		border-right: 1px solid $bd-grey;
	}

	.top-bar__search-toggle-text {
			@include link-text-indent;
		}

	.top-bar__search-toggle-icon {
		width: 16px;
		height: 16px;
		margin: auto;
	}

	.top-bar__phone-toggle {
		display: flex;
		position: absolute;
		right: 41px;
		width: 41px;
		height: 41px;
		border-left: 1px solid $bd-grey;
	}

	.top-bar__phone-toggle-text {
		@include link-text-indent;
	}

	.top-bar__phone-toggle-icon {
		width: 16px;
		height: 17px;
		margin: auto;
	}
}


@media (max-width: 1023px) {
	.top-bar {
		width: auto;
		border-bottom: 1px solid $bd-grey;
	}

	.top-bar__address {
		align-self: center;
		color: #666;
		font-size: 13px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			bottom: 2px;
			left: 0;
			right: 0;
			height: 1px;
			background-color: #dfdfdf;
		}
	}
	
	.top-bar__toggle {
		display: block;
		width: 41px;
		height: 41px;
		background: url("../img/icon-hamburger.svg") center center no-repeat;
		background-size: 19px 13px;
		border-right: 1px solid $bd-grey;
		//border-bottom: 1px solid $bd-grey;
	}

	.top-bar__toggle-text {
		@include link-text-indent;
	}

	.top-bar__nav {
		display: none;
	}
	
	.page-search {
		//order: 0;
	}

	.page-support {
		//order:2;
	}

	.top-bar__nav {
		
	}

	/*-------Mobile Side Menu
	================================================ */
	.mobile-side-menu {


	}
	.mobile-side-menu .main-content {
		position: static;
	}
	.mobile-side-menu .page-header{
		position: static;
	}
	.mobile-side-menu .top-bar {
		position: static;
	}
	.mobile-side-menu .side-menu-opened {
		display: block;
	}

	.top-bar__nav.side-menu-opened {
		display: flex;
		flex-direction: column;
		width: 270px;
		
		position: absolute;
		left: -300px;
		top: 0;
		z-index: 1000;

		background-color: white;

		.mobile-menu-header {
			border-bottom: 1px solid $bd-grey;
			display: flex;
			position: relative;
			min-height: 51px;
			justify-content: center;
			align-items: center;
		}

		.mobile-menu__close-btn {
			@include link-text-indent;
			min-height: 51px;
			width: 51px;
			position: absolute;
			left: 0;
			top: 0;
			//opacity: 0.3;
			background: url('../img/icon-close.svg') 50% 50% no-repeat;
			background-size: 13px 14px;
		}

		.mobile-menu__title {
			color: black;
			font-size: 15px;
			font-weight: 700;
			text-transform: uppercase;
		}

		.top-bar__user {
			order: 1;
			min-height: 51px;
			display: flex;
			align-items: center;
			border-bottom: 1px solid $bd-grey;
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
			padding-left: 22px;
			.top-bar__user-menu {
				display: none;
			}
		}

		.top-bar__user-link {
			padding-left: 30px;
			position: relative;
			width: 100%;
			&:before {
				@include pseudo;
				height: 16px;
				width: 16px;
				background-image: url("../img/icon-user.svg");
				background-size: 16px 15px;
				top: 50%;
				margin-top: -8px;
				left: 0;
			}

			&:after {
				@include pseudo;
				height: 13px;
				width: 8px;
				background-image: url("../img/icon-user-arrow.svg");
				background-size: 8px 13px;
				top: 50%;
				margin-top: -6px;
				right: 20px;
			}
		}

		.top-bar__menu-item {
			border-bottom: 1px solid $bd-grey;
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
			padding-left: 22px;

			.top-bar__menu-link {
				display: flex;
				align-items: center;
				width: 100%;
				min-height: 51px;
			}
		}

		.top-bar__menu-item--iconed {
			display: flex;
			align-items: center;

			.top-bar__menu-icon {
				margin-right: 10px;
			}

			.top-bar__menu-link {
				color: #008dc1;
			}
		}



		.top-bar__menu {
			order: 2;
		}

	}//.top-bar__nav.side-menu-opened

	/*-------User account open
	================================================ */
	.top-bar__nav.side-menu-opened.user-acc-open {
		
		.mobile-menu__close-btn {
			min-height: 51px;
			width: 51px;
			background: url('../img/icon-back.svg') 50% 50% no-repeat;
			background-size: 19px 12px;
		}

		.top-bar__menu {
			display: none;
		}

		.top-bar__user {
			border-bottom: none;
			padding-left: 0;
			.top-bar__user-link {
				display: none;
			}

			.top-bar__user-menu {
				display: flex;
				flex-direction: column;
				width: 100%;

			}

			.user-menu__item {
				width: 100%;
				border-bottom: 1px solid $bd-grey;
				
				&:last-child {
					order: -1;
				}

				a {
					width: 100%;
					min-height: 51px;
					padding-left: 20px;
					display: flex;
					align-items: center;
				}
			}
		}
	} //.user-acc-open

}//@media (max-width: 1023px) 

@media (min-width:768px) and (max-width: 1023px) {
	.top-bar__address-icon {
		display: none;
	}
}


/*Tablet Media queries*/
@media (min-width: 768px) {
	

	.top-bar {
		display: flex;
		position: relative;
		justify-content: space-between;
	}

	.bottom-bar {
		//flex-direction: row;
		justify-content: space-between;
		align-content: center;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid $bd-grey;
	}
	
	
	.top-bar__address-text {
		color: #666;
	}
	
}



/*Desktop Media queries*/
@media (min-width: 1024px) {
	.top-bar__toggle {
		display: none;
	}
	.top-bar__search-toggle {
		display: none;
	}

	.top-bar__phone-toggle {
		display: none;
	}

	.top-bar {
		//padding-left: 2.237136465324%;!!
		//padding-right: 2.237136465324%;!!
		padding-left: 2.322340919647%;//?
		padding-right: 2.322340919647%;//?
		padding-top: 15px;
		padding-bottom: 15px;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid $bd-grey;
	}

	.top-bar__address {
		//width: 17.417556897353%;!!
		width: 25%;//?
		flex-grow: .3;
		font-size: .9vw;
		color: #666;
		display: flex;
		align-items: center;
		//flex-shrink: 1;
		padding-right: 5%;
	}
	
	.top-bar__address-icon {
		width: 16px;
		height: 20px;
		flex-shrink: 0;
	}

	.top-bar__address-text {
		color: #666666;
		word-wrap: break-word;
		text-decoration: underline;
		margin-left: 5px;
		&:hover {
			text-decoration: none;
		}
	}

	.top-bar__nav {
		//width: 52.639727511999%;// !
		width: 55%;//?
		display: flex;
		justify-content: space-between;
		//align-content: center;//!
		align-items: center;//?
		//flex-shrink: 1; //!
		padding-right: 1.5%;
	}

	.top-bar__menu {
		width: 83.823529411765%;
		display: flex;
		align-content: center;
	}
	.top-bar__user {
		position: relative;
	}

	.top-bar__user-menu {
		position: absolute;
		top: 50px;
		left: 50%;
		margin-left: -80px;
		width: 160px;
		background-color: white;
		border: 1px solid #d0d0d0;
		border-radius: 3px;
		box-shadow: 3.5px 6.1px 5px rgba(0, 0, 0, 0.14);
		display: none;
		&::after,
		&::before {
				bottom: 100%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
		}

		&::before {
			border-color: rgba(229, 229, 229, 0);
			border-bottom-color: #d0d0d0;
			border-width: 9px;
			margin-left: -9px;
			}
		

		&::after {
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #fff;
			border-width: 8px;
			margin-left: -8px;
		}

	}
	

	.top-bar__user-link {
		display: block;
		width: 40px;
		height: 40px;
		border: 2px solid #d1d1d1;
		border-radius: 20px;
		background: url("../img/icon-user.svg") center center no-repeat;
		background-size: 12px 12px;
	}

	.user-menu__item {
		text-align: center;
		&:first-child {
			border-bottom: 1px solid $bd-grey;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				height: 30px;
				top: -20px;
				background-color: transparent;
			}
		}
	}

	.user-menu__item a {
		font-size: 14px;
		padding-top: 9px;
		padding-bottom: 10px;
		&:hover {
			color: $blue-link;
		}
	}

	.top-bar__user-icon {
	
	}

	.top-bar__user-text {
		@include link-text-indent;
	}

	

	.top-bar__menu-list {
		//display: flex;
		//flex-wrap: wrap;
		//flex-grow: 1;
		//align-items: center;
		//justify-content: space-around;
		font-weight: 400;
		@include justified-menu;
	}
	
	.top-bar__menu-item {
		@include justified-menu_item;
		//margin-right: 7.352941176471%;
		&:last-child {
			margin-right: 0;
		}
	}

	.top-bar__menu-link {
		color: #000;
		font-size: .8vw;
	}

	.top-bar__menu-item--iconed {
		position: relative;
		&.top-bar__menu-item {
			padding-left: 4.411764705882%;
		}

		.top-bar__menu-link {
			color: #008dc1;
			font-weight: 700;
			padding-left: 5px;
		}

		.top-bar__menu-icon {
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -7px;
		}
	}



	.cart {
		width: 20%;
		text-align: right;
		//flex-shrink: 1;
	}

	.bottom-bar {
		padding-top: 33px;
		padding-bottom: 33px;
		justify-content: space-around;
		align-items: center;
	}
}
























/*Tablet Media queries*/
@media (min-width: 768px) {

}



/*Desktop Media queries*/
@media (min-width: 1024px) {

}
