.page-header {
	position: relative;
}

.top-bar__toggle {
	display: none;
}

.top-bar {
	display: flex;
	position: relative;
	justify-content: space-between;
}


.top-bar__search-toggle {
	display: none;
}

.top-bar__phone-toggle {
	display: none;
}

.bottom-bar {
	display: flex;
}

@media (max-width: 767px) {
	.page-header {
		
	}

	.top-bar {
		
	}
	
	.top-bar__address {
		display: none;
	}

	.bottom-bar {
		flex-direction: column;
	}

	.top-bar__search-toggle {
		display: flex;
		position: absolute;
		left: 41px;
		width: 41px;
		height: 41px;
		border-right: 1px solid $bd-grey;
	}

	.top-bar__search-toggle-text {
			@include link-text-indent;
		}

	.top-bar__search-toggle-icon {
		width: 16px;
		height: 16px;
		margin: auto;
	}

	.top-bar__phone-toggle {
		display: flex;
		position: absolute;
		right: 41px;
		width: 41px;
		height: 41px;
		border-left: 1px solid $bd-grey;
	}

	.top-bar__phone-toggle-text {
		@include link-text-indent;
	}

	.top-bar__phone-toggle-icon {
		width: 16px;
		height: 17px;
		margin: auto;
	}
}


@media (max-width: 1023px) {
	.top-bar {
		width: auto;
		border-bottom: 1px solid $bd-grey;
	}

	.top-bar__address {
		align-self: center;
		color: #666;
		font-size: 13px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			bottom: 2px;
			left: 0;
			right: 0;
			height: 1px;
			background-color: #dfdfdf;
		}
	}
	
	.top-bar__toggle {
		display: block;
		width: 41px;
		height: 41px;
		background: url("../img/icon-hamburger.svg") center center no-repeat;
		background-size: 19px 13px;
		border-right: 1px solid $bd-grey;
		//border-bottom: 1px solid $bd-grey;
	}

	.top-bar__toggle-text {
		@include link-text-indent;
	}

	.top-bar__nav {
		display: none;
	}
	
	.page-search {
		//order: 0;
	}

	.page-support {
		//order:2;
	}
}//@media (max-width: 1023px) 

@media (min-width:768px) and (max-width: 1023px) {
	.top-bar__address-icon {
		display: none;
	}
}


/*Tablet Media queries*/
@media (min-width: 768px) {
	

	.top-bar {
		display: flex;
		position: relative;
		justify-content: space-between;
	}

	.bottom-bar {
		//flex-direction: row;
		justify-content: space-between;
		align-content: center;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid $bd-grey;
	}
	
	
	.top-bar__address-text {
		color: #666;
	}
	
}



/*Desktop Media queries*/
@media (min-width: 1024px) {
	.top-bar__toggle {
		display: none;
	}
	.top-bar__search-toggle {
		display: none;
	}

	.top-bar__phone-toggle {
		display: none;
	}

	.top-bar {
		//padding-left: 2.237136465324%;!!
		//padding-right: 2.237136465324%;!!
		padding-left: 2.322340919647%;//?
		padding-right: 2.322340919647%;//?
		padding-top: 15px;
		padding-bottom: 15px;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid $bd-grey;
	}

	.top-bar__address {
		//width: 17.417556897353%;!!
		width: 25%;//?
		flex-grow: .3;
		font-size: .9vw;
		color: #666;
		display: flex;
		align-items: center;
		//flex-shrink: 1;
		padding-right: 5%;
	}
	
	.top-bar__address-icon {
		width: 16px;
		height: 20px;
		flex-shrink: 0;
	}

	.top-bar__address-text {
		color: #666666;
		word-wrap: break-word;
		text-decoration: underline;
		margin-left: 5px;
		&:hover {
			text-decoration: none;
		}
	}

	.top-bar__nav {
		//width: 52.639727511999%;// !
		width: 55%;//?
		display: flex;
		justify-content: space-between;
		//align-content: center;//!
		align-items: center;//?
		//flex-shrink: 1; //!
		padding-right: 1.5%;
	}

	.top-bar__menu {
		width: 83.823529411765%;
		display: flex;
		align-content: center;
	}
	.top-bar__user {
		
	}
	.top-bar__menu-list {
		//display: flex;
		//flex-wrap: wrap;
		//flex-grow: 1;
		//align-items: center;
		//justify-content: space-around;
		font-weight: 400;
		@include justified-menu;
	}
	
	.top-bar__menu-item {
		@include justified-menu_item;
		//margin-right: 7.352941176471%;
		&:last-child {
			margin-right: 0;
		}
	}

	.top-bar__menu-link {
		color: #000;
		font-size: .8vw;
	}

	.top-bar__menu-item--iconed {
		position: relative;
		&.top-bar__menu-item {
			padding-left: 4.411764705882%;
		}

		.top-bar__menu-link {
			color: #008dc1;
			font-weight: 700;
			padding-left: 5px;
		}

		.top-bar__menu-icon {
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -7px;
		}
	}

	.top-bar__user-link {
		display: block;
		width: 40px;
		height: 40px;
		border: 2px solid #d1d1d1;
		border-radius: 20px;
		background: url("../img/icon-user.svg") center center no-repeat;
		background-size: 12px 12px;
	}

	.top-bar__user-icon {
	
	}

	.top-bar__user-text {
		@include link-text-indent;
	}

	.cart {
		width: 20%;
		text-align: right;
		//flex-shrink: 1;
	}

	.bottom-bar {
		padding-top: 33px;
		padding-bottom: 33px;
		justify-content: space-around;
		align-items: center;
	}
}
























/*Tablet Media queries*/
@media (min-width: 768px) {

}



/*Desktop Media queries*/
@media (min-width: 1024px) {

}
