/* Main Tag Styles */
main {

}

@media (max-width: 767px) {

}


@media (max-width: 1023px) {

}//@media (max-width: 1023px) 



/*Tablet Media queries*/
@media (min-width: 768px) {

}



/*Desktop Media queries*/
@media (min-width: 1024px) {
	main {
		padding-top: 20px;
		padding-left: 2.237136465324%;
		padding-right: 2.237136465324%;
	}
}

/* Config Panel Styles End*/






















/*Tablet Media queries*/
@media (min-width: 768px) {

}



/*Desktop Media queries*/
@media (min-width: 1024px) {

}
