/* Slider and Categories Styles */
.pop-brands {
	//display: flex;
	border-bottom: 1px solid $bd-grey;
	margin-bottom: 20px;
}

.pop-brands__header-title {
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 20px;
	text-align: center;
	span {
		color: #ed0000;
	}
}

.pop-brands__list {
	display: flex;
	flex-wrap: wrap;
}
.pop-brands__item {

}

.pop-brands__item-link {
	display: block;
	&:hover {
		.pop-brands__item-name {
			text-decoration: underline;
		}
	}
}

.pop-brands__item-name {
	//display: table;
	//margin: auto;
	text-align: center;
	font-size: 12px;
	color:#afafaf;
	text-transform: uppercase;
}
.pop-brands__item-pic {
	
	position: relative;
	img {
		width: 90%;
		position: absolute;
		top: 0;bottom: 0;left: 0;right: 0;
		margin: auto;
	}
}


/* Only Mobile Styles */
@media (max-width: 767px) {
	.pop-brands {
		//padding-left: 10px;
		//padding-right: 10px;
		//padding-bottom: 20px;
	}                                
	
	.pop-brands__list {
		justify-content: space-around;
	}

	.pop-brands__item {
		width: 28.75%;
		//width: 92px;
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
	}

	.pop-brands__item-pic {
		width: 90px;
		height: 70px;
		background-color: white;
		border: 1px solid #e5e5e5;
		border-radius: 3px;
	}
	.pop-brands__header-link-top,
	.pop-brands__header-link-bottom {
		display: none;
	}
}

/* Only Mobile&Tablet styles */
@media (max-width: 1023px) {
	.pop-brands__header,
	.pop-brands__list {
		width: 100%;
	}

	.pop-brands {
		margin-bottom: 25px;
	}

}//@media (max-width: 1023px) 


/* Only Tablet Styles */
@media (min-width: 768px) and (max-width: 1023px) {
	.pop-brands {
		width: 718px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
		border: none;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 1px;
			background-color: $bd-grey;
		}
	}

	.pop-brands__item {
		flex-basis: 110px;
		flex-shrink: 0;
	}

	.pop-brands__list {
		justify-content: space-between;
		margin-bottom: 20px;
	}
	
	.pop-brands__item-pic {
		width: 100%;
		height: 70px;
		margin-bottom: 10px;
	}

	.pop-brands__header-title {
		font-size: 23px;
	}
	
	.pop-brands__header-link-top {
		display: none;
	}
	
	.pop-brands__header-link-bottom {
		display: table;
		margin: auto;
		padding-top: 7px;
		padding-bottom: 8px;
		font-weight: 400;
		text-transform: lowercase;
	}
}

/*Tablet Media queries*/
@media (min-width: 768px) {

}


/*Desktop Media queries*/
@media (min-width: 1024px) {
	.pop-brands {
		// display: flex;
		// justify-content: space-between;
		// padding-left: 2.322340919647%;
		// padding-right: 2.322340919647%;
		// align-items: center;
		border: none;
		margin-bottom: 50px;
		margin-left: 51px;
		@media (min-width: 1681px) {
			margin-left: 0;
		}
		.main-content {
			display: flex;
			justify-content: space-between;
			padding-left: 2.322340919647%;
			padding-right: 2.322340919647%;
			align-items: center;
			max-width: 1341px;
			margin-left: auto;
			margin-right: auto;

			@media (min-width: 1680px) {
				// max-width: 1550px;

				//padding-left: 0;
				//padding-right: 0;
			}

			@media (min-width: 1681px) {
				max-width: 1550px;
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	.pop-brands__list {
		flex-basis: 0.78731343283582%;
		justify-content: space-between;
	}

	.pop-brands__header-link-top {
		display: block;
		width: auto;
		padding-top: 7px;
		padding-bottom: 8px;
		font-weight: 400;
		text-transform: lowercase;
		padding-left: 10px;
		padding-right: 10px;
	}

	.pop-brands__header {
		//flex-basis: 11.998761418176%;
		flex-basis: 11.567164179104%;
		height: 10.8vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		//align-items: center;
	}

	.pop-brands__header-title {
		font-size: 23px;
		font-weight: 300;
		text-align: right;
		margin-bottom: 10px;
		span {
			resize: 17px;
			font-weight: 900;
		}
	}

	.pop-brands__list {
		display: flex;
		flex-basis: 79.718222635083%;
	}

	.pop-brands__item {
		//flex-basis: 14.691943127962%;
		flex-basis: 15.691943%;
		//height: 11vw;
		height: 155px;
		position: relative;

		&:not(:last-child) {
			&::after {
				content: '';
				position: absolute;
				width: 1px;
				height: 100px;
				background-color: #e5e5e5;
				top: 50%;
				right: -17.290322580645%;
				margin-top: -50px;
			}
		}

		&:first-child {

			&:before {
				content: '';
				position: absolute;
				background: url("../img/brand_arrow.svg") 0 0 no-repeat;
				width: 82px;
				height: 160px;
				background-size: 113px 176px;
				top: 50%;
				margin-top: -88px;
				left: -64%;
			}
		}
	}

	.pop-brands__item-link {
		//height: 10.8vw;
		height:155px;
		position: relative;
	}

	.pop-brands__item-pic {
		//height: 10.8vw;
		height: 155px;
		img {
			@include img-center;
			z-index: 1;
		}
	}

	.pop-brands__item-name {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
	}
	.pop-brands__header-link-bottom {
		display: none;
	}
}

/* Slider and Categories  End*/



