/* Services */

.services__top-text {
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
	span {
		display: block;
		color: $red-base;
	}
}

.services__bonus-list {
	margin-bottom: 20px;
}

.services__bonus-item {
	background-color: white;
	border: 2px solid #e5e5e5;
	border-radius: 10px;
	font-weight: 600;
	
	background-repeat: no-repeat;
	background-position: 0 0;
	
	&.total {
		background-image: url("../img/icon-services-1.svg");
	}

	&.spare {
		background-image: url("../img/icon-services-2.svg");
	}

	&.setting {
		background-image: url("../img/icon-services-3.svg");
	}
}

.services__table {
	width: 100%;
	margin-bottom: 20px;
}

.services__tr {
	background-color: #fff;

}

.services__tr:not(:last-child) {
	border-bottom: 1px solid $bd-grey;
}

.services__th, .services__td {
	background-color: #fff;
	text-align: left;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	vertical-align: middle;
}

.services__th {
	position: relative;
	

	&:first-child {
		padding-left: 35px;
		&::before {
			content: '';
			position: absolute;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			left: 0;
			top: 50%;
			margin-top: -12px;
		}
	}
}

.services__td {
	position: relative;
	z-index: 2;
}

.services__table--general .services__th {
	&::before {
		background-color: #eb5a48;
	}
	
}

.services__table--prepare .services__th {
	&::before {
		background-color: #62ebff;
	}
}

.services__table--wheel .services__th {
	&::before {
		background-color: #fff000;
	}
}

.services__table--kareta .services__th {
	&::before {
		background-color: #000;
	}
}

.services__table--steering .services__th {
	&::before {
		background-color: #8bbe4f;
	}
}

.services__table--system .services__th {
	&::before {
		background-color: #69c;
	}
}

.services__table--chain .services__th {
	&::before {
		background-color: #f200e9;
	}
}

.services__table--brake .services__th {
	&::before {
		background-color: #ffa35f;
	}
}

.services__table--accessories .services__th {
	&::before {
		background-color: #c2f200;
	}
}

.services__td-title {
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.services__workshop-title {
	font-weight: 800;
	text-align: center;
	margin-bottom: 30px;
	
	span {
		color: $red-base;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			width: 50px;
			height: 50px;
			background: url("../img/icon-workshop.svg") 0 0 no-repeat;
			background-size: 50px 50px;
			right: -60px;
			top: 50%;
			margin-top: -25px;
		}
	}
}

.vmx-video {
	position: relative;
	&::after {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: rgba(0,0,0,.35);
		z-index: 1;
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 57px;
		height: 57px;
		background: url("../img/icon-play.svg") 0 0 no-repeat;
		background-size: 57px 57px;
		margin: auto;
		z-index: 2;
	}
}

.vmx-gallery-img {
	position: relative;
	overflow: hidden;
	&::after {
		content: '';
		position: absolute;
		background-color: rgba(0,0,0,.4);
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
	}

	&::before {
		content: '\e913';
		position: absolute;
		font-family: icons;
		color: #fff;
		display: inline-block;
		text-align: center;
		vertical-align: middle;
		font-size: 25px;
		left: 50%;
		top: 50%;
		margin-top: -15px;
		margin-left: -15px;
		z-index: 2;
	}

	img {
		transition: all .3s ease;
	}

	&:hover {
		img {
			transform: scale(1.1);
			transition: all .3s ease;
		}
	}
}

.services__vk {
	margin-bottom: 20px;
}






/* ==============Only Mobile Styles * 767 * ==============
*******************************************************/
@media (max-width: 767px) {
	.services {
		.blog__title {
			display: block;
			font-weight: 700;
			font-size: 16px;
			text-transform: uppercase;
			margin-bottom: 20px;
			padding-left: 10px;
		}
	}
	.services__top-text {
		font-size: 16px;
	}

	.services__bonus-item {
		width: auto;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-right: 15px;
		margin-bottom: 10px;
		padding-left: 90px;
		background-position: 20px center;
		i {
			display: none;
		}

		&.total {
			background-size: 50px 36px;
			
		}

		&.spare {
			background-size: 50px 50px;
			
		}

		&.setting {
			background-size: 38px 50px;
			
		}

	}

	.services__td:first-child {
		width: 59%;
	}

	.services__td:last-child {
		width: 34%;
	}

	.services__workshop-title {
		font-size: 27px;
		text-align: left;
	}

	.services__workshop {
		margin-bottom: 20px;
	}

	.workshop-gallery__item {
		width: 116px;
		height: 87px;
		margin-right: 10px;
	}
} // media query



/* ============== Only Mobile&Tablet styles * 1023 * ======
*******************************************************/
@media (max-width: 1023px) {
	.tablet-no-config {
		.services__illustration {
			display: none;
		}
	}
}//@media (max-width: 1023px) 


/* ==============Only Tablet Styles !!! 768 < || 1023======
*******************************************************/
@media (min-width: 768px) and (max-width: 1023px) {

	.services__bonus-item {
		padding: 90px 10px 20px;
		i {
			&:last-child {
				display: none;
			}
		}
		&.total {
			background-size: 62px 44px;
			
		}

		&.spare {
			background-size: 50px 50px;
			
		}

		&.setting {
			background-size: 38px 50px;
			
		}
	}

	.workshop-gallery__item {
		width: 199px;
		height: 149px;
		margin-right: 20px;
	}
}


/* ==============Tablet Media queries============
*******************************************************/
@media (min-width: 768px) {
	.services__top-text {
		font-size: 20px;
	}

	.services__bonus-list {
		display: flex;
		justify-content: space-between;
		//flex-wrap: wrap;
		margin-bottom: 30px;
	}

	.services__bonus-item {
		width: 32%;
		text-align: center;
		background-position: center 20px;
	}

	.services__th {
		font-size: 16px;
		span {
			position: relative;
		}
		&:first-child {
			span {
				&::after {
					content: '';
					position: absolute;
					z-index: 1;
				}
			}
		}
	}

	.services__table--general .services__th {
		span {
			&::after {
				width: 54px;
				height: 68px;
				right: -70px;
				bottom: -30px;
				background: url("../img/icon-services-th-general.svg") 0 0 no-repeat;
				background-size: 54px 68px;
			}
		}
	}

	.services__table--prepare .services__th {
		span {
			&::after {
				width: 52px;
				height: 50px;
				right: -70px;
				bottom: -30px;
				background: url("../img/icon-services-th-prepare.svg") 0 0 no-repeat;
				background-size: 52px 65px;
			}
		}
	}

	.services__table--wheel .services__th {
		span {
			&::after {
				width: 73px;
				height: 73px;
				right: -170px;
				bottom: -35px;
				background: url("../img/icon-services-th-wheel.svg") 0 0 no-repeat;
				background-size: 73px 73px;
			}
		}
	}

	.services__table--kareta .services__th {
		span {
			&::after {
				width: 55px;
				height: 48px;
				right: -70px;
				bottom: -25px;
				background: url("../img/icon-services-th-kareta.svg") 0 0 no-repeat;
				background-size: 55px 48px;
				transform: rotate(100deg);
			}
		}
	}

	.services__table--steering .services__th {
		span {
			&::after {
				width: 47px;
				height: 75px;
				right: -70px;
				bottom: -28px;
				background: url("../img/icon-services-th-steering.svg") 0 0 no-repeat;
				background-size: 47px 75px;
				transform: rotate(21deg);
			}
		}
	}

	.services__table--system .services__th {
		span {
			&::after {
				width: 46px;
				height: 46px;
				right: -60px;
				bottom: -18px;
				background: url("../img/icon-services-th-system.svg") 0 0 no-repeat;
				background-size: 46px 46px;
				//transform: rotate(21deg);
			}
		}
	}

	.services__table--chain .services__th {
		span {
			&::after {
				width: 95px;
				height: 94px;
				right: -116px;
				bottom: -54px;
				background: url("../img/icon-services-th-chain.svg") 0 0 no-repeat;
				background-size: 95px 94px;
				transform: rotate(-7deg) scale(.9);
			}
		}
	}

	.services__table--brake .services__th {
		span {
			&::after {
				width: 77px;
				height: 77px;
				right: -116px;
				bottom: -31px;
				background: url("../img/icon-services-th-brake.svg") 0 0 no-repeat;
				background-size: 77px 77px;
				//transform: rotate(-7deg) scale(.9);
			}
		}
	}

	.services__table--accessories .services__th {
		span {
			&::after {
				width: 77px;
				height: 77px;
				right: -116px;
				bottom: -31px;
				background: url("../img/icon-services-th-accessories.svg") 0 0 no-repeat;
				background-size: 77px 77px;
				transform: rotate(165deg) scale(.9);
			}
		}
	}

	.services__td:first-child {
		width: 65%;
	}

	.services__td:last-child {
		width: 30%;
	}

	.services__workshop-title {
		font-size: 40px;
	}

	.services__workshop {
		margin-bottom: 30px;
	}

} //(min-width: 768px)


/* ==============Desktop Media queries============
*******************************************************/
@media (min-width: 1024px) {
	.tablet-no-config {
		position: relative;
		.services__illustration {
			//margin-left: 51px;
			position: absolute;
			left: 51px;
			top: 370px;
			min-height: 224px;
			width: 120px;
			background-image: url("../img/ill-services.png");
			//background-position: 51px 300px;
			background-repeat: no-repeat;
			background-size: 120px 224px;
		}
	}

	.services__th {
		font-size: 20px;
	}

	

	.services__bonus-list {
		margin-bottom: 30px;
	}

	.services__bonus-item {
		padding-top: 120px;
		padding-bottom: 30px;
		padding-left: 30px;
		padding-right: 30px;
		background-position: center 30px;
		i:last-child {
			display: none;
		}
		&.total {
			background-size: 82px 59px;
			
		}

		&.spare {
			background-size: 67px 67px;
			
		}

		&.setting {
			background-size: 56px 74px;
			
		}
	}

	.workshop-gallery__item {
		width: 199px;
		height: 149px;
		margin-right: 45px;
	}

}



/* Services  End*/

